<%= render "/layouts/page_title", page_title: "Lakewood Applications", page_subtitle: "" %>
<section id="content">
  <div class="content-wrap dash-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="application-links">
          <%= link_to "Back to Index", lakewood_applications_path, class: "btn btn-success left-link" %>
          <%= link_to "Profile", "/lakewood_profiles/#{@lakewood_application.id}", {:remote => true, 'data-target' => '#profile-modal', class: "btn btn-default left-link" } %>
          <%= link_to 'Delete', lakewood_application_path(@lakewood_application), method: :delete, data: { confirm: 'Are you sure you want to delete this application?' }, class: "btn btn-danger right-link" %>
        </div>
        <div class="status-cohort">
          <%= form_for @lakewood_application, :html => {:class => 'status-cohort-form'} do |f| %>
            <%= f.select(:status, options_for_select([['Initial Call Scheduled'], ['Missed Call'], ['Interview 1 Scheduled'], ['Had Interview 1'], ['Missed Interview 1'], ['Interview 2 Scheduled'], ['Had Interview 2'], ['Missed Interview 2'], ['Applicant Undecided'], ['Rejected'], ['Accepted'], ['Submitted Enrollment Agreement'], ['Paid Deposit'], ['Deferred'], ['Declined (Financial)'], ['Declined (Schedule)'], ['Declined (Competitor)'], ['Declined (Location)'], ['Declined (Other)'], ['Interview Never Scheduled']], @lakewood_application.status), {:include_blank => 'Select Status'}, { class: 'form-control' })%>
            <%= f.select(:cohort, options_for_select([['CHI 7/31/16'], ['CHI 9/18/16'], ['CHI 11/20/16'], ['CHI 1/29/17'], ['SF 7/31/16'], ['SF 9/18/16'], ['SF 11/20/16'], ['SF 1/29/17'], ['SF 3/26/17'], ['NYC 7/31/16'], ['NYC 9/18/16'], ['NYC 11/20/16'], ['NYC 1/29/17'], ['NYC 3/26/17']], @lakewood_application.cohort), {:include_blank => 'Select Cohort'}, { class: 'form-control' })%>
            <%= f.label :notes, class: "sr-only" %>
            <%= f.text_field :notes, placeholder: "Add a note", class: "form-control" %>
            <%= f.submit "Update", class: "btn btn-primary select-button"%>
          <% end %>
        </div>
        <table class="table table-striped">
          <tr>
            <th class="col-md-3">Notes:</th>
            <td class="col-md-5"><%= @lakewood_application.notes %></td>
          </tr>
          <tr>
            <th class="col-md-3">Cohort:</th>
            <td class="col-md-5"><%= @lakewood_application.cohort %></td>
          </tr>
          <tr>
            <th class="col-md-3">Status:</th>
            <td class="col-md-5"><%= @lakewood_application.status %></td>
          </tr>
          <tr>
            <th class="col-md-3">History:</th>
            <td class="col-md-5">
            <% if @lakewood_application.statuses.any? %>
              <% @lakewood_application.statuses.each do |status| %>
                <div><%= link_to("#{status.text} #{status.date}", edit_status_path(status)) %></div>
              <% end %>
            <% end %>
            </td>
          </tr>
          <tr>
            <th class="col-md-3">First Name:</th>
            <td class="col-md-5"><%= @lakewood_application.first_name %></td>
          </tr>
          <tr>
            <th class="col-md-3">Last Name:</th>
            <td class="col-md-5"><%= @lakewood_application.last_name %></td>
          </tr>
          <tr>
            <th>Email:</th>
            <td class="col-md-5"><%= @lakewood_application.email %></td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td class="col-md-5"><%= @lakewood_application.phone %></td>
          </tr>
          <tr>
            <th>Address:</th>
            <td class="col-md-5"><%= @lakewood_application.address %></td>
          </tr>
          <tr>
            <th>Location:</th>
            <td class="col-md-5"><%= @lakewood_application.location %></td>
          </tr>
          <tr>
            <th>Application Sent:</th>
            <td class="col-md-5"><%= @lakewood_application.created_at.strftime("%A %B %d, %Y") %></td>
          </tr>
          <tr>
            <th>How they heard about Anyone Can Learn To Code:</th>
            <td class="col-md-5"><%= @lakewood_application.learn_about_acltc %></td>
          </tr>
          <tr>
            <th>If "Other," how they heard about Anyone Can Learn To Code:</th>
            <td class="col-md-5"><%= @lakewood_application.learn_about_acltc_specify %></td>
          </tr>
          <tr>
            <th class="col-md-3">Currently a student:</th>
            <td class="col-md-5"><%= @lakewood_application.currently_a_student %></td>
          </tr>
          <% if @lakewood_application.currently_a_student == "Yes" %>
            <tr>
              <th class="col-md-3">Student part-time or full-time:</th>
              <td class="col-md-5"><%= @lakewood_application.student_part_or_full_time %></td>
            </tr>
            <tr>
              <th class="col-md-3">Institution Name:</th>
              <td class="col-md-5"><%= @lakewood_application.institution_name %></td>
            </tr>
            <tr>
              <th class="col-md-3">Institution Location:</th>
              <td class="col-md-5"><%= @lakewood_application.institution_location %></td>
            </tr>
            <tr>
              <th class="col-md-3">Will they continue to be a student during the bootcamp:</th>
              <td class="col-md-5"><%= @lakewood_application.student_concurrently %></td>
            </tr>
          <% end %>
          <tr>
            <th class="col-md-3">Currently employed:</th>
            <td class="col-md-5"><%= @lakewood_application.currently_employed %></td>
          </tr>
          <% if @lakewood_application.currently_employed == "Yes" %>
            <tr>
              <th class="col-md-5">Employed part-time or full-time:</th>
              <td class="col-md-5"><%= @lakewood_application.employed_part_or_full_time %></td>
            </tr>
            <tr>
              <th class="col-md-3">Employer Name:</th>
              <td class="col-md-5"><%= @lakewood_application.employer_name %></td>
            </tr>
            <tr>
              <th class="col-md-3">Employer Location:</th>
              <td class="col-md-5"><%= @lakewood_application.employer_location %></td>
            </tr>
            <tr>
              <th class="col-md-3">Will they continue to work during the bootcamp:</th>
              <td class="col-md-5"><%= @lakewood_application.employed_concurrently %></td>
            </tr>
          <% end %>
          <tr>
            <th>Their primary goals in learning how to code:</th>
            <td class="col-md-5"><%= @lakewood_application.primary_goals %></td>
          </tr>
          <tr>
            <th>Previous programming experience:</th>
            <td class="col-md-5"><%= @lakewood_application.programming_experience %></td>
          </tr>
          <tr>
            <th>Examples of complex problem solving and logical analysis:</th>
            <td class="col-md-5"><%= @lakewood_application.tinker_example %></td>
          </tr>
          <tr>
            <th>Why they should be accepted over well-qualified candidates:</th>
            <td class="col-md-5"><%= @lakewood_application.why_better %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
