<%= render "/layouts/page_title", page_title: "FAQ", page_subtitle: "Frequently Asked Questions" %>
<% content_for :head do %>
  <title> Frequently Asked Questions about ACLTC and Actualize </title>
    <meta name="description" content='Learn more about Anyone Can Learn To Code & Actualize coding bootcamp scheduling, tuition & payments, curriculum, teaching style, & more.'>
  <% end %>
  

        <!-- Content
        ============================================= -->
        <section id="content">

          <div class="content-wrap">

            <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->


                      <div class="clear"></div>
                      <ul id="blog_admin_list">
                        <li><%= link_to('Create FAQ', new_faq_path) if current_admin %></li>
                      </ul>
                      <div id="faqs" class="faqs">
         
                        <% @faq_categories.each do |category| %>
                          <div><h3 style="color:#0093B1;padding-bottom:5px;"><i><%= category.upcase %></i></h3></div>
                          <% @faqs.each do |faq| %>
                            <% if faq.category == category %>             
                              <div class="toggle faq faq-marketplace faq-authors">
                                <div class="togglet"><i class="toggle-closed fa fa-plus"></i><i class="toggle-open fa fa-minus"></i><p class=" toggle-open faq-text"><%= faq.question %></p></div>
                                <div class="togglec">
                                  <%= faq.answer.html_safe %>
                                  <%= link_to "| Edit", edit_faq_path(faq) if current_admin %>
                                  <%= link_to "| Delete", faq_path(faq), method: :delete, data: {:confirm => 'Are you sure?'} if current_admin %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                          <br>
                        <% end %>
                      
                      </div>


                    <script type="text/javascript">
                      jQuery(document).ready(function($){
                        var $faqItems = $('#faqs .faq');
                        if( window.location.hash != '' ) {
                          var getFaqFilterHash = window.location.hash;
                          var hashFaqFilter = getFaqFilterHash.split('#');
                          if( $faqItems.hasClass( hashFaqFilter[1] ) ) {
                            $('#portfolio-filter li').removeClass('activeFilter');
                            $( '[data-filter=".'+ hashFaqFilter[1] +'"]' ).parent('li').addClass('activeFilter');
                            var hashFaqSelector = '.' + hashFaqFilter[1];
                            $faqItems.css('display', 'none');
                            if( hashFaqSelector != 'all' ) {
                              $( hashFaqSelector ).fadeIn(500);
                            } else {
                              $faqItems.fadeIn(500);   
                            }
                          }                                    
                        }

                        $('#portfolio-filter a').click(function(){
                          $('#portfolio-filter li').removeClass('activeFilter');
                          $(this).parent('li').addClass('activeFilter');
                          var faqSelector = $(this).attr('data-filter');
                          $faqItems.css('display', 'none');
                          if( faqSelector != 'all' ) {
                            $( faqSelector ).fadeIn(500);
                          } else {
                            $faqItems.fadeIn(500);
                          }
                          return false;
                        });
                      });
                    </script>
            </section><!-- #content end -->