<div>
  <%= link_to "Create New Interview Slot", new_interview_path, class: "btn btn-warning index-new-interview-button" %>
</div>
<div class="content-wrap">
  <div class="row" id="center-interview-index">
    <div class="col-md-12">
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th colspan="4"><h4 class="interview-table-header">Booked Interviews/Tours</h4></th>
          </tr>
          <% @interview.where('starts_at > ?', DateTime.now).where(booked: true).order(starts_at: :asc).each do |interview| %>
            <tr>
              <td><h5><%= interview.interview_time_zone %></h5></td>
              <td><h5><%= interview.location %></h5></td>
              <% if interview.application %>
                <td><h5><%= link_to "#{interview.application.first_name} #{interview.application.last_name}", application_path(interview.application.id) %></h5></td>
                <td><%= link_to 'Release', "/interviews/#{interview.id}?release=true&application_id=#{interview.application.id}", method: :patch, data: { confirm: 'Are you sure you want to release this interview slot?' }, class: "btn btn-warning btn-xs interview-button" %></td>
              <% else %>
                <td><h5><%= link_to "#{interview.tour.first_name} #{interview.tour.last_name}", tour_path(interview.tour.id) %></h5></td>
                <td><%= link_to 'Release', "/interviews/#{interview.id}?release=true&tour_id=#{interview.tour.id}", method: :patch, data: { confirm: 'Are you sure you want to release this tour slot?' }, class: "btn btn-warning btn-xs interview-button" %></td>
              <% end %>
          <% end %>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th colspan="4"><h4 class="interview-table-header">Available Interview/Tour Slots</h4></th>
          </tr>
          <% @interview.where('starts_at > ?', DateTime.now).where(booked: false).order(starts_at: :asc).each do |interview| %>
            <tr>
              <td><h5><%= interview.interview_time_zone %></h5></td>
              <td><h5><%= interview.location %></h5></td>
              <td><%= link_to 'Edit', edit_interview_path(interview), class: "btn btn-success btn-xs interview-button" %></td>
              <td><%= link_to 'Delete', interview_path(interview), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs interview-button" %></td>
          <% end %>
          </tr>
        </table>
      </div>
    </div>
</div>
