<div>
  <%= link_to "Create New Interview Slot", new_interview_path, class: "btn btn-warning index-new-interview-button" %>
</div>
<div class="content-wrap">
  <div class="row" id="center-interview-index">
    <div class="col-md-12">
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th colspan="2"><h4 class="interview-table-header">Booked Interviews</h4></th>
          </tr>
          <% @interview.where('starts_at > ?', DateTime.now).where(booked: true).order(starts_at: :asc).each do |interview| %>
            <tr>
              <td><h5><%= interview.interview_date_human %></h5></td>
              <td><h5><%= link_to "#{interview.application.first_name} #{interview.application.last_name}", application_path(interview.application.id) %></h5></td>
          <% end %>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th colspan="3"><h4 class="interview-table-header">Available Interview Slots</h4></th>
          </tr>
          <% @interview.where('starts_at > ?', DateTime.now).where(booked: false).order(starts_at: :asc).each do |interview| %>
            <tr>
              <td><h5><%= interview.interview_date_human %></h5></td>
              <td><%= link_to 'Edit', edit_interview_path(interview), class: "btn btn-success btn-xs interview-button" %></td>
              <td><%= link_to 'Delete', interview_path(interview), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs interview-button" %></td>
          <% end %>
          </tr>
        </table>
      </div>
    </div>
</div>
