<% content_for :head do %>
  <title>Online Coding Bootcamp | Actualize</title>
  <meta name="description" content="Acutalize Online Live is the world's only real-time, online coding bootcamp. Our part-time course is conducted over seamless video conferencing, offering the feel of an in-person bootcamp, while taken from your own home. We are featured in both Course Report and Switchup as one of the world's best online coding bootcamps.">
<% end %>

<% content_for :ld_json do %>
    <!-- For JSON-LD Schema -->
    <script type='application/ld+json'>
    {
        "@context": "https://www.schema.org",
        "@type": "School",
        "name": "Actualize Online Coding Bootcamp",
        "url": "http://anyonecanlearntocode.com",
        "description": "A top online coding bootcamp that mentors you from start to finish in transforming yourself into a software developer."
    }
    </script>
<% end %>


<!-- Page #1 -->
<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder darken-image">
        <img alt="Become a software developer" class="background-image" src="<%= asset_path('hand_on_screen.jpg') %>">
    </div>
    <div class="fs-vid-background">
        <video autoplay muted loop>
            <!-- <source src="video/video.webm" type="video/webm"> -->
            <!-- <source src="video/online_live_hero.mp4" type="video/mp4"> -->
            <!-- <source src="video/video.ogv" type="video/ogg"> -->
        </video>
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="Actualize Online Coding Bootcamp" class="mb48 mb-xs-16 fade-1-4" src="<%= asset_path('actualize-logo.png') %>"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 id="h1" class="large bold big-bold">
                    Coding Foundations
                </h2>
                <h1 id="h2" class="">

                </h1>
            </div>
        </div>
        <!--end of row-->
        <!-- <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/enroll/coding_foundations">Enroll Now</a>
            </div>
        </div> -->
    </div>
</section>

<!-- End Page #1 -->

<!-- Page #2 -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Online coding bootcamp" class="mb-xs-24" src="<%= asset_path('helping.jpg') %>" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h3 class="mb40 mb-xs-16">Actualize's Coding Foundations: Learn to Code the Right Way</h3>
            <p>
                Actualize's Coding Foundations course is the best way to learn to code from scratch. Whether you’re completely new to coding, or have dabbled in code before, Actualize's Coding Foundations is designed to get you up and running with reading and writing code, and creating your own computer programs.

            </p>
            <p>
                In five weeks, you’ll know the fundamentals of coding, which opens the doors to things like building your own websites, automating repetitive tasks, and even launching a brand new career. In fact, Actualize's Coding Foundations is a requirement for all students of Actualize’s career-ready coding bootcamp, to ensure that students have a solid footing in coding before they begin.
            </p>
            <p>
                <!-- While demoing code, the Lead Instructor shares their screen while the classmates’ faces are off to the side. -->
            </p>

            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<!-- End Page #2 -->

<!-- Page #3 -->

<section id="section-prework" class="image-bg overlay pt120 pb120 pt-xs-80 pb-xs-80 shaded">
    <div class="background-image-holder">
        <img alt="Learn to code" class="background-image" src="<%= asset_path('jay_teaching.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h3 class="mb40 mb-xs-16">
                    Developed by Real Educators
                </h3>
                <p>Many intro-to-coding courses are taught by those with little to no educational background or classroom experience. Actualize's Coding Foundations is taught by educator and developer Jay Wengrow, Actualize’s founder.
                </p>
                <p>
                Jay brings his educational expertise to these topics, making complex topics simple through clear instruction and proper sequencing of lessons. Instead of a hodgepodge of information, Actualize's Coding Foundations is a carefully designed course, building the student up with each clear lesson, one at a time.
                </p>
                <a class="btn btn-lg btn-filled" href="/enroll/coding_foundations">Enroll Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<!-- End Page #3 -->


<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h2 class="mb40 mb-xs-16">Mastery Through Practice</h2>
                <h4>The bulk of online coding tutorials focus solely on delivering information, but true mastery is only achieved through a great amount of practice. Actualize's Coding Foundations has built-in practice problems and solutions, extra review exercises, and special “synthesis” exercises that allow the student to use multiple skills together.
                </h4>
                <h4>This practice is critical for reinforcing the skills that the student learns through the videos. Our experience shows that it’s the unique blend of clear instruction together with practice that leads to coding proficiency.</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-5 text-right text-center-xs">

            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs">
                <!-- <i class="ti-time icon icon-lg mt8 mt-xs-0"></i> -->
            </div>
            <div class="col-sm-6 col-md-5 text-center-xs">

            </div>
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>

<!-- Page #4 -->

<section id="section-live-training" class="cover image-bg parallax overlay fullscreen shaded">
    <div class="background-image-holder darken-image">
        <img alt="Online coding bootcamp" class="background-image" src="<%= asset_path('serious_coding.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="mb40 mb-xs-16">
                    Taken Online from Anywhere

                </h3>
                <p>
                Actualize's Coding Foundations can be taken from anywhere, as the lessons consist of videos and exercises that are all accessible through our online Student Portal.
                </p>
                <p>
                While the course is to be taken over a specific five-week period, it’s up to the student as to when in the day or week they want to engage in the lessons. The average student spends about 20 hours per week on the course.
                </p>

            </div>
        </div>
        <!--end of row-->
    </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #4 -->

<!-- Page #5 -->


<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Online coding bootcamp" class="mb-xs-24" src="<%= asset_path('laughing.jpg') %>" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h3 class="mb40 mb-xs-16">Growth with Real, Human Feedback</h3>
            <p>
                Automated coding tutorials can delude the student into thinking they are doing well, while their understanding may only be superficial. With Actualize’s Coding Foundations, all exercise submissions are reviewed by a real Bootcamp Prep Instructor. The Instructor looks carefully at each submission, as they’re not just making sure the answer is accurate, but they also read between the lines looking for clarity of understanding.

            </p>
            <p>
                Each student receives useful feedback from the Instructor in a timely manner. In addition, the Instructor holds live office hours over video conferencing to provide additional support.
            </p>


            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="mb40 mb-xs-16">What you will Learn</h3>
        <p class="lead mb64">In Actualize's Coding Foundations, you will learn the fundamentals of coding, including the following concepts:</p>
      </div>
    </div>
    <!--end of row-->
    <div class="row company-logos">
      <div class="col-md-3 col-xs-6"><h3>Integers <i class="ti-ruler" style="color: #47b475;"></h3></i></div>
      <div class="col-md-3 col-xs-6"><h3>Strings <i class="ti-smallcap" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Code Flow <i class="ti-back-right" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Debugging <i class="ti-eye" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Conditionals <i class="ti-control-shuffle" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Loops <i class="ti-reload" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Functions <i class="ti-panel" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Arrays <i class="ti-layout-column4" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Object Oriented Programming <i class="ti-layout-grid3" style="color: #47b475;"></i></h3></div>
      <div class="col-md-3 col-xs-6"><h3>Hashes <i class="ti-key" style="color: #47b475;"></i></h3></div>
    </div>
    <!--end of row-->

  </div>
  <!--end of container-->
</section>



<!-- End Page #5 -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <h3 class="mb40 mb-xs-16">Upcoming Dates</h3>
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Prework Start Date</th>
                                    <th>Live Training Start Date</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            <% @cohorts.each do |cohort| %>
                                <tr>
                                    <th><%= cohort[:prework].strftime("%B %e, %Y") %></th>
                                    <th><%= cohort[:live].strftime("%B %e, %Y") %></th>
                                    
                                </tr>
                            <% end %>
                            </tbody>
                        </table>

                        <% if @early_bird_deadline %>
                            <h5 class="text-success"><strong>Early Bird Special!</strong> Enroll for the next cohort by <%= @early_bird_deadline.strftime("%B %e") %> and recieve $500 off tuition.</h5>
                        <% end %>
                    </div>
                    <div class="col-md-4">
                        <h5 class="uppercase pull-right"><strong>Tuition:</strong> $13,900</h5>
                    </div>
                </div>
                <hr>                
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</section>



<!-- Page #6 -->


<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h3 class="mb40 mb-xs-16">Price</h3>
                <p>Actualize Coding Bootcamp Prep is priced at $1,000, but is currently $500 for a limited time.</p>
                <a class="btn btn-lg btn-filled" href="/enroll/coding_foundations">Enroll Now</a>
            </div>
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>
<!-- End Page #7 -->

<!-- Page #8 -->
<!-- End Page #8 -->

