<%= render "/layouts/page_title", page_title: "Applications", page_subtitle: "" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="chart">
  <h4>Total Applications Per Month</h4>
  <%= line_chart Application.group_by_month(:created_at, format: "%b %Y", last: 11).count, colors: ["#18A497"], discrete: true, xtitle: "Month", ytitle: "Number of Applications" %>
</div>
<div class="chart">
  <h4>Applications Per Month by Location</h4>
  <%= line_chart Application.group(:location).group_by_month(:created_at, format: "%b %Y", last: 11).count, discrete: true, xtitle: "Month", ytitle: "Number of Applications" %>
</div>
<div class="chart">
  <h4>How Applicants Learned About ACLTC</h4>
  <%= pie_chart Application.group(:learn_about_acltc).where.not(:learn_about_acltc => nil).count %>
</div>
<div class="chart">
  <h4>Students Registered per Cohort</h4>
  <%= column_chart Application.group(:cohort).where(:status => 'Paid Deposit').where.not(:cohort => 'CHI 4/16').count %>
</div>
<div class="chart">
  <h4>Every Applicant's Status</h4>
  <%= pie_chart Application.group(:status).where.not(:status => nil).count %>
</div>
<section id="content">
  <div class="content-wrap dash-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= link_to "Download Applications CSV", applications_path(format: "csv"), :class => 'button btn-secondary csv-button'  %>
        <table class="table table-striped index-dash-table">
          <tr>
          <th>Name</th>
            <th>Submitted On</th>
            <th>Location</th>
            <th>Status</th>
            <th>Cohort</th>
            <th>Interview Time</th>
            <th>View Profile</th>
          </tr>
          <% @applications.order("created_at desc").each do |application| %>
          <tr>
            <td><%= link_to application.full_name, application_path(application) %></td>
            <td><%= application.created_at.strftime("%A %B %d, %Y") %></td>
            <td><%= application.location %></td>
            <td><a href="/applications?status=<%= application.status %>"><%= application.status %></a></td>
            <td><%= application.cohort %></td>
            <td><%= application.interview ? application.interview.starts_at.strftime("%A %B %d, %Y") : "" %></td>
            <td>
              <a href='#' type="button" id="profile-btn-<%= application.id %>" data-toggle="modal" data-target="#profileModal"> Open Profile </a>
            </td>
          </tr>

          <!-- Profile Modal
          ============================================= -->
          <div class="modal fade" id="profile-modal-<%= application.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h1 class="modal-title profile-title" id="profileModalLabel"><%= application.full_name %></h1>
                </div>
                
                  <% if application.profile %>

                    <%= render 'profiles/edit', application: application %>

                  <% else %>

                    <%= render 'profiles/new', application: application %>

                  <% end %>
              </div>
            </div>
          </div>

          <script type="text/javascript">
          $(document).ready(function(){
              $("#profile-btn-<%= application.id %>").click(function(){
                  $("#profile-modal-<%= application.id %>").modal('show');
              });
          });
          </script>

          <% end %>
        </table>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>