<%= render "/layouts/page_title", page_title: "Applications", page_subtitle: "" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="line-chart">
  <h4>Applications Per Month by Location:</h4>
  <%= line_chart Application.group(:location).group_by_month(:created_at, format: "%Y %m", last: 11).count %>
</div>
<div class="pie-chart">
  <h4>How Applicants Learned About ACLTC:</h4>
  <%= pie_chart Application.group(:learn_about_acltc).where.not(:learn_about_acltc => nil).count %>
</div>
<section id="content">
  <div class="content-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= link_to "Download Applications CSV", applications_path(format: "csv"), :class => 'button btn-secondary csv-button'  %>
        <table class="table table-striped">
          <tr>
          <th>Name</th>
            <th>Application Submitted</th> 
            <th>Location</th>
          </tr>
          <% @applications.order("created_at desc").each do |application| %>
          <tr>
            <td><%= link_to application.full_name, application_path(application) %></td>
            <td><%= application.applications_human_time %></td> 
            <td><%= application.location %></td>
          </tr>
          <% end %>
        </table>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>