<%= render "/layouts/page_title", page_title: "Apply", page_subtitle: "Please fill out the form below to apply for admission. Fields with an asterisk are required." %>

<section id="content">
  <div class="content-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <%= form_for @application do |f| %>
        <% if @application.errors.any? %>
          <div class="alert alert-dismissible alert-warning center-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h2>Oops! You forgot to fill out
              <%= pluralize(@application.errors.count, "field") %>:
            </h2>
            <ul>
              <% @application.errors.full_messages.each do |msg| %>
                <h4><%= msg %></h4>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :first_name, class: "required" %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "required" %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email Address", class: "required" %><br />
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Phone Number", class: "required" %><br />
          <%= f.text_field :phone, class: "form-control", placeholder: "xxx-xxx-xxxx" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "Address", class: "required" %><br />
          <%= f.text_field :address, class: "form-control", placeholder:"Street, City, State, Zip" %>
        </div>
        <div class="form-group">
          <%= f.label :emergency_contact, "Emergency Contact Name and Phone Number", class: "required" %><br />
          <%= f.text_field :emergency_contact, class: "form-control", placeholder: "Ada Lovelace xxx-xxx-xxxx" %>
        </div>
        <div class="form-group">
          <%= f.label "Schedule a Phone Interview", class: "required" %><br />
          <%= f.collection_select :interview_id, Interview.where(booked: false), :id, :interview_date_human, {:include_blank => 'Select Interview Slot'}, { class: 'form-control shorten-select' } %>
        </div>
        <div class="form-group">
          <label class="required label-radio">How did you hear about Anyone Can Learn To Code?</label><br />
          <div class="radio row">
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Course Report", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Course Report", :value => "Course Report" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Google Search", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Google Search", :value => "Google Search" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Meetup", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Meetup", :value => "Meetup" %>
            </div>
          </div>
          <div class="radio row">
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Quora", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Quora", :value => "Quora" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Referral", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Referral", :value => "Referral" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "SkilledUp", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "SkilledUp", :value => "SkilledUp" %>
            </div>
          </div>
          <div class="radio row">
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "SwitchUp", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "SwitchUp", :value => "SwitchUp" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Thinkful", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Thinkful", :value => "Thinkful" %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Word of Mouth", { :class => "learn-about-acltc" } %>
              <%= f.label :learn_about_acltc, "Word of Mouth", :value => "Word of Mouth" %>
            </div>
          </div>
          <div class="radio row">
            <div class="col-md-4">
              <%= f.radio_button :learn_about_acltc, "Other", { :class => "learn-about-acltc learn-about-acltc-other" } %>
              <%= f.label :learn_about_acltc, "Other", :value => "Other" %>
            </div>
          </div>
        </div>
        <div id="learn-acltc-hidden" style="display:none;">
          <div class="form-group">
            <%= f.label :learn_about_acltc_specify, "Please specify how you learned about Anyone Can Learn to Code:" %><br />
            <%= f.text_field :learn_about_acltc_specify, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :current_occupation, "Tell us more about what you're currently doing (job or school, etc.)", class: "required" %><br />
          <%= f.text_area :current_occupation, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="required label-radio">Which location are you applying for?</label>
          <div class="radio">
            <%= f.radio_button :location, "Chicago" %>
            <%= f.label :location, "Chicago", :value => "Chicago" %><br />
            <%= f.radio_button :location, "San Francisco" %>
            <%= f.label :location, "San Francisco", :value => "San Francisco" %><br />
            <%= f.radio_button :location, "New York City" %>
            <%= f.label :location, "New York City", :value => "New York City" %>
          </div>
        </div>
        <div class="form-group">
          <label class="label-radio">Are you a Diversity in Tech Scholarship applicant?</label><br />
          <div class="radio">
            <%= f.radio_button :scholarship_applicant, true, { :class => "diversity_applicant diversity_applicant_yes" } %>
            <%= f.label :scholarship_applicant, "Yes", :value => "true" %><br />
            <%= f.radio_button :scholarship_applicant, false, { :class => "diversity_applicant diversity_applicant_no" } %>
            <%= f.label :scholarship_applicant, "No", :value => "false" %>
          </div>
        </div>
        <div id="scholarship-hidden" style="display:none;">
          <div class="form-group">
            <%= f.label :learn_about_scholarship, "How did you hear about the Diversity in Tech Scholarship?" %><br />
            <%= f.text_area :learn_about_scholarship, class: "form-control" %>
          </div>
          <div class="form-group">
          <label class="label-radio">Do you identify as a woman or as gender-diverse (trans*, gender-queer, gender non-conforming, etc.)?</label><br />
            <div class="radio">
              <%= f.radio_button :woman, true %>
              <%= f.label :woman, "Yes", :value => "true" %><br />
              <%= f.radio_button :woman, false %>
              <%= f.label :woman, "No", :value => "false" %>
            </div>
          </div>
          <div class="form-group">
          <label>Do you belong to a racial group that is underrepresented in tech (Black/African American, Chicano/Latino, Native American/Native Hawaiian, Pacific Islander)?</label><br />
            <div class="radio">
              <%= f.radio_button :minority, true %>
              <%= f.label :minority, "Yes", :value => "true" %><br />
              <%= f.radio_button :minority, false %>
              <%= f.label :minority, "No", :value => "false" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :why_scholarship, "Why should you be awarded a scholarship over other qualified applicants?" %><br />
            <%= f.text_area :why_scholarship, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :primary_goals, "What are your primary goals in learning how to code?", class: "required" %><br />
          <%= f.text_area :primary_goals, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :programming_experience, "Do you have previous programming experience? Online tutorials count!", class: "required" %><br />
          <%= f.text_area :programming_experience, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :preferred_work_location, "If you want a job in web development, in which city will you seek employment?", class: "required label-leading" %><br />
          <%= f.text_field :preferred_work_location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :capstone_idea, "Is there a specific project you want to work on for your Capstone project?", class: "required" %><br />
          <%= f.text_area :capstone_idea, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :work_concurrently, "Will you keep your job during the bootcamp? If so, how will you do both?", class: "required" %><br />
          <%= f.text_area :work_concurrently, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tinker_example, "Programming requires complex problem solving, logical analysis, and the ability to tinker with something until it works. Give examples of these experiences.", class: "required label-leading" %><br />
          <%= f.text_area :tinker_example, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :why_better, "Why should you be accepted into the bootcamp over other applicants?", class: "required" %><br />
          <%= f.text_area :why_better, class: "form-control" %>
        </div>
        <%= f.invisible_captcha :subtitle %> <!-- This is an invisible field that only spambots see. If it is filled in, the application won't save. -->
        <div class="form-group">
          <%= f.submit "Submit Application", class: "button button-3d nomargin nopadding" %>
        </div>
      <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(".diversity_applicant").on("change", function(){
  $("#scholarship-hidden").toggle($(this).hasClass("diversity_applicant_yes"));
});
</script>
<script type="text/javascript">
  $(".learn-about-acltc").on("change", function(){
  $("#learn-acltc-hidden").toggle($(this).hasClass("learn-about-acltc-other"));
});
</script>
<!-- Google Code for Apply Now Button Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 926873760;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8ZohCMXw8mQQoPH7uQM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=8ZohCMXw8mQQoPH7uQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>