<%= render "/layouts/page_title", page_title: "Apply", page_subtitle: "Please fill out the form below to apply for admission. Fields with an asterisk are required." %>

<section id="content">
  <div class="content-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <%= form_for @application do |f| %>
        <% if @application.errors.any? %>
          <div class="alert alert-dismissible alert-warning center-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h2>Oops! You forgot to fill out
              <%= pluralize(@application.errors.count, "field") %>:
            </h2>
            <ul>
              <% @application.errors.full_messages.each do |msg| %>
                <h4><%= msg %></h4>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :first_name, class: "required" %><br />
          <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "required" %><br />
          <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "Email Address", class: "required" %><br />
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :phone, "Phone Number", class: "required" %><br />
          <%= f.text_field :phone, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "Street Address", class: "required" %><br />
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :emergency_contact, "Emergency Contact Name and Phone Number", class: "required" %><br />
          <%= f.text_field :emergency_contact, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :learn_about_acltc, "How did you hear about Anyone Can Learn To Code?", class: "required" %><br />
          <%= f.text_area :learn_about_acltc, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :current_occupation, "Tell us more about what you're currently doing (job or school, etc.)", class: "required" %><br />
          <%= f.text_area :current_occupation, class: "form-control" %>
        </div>
        <div class="form-group">
          <label class="required">Which location are you applying for?</label>
          <div class="radio">
            <%= f.radio_button :location, "Chicago" %>
            <%= f.label :location, "Chicago", :value => "Chicago" %><br />
            <%= f.radio_button :location, "San Francisco" %>
            <%= f.label :location, "San Francisco", :value => "San Francisco" %><br />
            <%= f.radio_button :location, "New York City" %>
            <%= f.label :location, "New York City", :value => "New York City" %>
          </div>
        </div>
        <div class="form-group">
          <label>Are you a Diversity in Tech Scholarship applicant?</label><br />
          <div class="radio">
            <%= f.radio_button :scholarship_applicant, true, { :class => "diversity_applicant diversity_applicant_yes" } %>
            <%= f.label :scholarship_applicant, "Yes", :value => "true" %><br />
            <%= f.radio_button :scholarship_applicant, false, { :class => "diversity_applicant diversity_applicant_no" } %>
            <%= f.label :scholarship_applicant, "No", :value => "false" %>
          </div>
        </div>
        <div id="scholarship-hidden" style="display:none;">
          <div class="form-group">
            <%= f.label :learn_about_scholarship, "How did you hear about the Diversity in Tech Scholarship?" %><br />
            <%= f.text_area :learn_about_scholarship, class: "form-control" %>
          </div>
          <div class="form-group">
          <label>Do you identify as a woman or as gender-diverse (trans*, gender-queer, gender non-conforming, etc.)</label><br />
            <div class="radio">
              <%= f.radio_button :woman, true %>
              <%= f.label :woman, "Yes", :value => "true" %><br />
              <%= f.radio_button :woman, false %>
              <%= f.label :woman, "No", :value => "false" %>
            </div>
          </div>
          <div class="form-group">
          <label>Do you belong to a racial group that is underrepresented in tech (Black/African American, Chicano/Latino, Native American/Native Hawaiian, Pacific Islander)</label><br />
            <div class="radio">
              <%= f.radio_button :minority, true %>
              <%= f.label :minority, "Yes", :value => "true" %><br />
              <%= f.radio_button :minority, false %>
              <%= f.label :minority, "No", :value => "false" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :why_scholarship, "Why you should be awarded a scholarship over other qualified applicants?" %><br />
            <%= f.text_area :why_scholarship, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :primary_goals, "What are your primary goals in learning how to code?", class: "required" %><br />
          <%= f.text_area :primary_goals, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :programming_experience, "Do you have previous programming experience? Working on online tutorials counts!", class: "required" %><br />
          <%= f.text_area :programming_experience, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :preferred_work_location, "If you are seeking a job in web development, in what city do you want to work?", class: "required" %><br />
          <%= f.text_field :preferred_work_location, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :capstone_idea, "Is there a specific project you would like to work on for your Capstone project?", class: "required" %><br />
          <%= f.text_area :capstone_idea, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :work_concurrently, "Will you keep your job during the bootcamp? If so, how do you plan to do both?", class: "required" %><br />
          <%= f.text_area :work_concurrently, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tinker_example, "Programming requires complex problem solving, logical analysis, and the ability to tinker with something until it works. Give examples of these experiences.", class: "required" %><br />
          <%= f.text_area :tinker_example, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :why_better, "Tell us why you should be accepted into the bootcamp over other applicants.", class: "required" %><br />
          <%= f.text_area :why_better, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit Application", class: "button button-3d nomargin nopadding" %>
        </div>
      <% end %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(".diversity_applicant").on("change", function(){
  $("#scholarship-hidden").toggle($(this).hasClass("diversity_applicant_yes"));
});
</script>