
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <%= form_for @blog_post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :blog_categories %>
      <%= f.select :blog_category_ids, BlogCategory.all.collect {|category| [category.name, category.id]}, {}, :multiple => true, class: "form-control" %>
      <p class="help-block">Select one or multiple categories.</p>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", placeholder: " **** Write HTML here ****" %>
      <p class="help-block">This will compile to HTML.</p>
    </div>
    <%= f.submit submit_button, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
