<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <%= form_for @blog_post do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :blog_categories %>
      <%= f.select :blog_category_ids, BlogCategory.all.collect {|category| [category.name, category.id]}, {}, :multiple => true, class: "form-control" %>
      <p class="help-block">Select one or multiple categories.</p>
      <p class="help-block">Your blog category and/or categories not here? <%= link_to "Add a new one here.", new_blog_category_path %></p>
    </div>
    
    <div class="form-group">
        <%= f.label :blog_pics %>
        <%= f.file_field :blog_pics, multiple: true %>
        <p class="help-block">Add pic(s) to your blog post.</p>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <p class="help-block">Write HTML below. To Add images, make the src='IMAGE1' for the first image, src='IMAGE2' for the second, etc. <%= additional_edit_info %></p>
      <%= f.text_area :content, class: "form-control write-html", placeholder: " **** Write HTML here. ****" %>
      <p class="help-block">This will compile to HTML.</p>
    </div>
    <%= f.submit submit_button, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
