<% content_for :head do %>
  <title>Coding Bootcamp Blog | Actualize</title>
  <meta name="description" content='The Actualize Blog | Actualize is a code school that mentors you from start to finish in transforming yourself into a software developer. With our guidance and your drive, you will gain the skills and real world experience to launch a career that will change your life.'>
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="<%= asset_path('rooftop.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Actualize Blog</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
    <% @blog_posts.each do |blog_post| %>
        <div class="feed-item mb96 mb-xs-48">
            <div class="row mb16 mb-xs-0">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h6 class="uppercase mb16 mb-xs-8"><%= blog_post.created_at.strftime("%B %e, %Y") %></h6>
                    <h3><%= link_to blog_post.title, blog_post_path(blog_post), class: "primary-color" %></h3>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb32 mb-xs-16">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <p class="lead">
                        <%= blog_post.truncate_blog_post %>
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <a href="<%= blog_post_path(blog_post) %>" class="btn btn-lg btn-filled bg-primary-color">Read More</a>
                    <hr>
                </div>
            </div>
        </div>
        <!--end of feed item-->
    <% end %>
    </div>
    <!--end of container-->
</section>
