<% content_for :head do %>
  <title><%= @blog_post.title %> | Actualize</title>
  <meta name="description" content="<%= @blog_post.truncate_blog_post %>">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/img/capital3.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0 dark-bold">Actualize Blog</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
    
        <div class="feed-item mb96 mb-xs-48">
            <div class="row mb16 mb-xs-0">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h6 class="uppercase mb16 mb-xs-8"><%= @blog_post.created_at.strftime("%B %e, %Y") %></h6>
                    <h1><%= @blog_post.title %></h1>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb32 mb-xs-16">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <!-- <img alt="Article Image" class="mb32 mb-xs-16" src="img/blog-single.jpg" /> -->
                    <p class="lead">
                        <%= @blog_post.truncate_blog_post %>
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <a href="/apply" class="btn btn-lg btn-filled bg-primary-color">Begin Your Coding Journey</a>
                    <hr>
                </div>
            </div>
        </div>
        <!--end of feed item-->
    </div>
    <!--end of container-->
</section>