<% content_for :head do %>
  <title><%= @blog_post.title %> | Actualize</title>
  <meta name="description" content="<%= @blog_post.truncate_blog_post %>">
<% end %>

<section class="page-title page-title-3 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="/img/rooftop.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Actualize Blog</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section>
    <div class="container">
    
        <div class="feed-item mb96 mb-xs-48">
            <div class="row mb16 mb-xs-0">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <% unless @blog_post.classic %>
                        <h6 class="uppercase mb16 mb-xs-8"><%= @blog_post.created_at.strftime("%B %e, %Y") %></h6>
                    <% end %>
                    <h1><%= @blog_post.title %></h1>
                    <h6 class="uppercase mb16 mb-xs-8">By Jay Wengrow, CEO of Actualize</h6>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb32 mb-xs-16">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <!-- <img alt="Article Image" class="mb32 mb-xs-16" src="img/blog-single.jpg" /> -->
                    <p class="lead">
                        <%= @blog_post.content.html_safe %>
                    </p>
                </div>
            </div>
            <!--end of row-->

            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <div class="feature bordered text-center">
                        <h3 class="uppercase">Get Expert Advice</h3>
                        <p>
                            The Actualize Blog is where you can get expert advice and insight for learning to code from our CEO, Jay Wengrow.  Subscribe to the Actualize Blog and get notified each time we publish a new article.
                        </p>
                        
                        <form action="/subscribers_blog" method="post" class="halves form-validate" data-error="Please submit a correct email address.">
                        <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                        <input type="text" name="email" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" />
                        <input type="hidden" name="mousetrap" value="blog"/>
                        <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Send me expert advice</button>  
                        <span>*We won't share your email with third parties.</span>

                        </form>
                        
                    </div>
                </div>
            </div>
                <!--end of row-->
        </div>
        <!--end of feed item-->
    </div>
    <!--end of container-->
</section>