<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      <div class="">
        <h3 class="uppercase">Think Like a Software Engineer</h3>

        <%= form_tag(url, method: method) do %>
          <p>episode_number: <input type="text" name="episode_number" style="margin-left: 0; " value="<%= video.episode %>" /></p>
          <p>vimeo_url: <input type="text" name="vimeo_url" style="margin-left: 0; " value="<%= video.vimeo_url %>" /></p>
          <p>title: <input type="text" name="title" style="margin-left: 0; " value="<%= video.title %>" /></p>
          <p>description: <input type="text" name="description" style="margin-left: 0; " value="<%= video.description %>" /></p>

          <% if edit %>
            <p>Image Url: <input type="text" name="image_url" style="margin-left: 0; background-color: white" value="<%= video.image_url %>" /></p>
          <% end %>
          <!-- <input type="hidden" name="mousetrap" value="TLASE"/> -->
          <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Add a new video</button>
          <p class="sub" style="clear: both">

          </p>

        <% end %>

      </div>
    </div>
  </div>
  <!--end of row-->
</div>
