<% content_for :head do %>
  <title>Think Like A Software Engineer | Actualize</title>
  <meta name="description" content="Get our weekly video newsletter and learn how to think like a software engineer.">
<% end %>

<% content_for :social_media do %>
    <!-- Facebook -->
<!--     <meta property="og:title" content="Think Like a Software Engineer Episode #<%= @episode_number %>" />
    <meta property="og:image" content="http://i3.ytimg.com/vi/<%= @video_url %>/maxresdefault.jpg"/>
    <meta property="og:description" content="The 'Think Like a Software Engineer' video series is designed to help you develop the mindset needed to become a successful software developer." /> -->

    <!-- End Facebook -->

    <!-- Twitter -->
<!--     <meta name="twitter:title" content="Think Like a Software Engineer Episode #<%= @episode_number %>" />
    <meta name="twitter:image" content="http://i3.ytimg.com/vi/<%= @video_url %>/maxresdefault.jpg" />
    <meta name="twitter:description" content="The 'Think Like a Software Engineer' video series is designed to help you develop the mindset needed to become a successful software developer." />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Actualize"> -->

    <!-- End Twitter -->
<% end %>



<section class="page-title page-title-2 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="<%= asset_path('tlase.jpg') %>"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Think Like A Software Engineer</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<h4><%= link_to("See all Think Like a Software Engineer Videos", "/think-like-a-software-engineer/videos") %></h4>

<% if current_admin %>
  <h5 class=""><%= link_to("Edit this video", "/think-like-a-software-engineer/videos/#{@video.episode}/edit") %></h5>
<% end %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                <div class="post-snippet mb64">
                    <div class="post-snippet mb64">
                        <div class="embed-video-container embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/<%= @video.vimeo_id %>" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end of embed video container-->
                        <div class="post-title">

                                <h4>Episode <%= @video.episode %></h4>
                                <h4 class="inline-block"><%= @video.title %></h4>
                        </div>
                        <hr>
                        <div>
                            <p><%= @video.description %></p>
                        </div>
                    </div>



                </div>
                <!--end of post snippet-->

                <!--end of comments-->
            </div>
            <!--end of nine col-->
            <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div class="mb24">
            <h5 class="uppercase">Subscribe</h5>
            <p>
              Learning to code is much more than learning new concepts and syntax. It's a whole new <em>mindset</em>. Get a weekly video straight to your inbox with practical advice and strategies on how to think like a software engineer.
            </p>
            <form action="/subscribers_tlase" method="post" class="form-validate" data-error="Please submit a correct email address.">
              <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
              <input type="text" name="email" style="" class="validate-required validate-email signup-email-field" placeholder="Email Address" aria-label="email"/>
              <input class="hollow nomargin nopadding" type="submit" value="Send me free videos" />
              <p class="sub" style="clear: both">
                *We won't share your email with third parties.
              </p>
            </form>
            <!--end select-->

        </div>

    </div>
            <!--end of sidebar-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
