One video
<%= link_to("See all Think Like a Software Engineer Videos", "/think-like-a-software-engineer/videos") %>

<%= render 'tlase_signup_form' %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h5 class="">
                    <strong>Episode <%= @video.episode %></strong>
                    <div class="">
                      <h5 class=""><%= @video.title %></h5>
                      <!-- <span class="inline-block mb40 mb-xs-24">what goes here?</span> -->
                      <p><%= @video.description %></p>
                      <% if current_admin %>
                        <h5 class=""><%= link_to("Edit this video", "/think-like-a-software-engineer/videos/#{@video.episode}/edit") %></h5>
                      <% end %>
                  </div>
                </h5>
            </div>
            <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                <div class="col-sm-7 mb64 mb-xs-24">
                    <iframe src="https://player.vimeo.com/video/<%= @video.vimeo_id %>" width="700" height="396" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                </div>

            </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

