<% content_for :head do %>
  <title>Think Like A Software Engineer | Actualize</title>
  <meta name="description" content="Get our weekly video newsletter and learn how to think like a software engineer.">
<% end %>

<% content_for :social_media do %>
    <!-- Facebook -->
    <meta property="og:title" content="Think Like a Software Engineer Episode #<%= @video.episode %>" />
    <meta property="og:image" content="<%= @video.image_url %>"/>
    <meta property="og:description" content="<%= @video.description %>" />

    <!-- End Facebook -->

    <!-- Twitter -->
    <meta name="twitter:title" content="Think Like a Software Engineer Episode #<%= @video.episode %>" />
    <meta name="twitter:image" content="<%= @video.image_url %>" />
    <meta name="twitter:description" content="<%= @video.description %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Actualize">

    <!-- End Twitter -->
<% end %>



<section class="page-title page-title-2 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="<%= asset_path('tlase.jpg') %>"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Think Like A Software Engineer</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



<h4></h4>

<% if current_admin %>
  <h5 class=""><%= link_to("Edit this video", "/think-like-a-software-engineer/videos/#{@video.episode}/edit") %></h5>
<% end %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-xs-24">
                <div>
                    <ol class="breadcrumb breadcrumb-2">
                        <li>
                            <%= link_to("Back to all episodes", "/think-like-a-software-engineer/videos", class: "primary-color") %>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mb-xs-24">

                <div class="post-snippet mb64">
                    <div class="post-snippet mb64">
                        <div class="post-title">

                            <h4>Episode #<%= @video.episode %>: <%= @video.title %></h4>
                                
                        </div>
                        <hr>
                        <div>
                            <p><%= @video.description %></p>
                        </div>

                        <div class="embed-video-container embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/<%= @video.vimeo_id %>" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end of embed video container-->
                        
                    </div>



                </div>
                <!--end of post snippet-->

                <!--end of comments-->
            </div>
            <!--end of nine col-->
            <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div class="mb24">
            <h5 class="uppercase">Subscribe</h5>
            <p>
              Learning to code is much more than learning new concepts and syntax. It's a whole new <em>mindset</em>. Get a weekly video straight to your inbox with practical advice and strategies on how to think like a software engineer.
            </p>
            <form action="/subscribers_tlase" method="post" class=" form-validate" data-error="Please submit a correct email address.">
                <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                <input type="text" name="email" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" />
                <input type="hidden" name="mousetrap" value="TLASE"/>
                <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Send me the weekly video</button>

            </form>
            <!--end select-->

        </div>

    </div>
            <!--end of sidebar-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
