<% content_for :head do %>
  <title>Think Like A Software Engineer | Actualize</title>
  <meta name="description" content="Get our weekly video newsletter and learn how to think like a software engineer.">
<% end %>

<% content_for :social_media do %>
    <!-- Facebook -->
    <meta property="og:title" content="Think Like a Software Engineer" />
    <meta property="og:image" content="<%= asset_path('tlase.jpg') %>"/>
    <meta property="og:description" content="The 'Think Like a Software Engineer' video series is designed to help you develop the mindset needed to become a successful software developer." />

    <!-- End Facebook -->

    <!-- Twitter -->
    <meta name="twitter:title" content="Think Like a Software Engineer Episode #<%= @episode_number %>" />
    <meta name="twitter:image" content="<%= asset_path('tlase.jpg') %>" />
    <meta name="twitter:description" content="The 'Think Like a Software Engineer' video series is designed to help you develop the mindset needed to become a successful software developer." />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Actualize">

    <!-- End Twitter -->
<% end %>

<section class="page-title page-title-2 image-bg overlay">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="<%= asset_path('tlase.jpg') %>"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Think Like A Software Engineer</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<% if current_admin %>
  <%= link_to("Make a new video", "/think-like-a-software-engineer/videos/new") %>
<% end %>

<div class="main-container">
    <section class="pb0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3>Become a true software engineer!</h3>
                    <h5 style="">Learning to code is much more than learning new concepts and syntax. It's a whole new <em>mindset</em>. To help you learn that mindset, we create a weekly video called Think Like a Software Engineer. These videos aren't about specific technologies, but cover the meta aspects of software engineering. You can now be explictly taught a way of thinking that most developers only pick up after years of experience. Our founder and CEO, Jay Wengrow, creates and releases a new episode each week.</h5>

                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <table class="table cart mb48">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Video</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @videos.each do |video| %>
                            <tr>
                                <th scope="row">
                                        <%= video.episode %>
                                </th>
                                <td>
                                    <a href="/think-like-a-software-engineer/videos/<%= video.episode %>">
                                        <img alt="Product" class="product-thumb" src="<%= video.image_url %>" />
                                    </a>
                                </td>
                                <td>
                                    <span><%= link_to(video.title, "/think-like-a-software-engineer/videos/#{video.episode}", class: 'primary-color') %></span>

                                </td>
                                <td>
                                    <span><%= video.description %></span>
                                </td>
                                <td>
                                    <span><%= link_to("Watch Now", "/think-like-a-software-engineer/videos/#{video.episode}", class: 'primary-color') %></span>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!--end of items-->
                <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="mb24">
                        <h5 class="uppercase">Subscribe</h5>
                        <p>
                          Get the latest Think Like a Software Engineer video as soon as it comes out! Each Friday, we'll email you the latest episode so you can level up quickly and consistently.
                        </p>
                        <form action="/subscribers_tlase" method="post" class=" form-validate" data-error="Please submit a correct email address.">
                        <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                        <input type="text" name="email" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" />
                        <input type="hidden" name="mousetrap" value="TLASE"/>
                        <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Send me the weekly video</button>

                        </form>
                        <!--end select-->

                    </div>

                </div>
                <!--end of totals-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>

