<footer>
    <div class="container footer">
    <div class="row">
        <div class="footer-nav">
            <div class="collapse navbar-collapse navbar-default" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Apply", new_application_path %></li>
                <li><%= link_to "Refer a Friend", new_referral_path %></li>
                <li><%= link_to "FAQ", faqs_path %></li>
                <li><%= link_to "Tutorials", tutorial_lessons_path %></li>
                <li><%= link_to "Corporate Training", corporate_training_path %>
                <li><%= link_to "Blog", blog_posts_path %></li>
                <li><%= link_to "Contact Us", new_contact_path %></li>
                <% if admin_signed_in? %>
                <li><%= link_to "Admin", admins_dashboard_path %></li>
                <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
        <div class="col-md-6">
            <p id="subscribe-instructions">Sign up for news about upcoming courses and updates about ACLTC, events in your area, and other resources.</p>

            <%= form_tag("/subscribers_footer", method: "post", remote: true) do %>
                <%= text_field_tag :first_name, nil, placeholder: "First Name" %>

                <%= text_field_tag :email, nil, placeholder: "Email" %>

                <%= text_field_tag :phone, nil, placeholder: "Phone" %>

                <%= hidden_field_tag :mousetrap, nil, value: "Homepage Footer" %>

                <%= submit_tag "Sign Up" %>
            <% end %>
        </div>

        <div class="col-md-6 inquiries">
            <p>For general Inquiries contact us at: <strong><a href="mailto:hello@actualize.co" target="_blank">hello@actualize.co</a></strong>
            <div class="icons">
                        <a href="https://www.facebook.com/pages/Anyone-Can-Learn-To-Code/1544569925800363" target="_blank"><img src="<%= asset_path 'facebook.png'%>"></a>
                        <a href="https://twitter.com/actualize" target="_blank"><img src="<%= asset_path 'twitter.png'%>"></a>
                        <br><br>
            </div>
            <p>ACLTC, <%= Time.now.year %>. All rights reserved.</p>

        </div>
    </div>
</footer>