<footer>
    <div class="container footer">
        <div class="col-md-4">
            <p id="subscribe-instructions">Sign Up for news about upcomming courses and updates about ACLTC, events in your area, and many resources.</p>

            <%= form_tag("/subscribers", method: "post", remote: true) do %>
              <%= text_field_tag :email, nil, placeholder: "Email" %>
              
              <%= submit_tag "Sign Up" %>
            <% end %>
        </div>
        <div class="col-md-4 icons">
            <a href="https://www.facebook.com/pages/Anyone-Can-Learn-To-Code/1544569925800363" target="_blank"><img src="<%= asset_path 'facebook.png'%>"></a>
            <a href="http://twitter.com/aclearntocode" target="_blank"><img src="<%= asset_path 'twitter.png'%>"></a><br><br>
            <p>ACLTC, <%= Time.now.year %>. All rights reserved.</p>
        </div>
        <div class="col-md-4 inquiries">
            <p>Have a question? Click here: <br>
                <a href="/contacts/new" data-remote="true"><i class="fa fa-envelope"></i></a><br>
                Or email us at:<br>
            hello@anyonecanlearntocode.com</p>
        </div>
    </div>
</footer>