<div class="collapse navbar-collapse navbar-default" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><%= link_to "Book a Tour", new_tour_path %></li>
    <li><%= link_to "Apply", new_application_path %></li>
    <li><%= link_to "Tutorials", tutorial_lessons_path %></li>
    <li><%= link_to "Contact Us", new_contact_path %></li>
    <% if admin_signed_in? %>
    <li><%= link_to "Admin", admins_dashboard_path %></li>
    <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
  </ul>
<% end %>
</div><!-- /.navbar-collapse -->