<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<!-- <iframe width="500" height="315" src="https://www.youtube.com/embed/DPFiuwFm_q0?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe> -->
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
<p>You can use the "each" method combined with conditionals to filter items from an array. For example, if you had an array of words and only wanted to print out words less than 5 characters, you can use this code:</p>
<pre><code class="language-ruby">words = ["dog", "canary", "basketball", "sun", "moon"]
words.each do |word|
  if word.length < 5
    puts word
  end
end
</code></pre>
<p>The output of this code is:</p>
<pre>dog
sun
moon</pre>

<h3>Exercises:</h3>
<ol>

<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
Start with the array
<pre><code class="language-ruby">numbers = [4, 9, 2, 1, 12, 3, 8]</code></pre>
Use the "each" method to only print out the numbers greater than 5. The result should be:
<pre>9
12
8</pre>
</li>

<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
Start with the array
<pre><code class="language-ruby">names = ["Ada", "Charles", "Adam", "Aaron", "Michelle"]</code></pre>
Use the "each" method to only print out the names that start with "A". (Hint: use the string "start_with?" method.). The result should be:
<pre>Ada
Adam
Aaron</pre>
</li>

<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
Start with the array
<pre><code class="language-ruby">words = ["cat", "plane", "mission", "letter", "chair"]</code></pre>
Use the "each" method to only print out words that don't have the letter "e". (Hint: use the string "include?" method.) The result should be:
<pre>cat
mission
chair</pre>
</li>

</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
