<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div class="single-post nobottommargin">
          <div class="entry clearfix">
            <div class="col_full portfolio-single-image">
              <!-- VIDEO CONTENT -->
              <iframe width="500" height="315" src="https://www.youtube.com/embed/GQOZVZpnqq4?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="tutorial-content" class="entry-content notopmargin">
              <div class="fancy-title title-dotted-border title-center">
                <h2><%= @lesson_title %></h2>
              </div>
              <!-- BODY START -->
              <h3>Exercises</h3>
              <ol>
                <li>
                Write a program that allows the user to enter a city and state and displays sunrise and sunset for that city.
                </li>
                <li>
                  Write a program that allows the user to enter a city and state and displays the 7 day forecast in an easy to read format. Include the day of the week, high, low, and text (e.g. "Partly Cloudy") for each day.
                </li>
              </ol>
              <%= render 'form_solutions.html.erb' %>
              <!-- BODY END -->
              <div class="clear"></div>
              <br>
              <%= render 'share_buttons.html.erb' %>
            </div>
          </div>
          <%= render 'post_navigation.html.erb' %>
          <div class="line"></div>
        </div>
      </div>
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">
          <%= render 'next_lessons.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</section>
