<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/6cmdJ_lJKUw" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>
									Create a brand new Ruby file that displays the result of some subtraction and run it from the terminal. What happens if you subtract a greater number from a lesser number?
								</li>
								<li>
									Look at this code: 
									<pre class="language-ruby"><code>PUTS 3 + 3</code></pre>
									Predict what exactly will happen when you run it. Then run it and see if you were correct.
								</li>
								<li>
									Create another ruby file called many_ways.rb. You could get the number 10 to appear in the terminal (the output) by writing the code:
									<pre class="language-ruby"><code>puts 7 + 3</code></pre>
									Write code 3 more ways that will also output the number 10 in the terminal.
								</li>
							</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
