<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/VMXY_ci7_RQ" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>
									Check out the <a href="http://ruby-doc.org/core-2.2.0/String.html" target="_blank">Ruby documentation on strings</a> and find four methods you've never worked with before and figure out how they work. Describe how each works in your own words.
								</li>
								<li>
									Write a program that asks the user to enter 10 words, one at a time. The program should then display all 10 words in alphabetical order. Write this program using a loop so that you don't have to write any additional lines of code if you were to change the program to ask the user for 100 words. That is, you'd only need to make one simple change, and not have to write any new lines of code.
								</li>
								<li>
									Write a program that asks the user to enter a word, and the program will output the letters of that word in random order. (For example, "cat" may output "atc" or "tac" or "act" etc.) To accomplish this, investigate the following methods:
										<ul>
											<li>The string's "split" method</li>
											<li>The array's "shuffle" method</li>
											<li>The array's "join" method</li>
										</ul>
								</li>
							</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
