<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/iLcHEokFsOs?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
															<li>
							<div class="rating" style="color:#fed130" >
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							</div>
							Create an array with 4 numbers. User the "<<" operator to add 2 more numbers.

							</li>
							<li>
							<div class="rating" style="color:#fed130" >
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							</div>
							Create an array of 4 names. Use the "reverse" method and and print out the names in reverse order.

							</li>
							<li>
							<div class="rating" style="color:#fed130" >
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							</div>
							Look up the "split" method for strings. Describe what happens when you run "I love purple hippo".split. What happens if you use split("") instead?

							</li>
															<li>
							<div class="rating" style="color:#fed130" >
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							  <i class="glyphicon glyphicon-star-empty" ></i>
							</div>
									Write a program that asks the user to enter a word, and the program will puts the letters of that word in random order. (For example, "cat" may puts "atc" or "tac" or "act" etc.) To accomplish this, investigate the following methods:
										<ul>
											<li>The string's <a href="https://ruby-doc.org/core-2.2.0/String.html#method-i-split">split</a> method</li>
											<li>The array's <a href="https://ruby-doc.org/core-2.2.0/Array.html#method-i-shuffle">shuffle</a> method</li>
											<li>The array's <a href="https://ruby-doc.org/core-2.2.0/Array.html#method-i-join">join</a> method</li>
										</ul>
								</li>
							</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
