<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/s-3ufBoSBPQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
<ol>
								<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
									Predict what happens when you run the following code:
<pre class="language-ruby"><code>a = 1
b = 2
c = a + b
d = c + a + b
puts d</code></pre>
								</li>
								<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
									Run the following code -  you should see an error message. Fix the bug.
<pre class="language-ruby"><code>hello = "goodnight"
world = " moon"
puts hello + world
hello = cat
world = "fish"
puts hello + world
x = 1
y = 2
puts x + y</code></pre>
								</li>
								<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
									What does the following code do:
<pre class="language-ruby"><code>a = 1
b = a
puts b</code></pre>
								</li>
								<li>
<div class="rating" style="color:#fed130" >
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
  <i class="glyphicon glyphicon-star-empty" ></i>
</div>
									What does the following code do:
<pre class="language-ruby"><code>a = 1
b = a
a = 2
puts b</code></pre>
									Why do you think that is?
								</li>
							</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
