<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<div class="postcontent nobottommargin clearfix">
				<div class="single-post nobottommargin">
					<div class="entry clearfix">
						<div class="col_full portfolio-single-image">
							<!-- VIDEO CONTENT -->
							<iframe width="500" height="315" src="https://www.youtube.com/embed/42lbzdQEhAY" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="tutorial-content" class="entry-content notopmargin">
							<div class="fancy-title title-dotted-border title-center">
								<h2><%= @lesson_title %></h2>
							</div>
							<!-- BODY START -->
							<h3>Exercises</h3>
							<ol>
								<li>
									Start a program with the following line of code:
<pre class="language-ruby"><code>words = ["zebra", "monkey", "aardvark"]</code></pre>
									and write additional code so that the program outputs those three words in alphabetical order.
								</li>
								<li>
									Create a program that asks a user to enter four different words, one at a time. Then, the computer will ask the user to choose a number between 0 and 3. The computer will then display the word corresponding to the correct number. For example, assume the user typed in the words: "ghost", "umbrella", "candy", and "pepperoni" - in that order. The user is then prompted to choose a number. If the user chooses the number 2, the computer displays the third word, which in this example is "candy".
								</li>
							</ol>
							<%= render 'form_solutions.html.erb' %>
							<!-- BODY END -->
							<div class="clear"></div>
							<br>
							<%= render 'share_buttons.html.erb' %>
						</div>
					</div>
					<%= render 'post_navigation.html.erb' %>
					<div class="line"></div>
				</div>
			</div>
			<div class="sidebar nobottommargin col_last clearfix">
				<div class="sidebar-widgets-wrap">
					<%= render 'next_lessons.html.erb' %>
				</div>
			</div>
		</div>
	</div>
</section>
