<%= render "/layouts/page_title", page_title: "Info Session Sign Up", page_subtitle: "" %>
  <section id="content">
    <div class="content-wrap dash-wrap">
      <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <% if @info_session_sign_up.errors.any? %>
              <div class="alert alert-dismissible alert-warning center-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h2>Oops! You forgot to fill out
                  <%= pluralize(@info_session_sign_up.errors.count, "field") %>:
                </h2>
                <ul>
                  <% @info_session_sign_up.errors.full_messages.each do |msg| %>
                    <h4><%= msg %></h4>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <% if @next_info_session %>
              <%= form_tag info_session_sign_ups_path, method: :post do %>
                <div class="form-group" >
                  <label class="required label-radio form-label">Select a city to attend an info session on <%= @next_info_session.friendly_date %> at <%= @next_info_session.friendly_time %></label><br />
                  <div class="radio">
                    <div>
                      <%= select_tag :city, options_for_select(["Chicago", "New York City", "San Francisco"], @info_session_sign_up.city), prompt: "Select a city", class: "form-control" %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag :name, "Name", class: "required form-label" %><br />
                  <%= text_field_tag :name, @info_session_sign_up.name, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= label_tag :email, "Email", class: "required form-label" %><br />
                  <%= text_field_tag :email, @info_session_sign_up.email, autofocus: true, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= label_tag :phone, "Phone", class: "required form-label" %><br />
                  <%= text_field_tag :phone, @info_session_sign_up.phone, class: "form-control" %>
                </div>
                  <%= hidden_field_tag :info_session_id, @next_info_session.id %>
              
                <br>
                <br>
                <div class="form-group">
                  <%= submit_tag "Sign Up", class: "button button-3d nomargin nopadding" %>
                </div>
              <% end %>
            <% else %>
              <h3>There are no info sessions scheduled at the moment.</h3>
              <h3>Please check back later for upcoming session information.</h3>
            <% end %>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>