<div class="tour-hero-image">
  <div class="content-wrap child">
    <div class="row tour-row">
  
      <% if @tour_split_test == "Book A Tour Long Form" || @long %>
        <%= form_for @tour do |f| %>
          <% if @tour.errors.any? %>
            <div class="alert alert-dismissible alert-warning center-warning">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h2>Oops! You forgot to fill out
                <%= pluralize(@tour.errors.count, "field") %>:
              </h2>
              <ul>
                <% @tour.errors.full_messages.each do |msg| %>
                  <h4><%= msg %></h4>
                <% end %>
              </ul>
            </div>
          <% end %>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div id="tour-form-box">       
            <div class="form-group">
              <div class="col-sm-4 tour-label-container">
                <%= f.label :first_name, "First Name", class: "required form-label tour-labels" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :first_name, autofocus: true, class: "form-control tour-fields" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 tour-label-container">
                <%= f.label :last_name, "Last Name", class: "required form-label tour-labels" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :last_name, autofocus: true, class: "form-control tour-fields" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 tour-label-container">
                <%= f.label :email, "Email Address", class: "required form-label tour-labels" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :email, class: "form-control tour-fields" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 tour-label-container">
                <%= f.label :phone, "Cell Number", class: "required form-label tour-labels" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :phone, class: "form-control tour-fields", placeholder: "xxx-xxx-xxxx" %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div id="tour-form-submit-box"> 
            <div class="form-group">
              <label class="required label-radio form-label">Which location would you like to tour?</label>
              <div id="city" class="radio">
                <%= f.radio_button :city, "Chicago" %>
                <%= f.label :city, "Chicago", :value => "Chicago" %><a href="https://www.google.com/maps/place/222+W+Merchandise+Mart+Plaza,+Chicago,+IL+60654/@41.8885185,-87.6354802,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb6fa650467:0xd94994faa9dd5715" target="_blank">- 222 W Merchandise Mart Plaza Chicago, IL 60654</a><br />
                <%= f.radio_button :city, "New York City" %>
                <%= f.label :city, "New York City", :value => "New York City" %><a href="https://www.google.com/maps/place/150+Broadway,+New+York,+NY+10038/@40.7093102,-74.010236,17z" target="_blank">- 150 Broadway New York, NY 10038<br />
                <%= f.radio_button :city, "San Francisco" %>
                <%= f.label :city, "San Francisco", :value => "San Francisco" %><a href="https://www.google.com/maps/place/77+Geary+St,+San+Francisco,+CA+94108/@37.7876653,-122.4047894,17z/data=!3m1!4b1!4m2!3m1!1s0x80858088f19da4a5:0x55997ff84c10b76f" target="_blank">- 77 Geary St. San Francisco, CA 94108</a>
              </div>
            </div>

            <% if @tour.interview_id.present? %>
              <div class="form-group">
                <%= f.label :interview_id, "Choose a tour date and time", class: "required form-label", id: "additional-tour-text"  %><br />
                <%= f.collection_select :interview_id, Interview.where('starts_at > ? AND starts_at < ?', DateTime.now, DateTime.now + 200.hours).where(booked: false).order(starts_at: :asc), :id, :interview_date_human, {:include_blank => @tour.interview.interview_time_zone || 'Select Date & Time' }, { id: 'tours', class: 'form-control shorten-select' } %>
              </div>
            <% else %>
              <div class="form-group">
                <%= f.label :interview_id, "Choose a tour date and time", class: "required form-label", id: "additional-tour-text"  %><br />
                <%= f.collection_select :interview_id, Interview.where('starts_at > ? AND starts_at < ?', DateTime.now, DateTime.now + 200.hours).where(booked: false).order(starts_at: :asc), :id, :interview_date_human, {:include_blank => 'Select Date and Time'}, { id: 'tours', class: 'form-control shorten-select' } %>
              </div>
            <% end %>
            <%= f.invisible_captcha :subtitle %> <!-- This is an invisible field that only spambots see. If it is filled in, the tour won't save. -->
            <div class="form-group">
              <div id="tour-form-submit-button-container">
                <%= f.submit "Submit", class: "button button-3d nomargin nopadding", id: "tour-form-submit-button" %>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

    <% end %>
                
  <% else %>
    <%= form_for @tour do |f| %>
      <% if @tour.errors.any? %>
        <div class="alert alert-dismissible alert-warning center-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h2>Oops! You forgot to fill out
            <%= pluralize(@tour.errors.count, "field") %>:
          </h2>
          <ul>
            <% @tour.errors.full_messages.each do |msg| %>
              <h4><%= msg %></h4>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="tour-form-submit-box">
        <div class="form-group">
          <!-- This is an invisible field that only spambots see. If it is filled in, the tour won't save. -->
          <p>After completing this form, we will call you shortly with more details about your tour.</p>
          <%= f.invisible_captcha :subtitle %>
          <%= f.submit "Submit", class: "button button-3d nomargin nopadding" %>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="tour-form-box">
          <div class="form-group">
            <%= f.label :first_name, "First Name", class: "required form-label" %><br />
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email Address", class: "required form-label" %><br />
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :phone, "Cell Phone Number", class: "required form-label" %><br />
            <%= f.text_field :phone, class: "form-control", placeholder: "xxx-xxx-xxxx" %>
          </div>
        </div>
      </div>
         
        
    <% end %>
  <% end %>  
  </div>
  
</div>


<!-- Google Code for Apply Now Button Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 926873760;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8ZohCMXw8mQQoPH7uQM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=8ZohCMXw8mQQoPH7uQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>