<section id="content">
  <div class="tour-hero-image">
    <div class="tour-background-layer">
      <div class="content-wrap" id="tour-content-wrap">
        <%= form_tag("/subscribers_tour", method: "post", id: "tourForm")do |f| %>
          <div class="row" id="tour-row-container">
            <div class="col-xs-12" id="tour-header-container">
              <img class="logo" src="<%= image_path 'actualize-logo-triangle-sm.png'%>">
              <h1>Book A Tour</h1>
              <p><strong>Come check out Actualize for yourself! Get a look at the space and learn directly from an Admissions Advisor how you can launch a brand new career.</strong></p>
            </div>
            <div class="col-xs-12" id="tour-form-right">
              <div class="form-group">
                <%= label_tag :first_name, "First Name", class: "required form-label" %><br />
                <%= text_field_tag :first_name, nil, placeholder: "First Name", class: "required form-control tour-form-field" %>
              </div>
              <div class="form-group">
                <%= label_tag :email, "Email Address", class: "required form-label" %><br />
                <%= email_field_tag :email, nil, placeholder: "Email", class: "required form-control tour-form-field" %>
              </div>
              <div class="form-group">
                <%= label_tag :phone, "Cell Phone Number", class: "required form-label" %><br />
                <%= text_field_tag :phone, nil, placeholder: "Phone", class: "required form-control tour-form-field" %>
              </div>
            </div>
            <%= hidden_field_tag :mousetrap, nil, value: "Tour" %>
            <div class="col-xs-12">
              <p><strong>After completing this form, we will call you shortly with more details about your tour.</strong></p>
              <%= invisible_captcha :subtitle %> <!-- This is an invisible field that only spambots see. If it is filled in, the tour won't save. -->
              <div class="form-group" id="tour-form-submit-button">
                <%= submit_tag "Submit", class: " tour-submit-button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!-- Google Code for Apply Now Button Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 926873760;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "8ZohCMXw8mQQoPH7uQM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=8ZohCMXw8mQQoPH7uQM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
<script>
  $(document).ready(function () {
    $("#tourForm").validate();
  });
</script>