<!-- Meta -->
<% content_for :head do %>
  <title>Top US Coding Bootcamp | Actualize</title>
  <meta name="description" content="Rated by Switchup as a best US coding bootcamp, Actualize is the coding bootcamp with the nation's greatest coding instructors and job-hunting expertise in one place. And there's no need to quit your job to attend.">
<% end %>

<!-- Jumbotron -->
<section class="image-bg overlay fullscreen cover parallax">
  <div class="background-image-holder darken-image">
    <img alt="Learn to code" class="background-image" src="<%= asset_path('homepage_hero.jpg') %>" />
  </div>
  <div class="container v-align-transform">
    <div class="row v-align-children">
      <div class="col-sm-8 mb-xs-80">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <img alt="Actualize Coding Bootcamp" class="mb-xs-16 fade-1-4" src="<%= asset_path('actualize-logo.png') %>" />
          </div>
        </div>
        <!--end of row-->
        <div class="row">
          <div class="col-sm-12">
            <h2 id="h1" class="large bold big-bold">
              Be The New You
            </h2>
            <h1 id="h2">
              The coding bootcamp founded, designed, and taught by expert educators
            </h1>
          </div>
        </div>
        <!--end of row-->
        <div class="row">
          <div class="col-sm-12">
            <a class="btn btn-lg" href="/apply">Apply Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center text-left-xs">
        <div class="modal-container">
          <div class="play-button btn-modal large inline"></div>
          <div class="foundry_modal no-bg">
            <iframe data-provider="youtube" data-video-id="RfVOT9xAXH8" data-autoplay="1" allowfullscreen="allowfullscreen"></iframe>
          </div>
        </div>
        <!--end of modal video-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<!-- Overview: The nation's greatest coding instructors -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Online coding bootcamp" class="cast-shadow mb-xs-24" src="<%= asset_path('teachers.jpg') %>" />
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">Educators first, developers second</h3>
      <p>It’s not good enough to be taught by a programmer who isn’t also a skilled educator. Actualize only hires Lead Instructors who are experienced educators in addition to being experienced software developers. Each Lead Instructor is empathic, funny, engaging, and most importantly, loves to teach. That's why many of our graduates have told us that their Lead Instructor is hands-down the best part of their Actualize experience.</p>
    </div>
  </div>
</section>

<!-- Overview: Powerful student relationships -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Online coding bootcamp instructor" class="cast-shadow mb-xs-24" src="<%= asset_path('brian_smile.jpg') %>"/>
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">A real connection between you and your instructor</h3>
      <p>Some bootcamps pre-record their lessons or have a remote instructor broadcast to multiple cohorts simultaneously. What makes the Actualize experience so powerful is that your expert Lead Instructor is dedicated exclusively to your small cohort. We’re passionate about education, so we don’t cut corners to achieve scale. The Lead Instructor’s full-time job is to be there for your cohort alone. Actualize is about the very real relationship between an expert Lead Instructor, and you, the student.</p>
    </div>
  </div>
  <!--end of container-->
</section>

<!-- Overview: Finely-tuned curriculum -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Online coding bootcamp student" class="cast-shadow mb-xs-24" src="<%= asset_path('we_wrote_the_book.jpg') %>" />
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">We wrote the book on how to teach programming</h3>
      <p>We obsess over the art and science of teaching people to code. We spend an inordinate amount of time and effort fine-tuning our curriculum to make it fit with the way students learn and think. In the words of one student who transferred to Actualize from another program, "You teach the concepts so well that it takes 30 minutes to learn what it took me 5 hours to learn in my previous school."</p>
      <p>Our book covers some of the best practices on curriculum and instruction that we've honed over our many years of teaching. You can download the book for free below.</p>
      <form action="/subscribers_teaching_book" method="post" class="halves form-validate" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
        <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
        <input type="text" name="email" style="margin-left: 0" class="mb0 validate-email validate-required signup-email-field" placeholder="Email Address" aria-label="email" />
        <input type="hidden" name="mousetrap" value="Teaching-Book"/>
        <button class="btn btn-lg btn-blue" type="submit" class="mb0">Download the book</button>
      </form>
      <p class="sub" style="clear: both">By submitting your email, you may receive additional communication from us on learning to code as well as the coding bootcamp industry.</p>
    </div>
  </div>
  <!--end of container-->
</section>

<!-- Overview: Job support-->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Online coding bootcamp instructor" class="cast-shadow mb-xs-24" src="<%= asset_path('mentoring.jpg') %>"/>
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Structured job support, even after you graduate</h3>
      <p>Our unique job-hunting curriculum, which we refer to as Job Hacking, begins from the very first day and is integrated throughout the bootcamp. We employ the same educational expertise to the Job Hacking curriculum as we do with our coding curriculum. Working with our Career Advisor, our students start with the basics - assessing their previous experience and transferrable skills, building a great resume and online presence, and progress to the point where they’re connecting with developers and employers in the industry. After completing the live program, graduates have access to continued job support, which includes group projects for an enhanced portfolio and accountability groups to ensure success in their job hunt.</p>
      <p></p>
    </div>
  </div>
  <!--end of container-->
</section>

<!-- Overview: Flexible schedule -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Online teaching" class="cast-shadow mb-xs-24" src="<%= asset_path('online_live_shot.jpg') %>" />
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">Coding bootcamp by day or night, anywhere in North America</h3>
    <p>We designed multiple options of our course so we can make it accessible to everyone. Whether you need to keep your day job or you want to spend the day coding, we have a program specifically tailored to you. We reach students across North America with our Online Live and Chicago offerings.</p>
    </div>
  </div>
</section>

<!-- Awards and Testimonials -->
<section class="image-bg overlay parallax bg-dark">
  <div class="background-image-holder darken-image-more">
    <img alt="image" class="background-image" src="<%= asset_path('grads.jpg') %>" />
  </div>
  <div class="container">
    <div class="row mb40 mb-xs-24">
      <div class="col-sm-12 text-center spread-children">
        <img class="image-md mb16" alt="Pic" src="<%= asset_path('course_report.png') %>" />
        <img class="image-md mb16" alt="Pic" src="<%= asset_path('switchup.png') %>" />
      </div>
    </div>
    <!--end of row-->
    <div class="row mb16 mb-xs-0">
      <!-- <div class="col-sm-12 text-center">
        <h4>See what our grads have to say about our program:</h4>
      </div> -->
    </div>
    <!--end of row-->
    <div class="row">
      <div class="text-slider slider-paging-controls controls-outside relative">
        <ul class="slides">
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>The instructors (who are FANTASTIC) have backgrounds in both software development and education. Attending Actualize is without question one of the best decisions I have ever made and my only regret is not signing up earlier.</h3>
                <h6 class="uppercase">Grant, Technical Support Engineer at Oracle</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>Personally, the instructors at Actualize are what made Actualize the best decision I have made in a long time. They invest so much in all of their students, which makes the experience much more personable and unique to an individual.</h3>
                <h6 class="uppercase">Bona, Developer at Navistar</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>The instructors at Actualize are educators first, programmers second which makes a big difference in the learning process. One of the things I love about Actualize is the immediate feeling you get that the educators here are looking out for you, the student, and will guide you until you reach the goal set for yourself.</h3>
                <h6 class="uppercase">John, Software Engineer at Home Chef</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>Actualize sets the standard in pedagogy with its instructors, all of whom have backgrounds in both education and computer science. The instructor made learning engaging and fun, and his teaching style provided clarity and insight on difficult concepts and topics. The curriculum prepared me extremely well for my new career as developer.</h3>
                <h6 class="uppercase">Myles, XP Developer at Blue Cross Blue Shield</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>It not only changed my life, but it's changed my future. I would recommend Actualize to anyone interested in a career in tech. You will not regret it.</h3>
                <h6 class="uppercase">Karen, .NET Developer at Vestmark</h6>
              </div>
            </div>
          </li>
          <li>
            <div class="col-md-8 col-md-offset-2">
              <div class="feature bordered text-center">
                <h3>At Actualize, I got more than just an exciting new job as a software engineer. I also gained the skills to persevere through any new challenge.</h3>
                <h6 class="uppercase">Omar, Software Engineer at Lou Malnati's Pizzeria</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<!-- Where are grads work -->
<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb40 mb-xs-16">Where Our Grads Work</h2>
        <p class="lead mb64">Our grads have landed software positions at companies of all sizes and industries. Most of these grads have made complete career transitions, switching from a wide variety of other occupations. From lawyers to bartenders and taxi drivers to nurses, we’ve been privileged to help them launch completely new careers.</p>
      </div>
    </div>
    <!--end of row-->
    <div class="row company-logos">
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo9.png') %>" alt="Twitter"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo-aws.png') %>" alt="Amazon"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo-pivotal.png') %>" alt="Pivotal Labs"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo7.png') %>" alt="Salesforce"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo-bcbs.png') %>" alt="Blue Cross Blue Shield"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo6.png') %>" alt="Bosch"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo-braintree.png') %>" alt="Braintree"></div>
      <div class="col-md-3 col-xs-6"><img src="<%= asset_path('logo3.png') %>" alt="Allstate"></div>
    </div>
    <!--end of row-->
    <div class="row mt24">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="feature bordered text-center">
          <h4>Ever wonder what it's actually like to be a software developer? Download our ebook below.</h4>

        <form action="/subscribers_career_pdf" method="post" class="halves form-validate" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
          <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
          <input type="text" name="email" style="margin-left: 0" class="mb0 validate-email validate-required signup-email-field" placeholder="Email Address" aria-label="email" />
          <input type="hidden" name="mousetrap" value="Career Ebook"/>
          <button class="btn btn-lg btn-blue" type="submit" class="mb0">Download Ebook</button>
            <p class="sub" style="clear: both">By submitting your email, you may receive additional communication from us on learning to code as well as the coding bootcamp industry.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--end of container-->
</section>

<!-- Program options: Online -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0">
    <img alt="Online coding bootcamp" class="cast-shadow mb-xs-24" src="<%= asset_path('rob_online.jpg') %>" />
  </div>
  <div class="container">
    <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
      <h3 class="mb40 mb-xs-16">Our Online Coding Bootcamp</h3>
      <p>Our Online Live course can be taken remotely anywhere in North America. Because we believe that education requires the personal touch, our Online Live course is 100% live, the only online coding bootcamp of its kind. That means that you, your Lead Instructor, and classmates all see each other over live video conferencing at all times - for both instruction and exercises. Our students say that they feel as if they’re in a physical classroom.</p>
      <a class="btn btn-lg btn-blue mt32 mb0" href="/online-coding-bootcamp">Online coding bootcamp details</a>
    </div>
  </div>
</section>

<!-- Program options: Chicago -->
<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
  <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
    <img alt="Online coding bootcamp instructor" class="cast-shadow mb-xs-24" src="<%= asset_path('conference_room_small.jpg') %>"/>
  </div>
  <div class="container">
    <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
      <h3 class="mb40 mb-xs-16">Our Chicago Coding Bootcamp</h3>
      <p>
        Join us in person at our Chicago headquarters in River North. Founded in early 2014, we're the longest-running Chciago coding bootcamp.
      </p>

      <a class="btn btn-lg btn-blue mt32 mb0" href="/chicago-coding-bootcamp">Chicago coding bootcamp details</a>
    </div>
  </div>
  <!--end of container-->
</section>

<!-- Think Like A Software Engineer -->
<section class="cover fullscreen image-bg overlay">
  <div class="background-image-holder darken-image">
    <img alt="Learn to code webinars" class="background-image" src="<%= asset_path('tlase.jpg') %>" />
  </div>
  <div class="container v-align-transform">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <div class="feature bordered text-center">
          <h3 class="uppercase">Think Like a Software Engineer</h3>
          <p>
            Learning to code is much more than learning new concepts and syntax. It's a whole new <em>mindset</em>. Get a weekly video straight to your inbox with practical advice and strategies on how to think like a software engineer.
          </p>

          <form action="/subscribers_tlase" method="post" class="halves form-validate" data-error="Please submit a correct email address.">
            <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
            <input type="text" name="email" style="margin-left: 0" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" aria-label="email"/>
            <input type="hidden" name="mousetrap" value="TLASE"/>
            <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Send me free videos</button>
            <p class="sub" style="clear: both">
              *We won't share your email with third parties.
            </p>

          </form>

        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
