<!-- Page #1 -->
<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="<%= asset_path('homepage_hero.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="logo" class="mb48 mb-xs-16 fade-1-4" src="/img/actualize-logo.png" />
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large bold big-bold">
                    Be The New You
                </h1>
                <h3>
                    Become A Software Developer From Anywhere Without Quitting Your Day Job
                </h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/apply">Apply Now</a>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>

<!-- End Page #1 -->

<!-- Page #2 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h2 class=" mb16">See The Actualize Difference For Yourself</h4>
                <!-- <p class="lead">
                    See the Actualize difference for yourself. 
                </p> -->
                <div class="embed-video-container embed-responsive embed-responsive-16by9 mb64">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RfVOT9xAXH8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <!--end of embed video container-->
            </div>
        </div>
        <div class="row mb80 mb-xs-0">
            <div class="col-md-12">
                <h2 class="text-center">Educators First, Developers Second</h2>
                <p>
                    Actualize is the only coding bootcamp that exclusively hires Lead Instructors who have professional experience in both education and software engineering. Your Lead Instructor is your guide and mentor during the 12 weeks of Live Training, and will directly teach you every concept that you need to know to become a software developer.

                    Your Lead Instructor is there for you - both in and out of class - to guide you, celebrate your success, and help smooth out the bumps you’ll encounter as you tackle some of the toughest problems you’ll have ever taken on in your life. Each Lead Instructor is empathic, funny, and engaging, and that is why many of our graduates have told us that their Lead Instructor is hands-down the best part of their Actualize experience.

                </p>
            </div>
        </div>
        <!--end of row-->

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <img alt="Pic" src="<%= asset_path('peter.jpg') %>" />
                    <ul class="accordion accordion-1">
                        <li>
                            <div class="title">
                                <span>Peter Jang</span>
                                <span class="pull-right">
                                    
                                </span>
                            </div>
                            <div class="content">
                                <p>
                                    Peter Jang is a Lead Instructor as well as the Dean of Instruction at Actualize. He has had several career changes - he first graduated with a masters in mechanical engineering and worked as a consultant, writing software in C, C++, Matlab, VBA, and Python. He then followed his passion for teaching by earning a masters in education, and taught high school math for 6 years. More recently he changed into the career of web development, working at a startup as a full stack web developer. Currently he teaches full time as an Actualize Lead Instructor, which is a perfect blend of his passions for both teaching and programming.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end of accordion-->
                </div>
                
            </div>
            <!--end col-->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <img alt="Pic" src="<%= asset_path('josh.png') %>" />
                    <ul class="accordion accordion-1">
                        <li>
                            <div class="title">
                                <span>Josh Nixon</span>
                                <span class="pull-right">
                                    
                                </span>
                            </div>
                            <div class="content">
                                <p>
                                    Josh Nixon worked in the entertainment industry out in Los Angeles for more than a decade. In 2013 he transitioned to Web Development by attending a bootcamp himself. He has worked as a private consultant for projects such as idrinksant.com and watchmework.com. Josh taught web development at Code Chicago before joining Actualize as a Chicago Lead Instructor in 2015.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end of accordion-->
                </div>
                
            </div>
            <!--end col-->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <img alt="Pic" src="<%= asset_path('dani.png') %>" />
                    <ul class="accordion accordion-1">
                        <li>
                            <div class="title">
                                <span>Dani Zaghian</span>
                                <span class="pull-right"></span>
                            </div>
                            <div class="content">
                                <p>
                                    Dani attended the University of Santa Cruz and graduated with a BS in biology. While pursuing a career in that field, she became interested in programming and attended a coding bootcamp to learn as much as possible, unaware of the life change she was about to make. She fell in love with coding and worked as a front end developer and designer. But she also found a passion for mentoring and education - and taught web development as well. Motivated by growth mindset, passionate about learning, and engaged by problem solving, she found the perfect intersection becoming a Lead Instructor at Actualize.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end of accordion-->
                </div>
                
            </div>
            <!--end col-->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <img alt="Pic" src="<%= asset_path('brian.jpg') %>" />
                    <ul class="accordion accordion-1">
                        <li>
                            <div class="title">
                                <span>Brian Rice</span>
                                <span class="pull-right"></span>
                            </div>
                            <div class="content">
                                <p>
                                    Brian started his career as a teacher, getting his Master’s Degree in Education and working in a New York City high school. He left the classroom to attend a coding bootcamp and become a software developer. He now combines his two interests and teach web development. He teaches his students how to solve problems, not memorize. His goal is that at the end of the course, his students will no longer need him. 
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end of accordion-->
                </div>
                
            </div>
            <!--end col-->
        </div>
        <!--end of row-->

        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #2 -->

<!-- Page #3 -->

<section class="image-bg overlay pt120 pb120 pt-xs-80 pb-xs-80">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="<%= asset_path('learning.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2>
                    Learn How To Learn
                </h2>
                <p>We believe that teaching people to code is much, much more than dumping students in a room and throwing articles and exercises at them, as is the style of most coding bootcamps. As educator-developers, we study the art and science of teaching people to code with a passion that borders on fanaticism. (Okay, maybe it is fanaticism!) 
                </p>
                <p>
                Our educational approach does not focus on teaching our students a particular language or technology, but instead how to think as a software engineer, with the ability to teach themselves any technology on their own. In fact, the majority of our graduates go on to work with other languages and frameworks than the ones we teach in class.
                </p>
                <p>
                It is also our educational approach that allows us to teach on a part-time basis what other programs take an entire day to teach. In the words of one student who transferred to Actualize from another program, "You teach the concepts so well that it takes 30 minutes to learn what it took me 5 hours to learn in my previous school."
                </p>
                <h3>Download our detailed curriclum below.</h3>
                <p>By submitting your email, you will receive additional communication from us on learning to code as well as the coding bootcamp industry.</p>
                <form action="/subscribers_curriculum" method="post" class="halves form-validate" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                    <input type="text" name="email" class="mb0 transparent validate-email validate-required signup-email-field" placeholder="Email Address" />
                    <input type="hidden" name="mousetrap" value="Curriculum"/>
                    <button class="btn btn-lg btn-filled" type="submit" class="mb0">Download Curriculum</button>                    
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>



<section class="">
    <!-- <div class="background-image-holder">
        <img alt="image" class="background-image" src="/img/wine13.jpg" />
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="">&ldquo;Actualize bootcamp was the start of the change of my career. Not only was it perfect for me as I was not in a position to leave my job, but the support and teachers there were undeniably the best I could have asked for. I can't rave about this enough!&rdquo;</h3>
                <p class="lead text-center">
                    -Caroline, API Specialist
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #3 -->

<!-- Page #4 -->
<section class="image-bg overlay bg-dark">
    <div class="background-image-holder darken-image">
        <img alt="Background Image" class="background-image" src="/img/cover15.jpg">
    </div>
    <div class="fs-vid-background">
        <video autoplay muted loop>
            <!-- <source src="video/video.webm" type="video/webm"> -->
            <source src="video/software_engineer.mp4" type="video/mp4">
            <!-- <source src="video/video.ogv" type="video/ogg"> -->
        </video>
    </div>
    <div class="container">
        <div class="row text-right">
            <div class="col-md-6 col-sm-6">
                <h2>Become A Software Engineer</h2>
                <p>
                    Our grads have landed positions at companies of all sizes and industries, from small startups all the way up to Amazon, Salesforce, and Bank of America.
                </p>
                <p>
                    Knowing how to code isn’t enough to break into the software development industry. At Actualize, we do not simply teach you how to code, but we also teach you how to land your first job as a software developer. Our job-placement curriculum breaks down the nuts and bolts of personal branding and outreach that has allowed so many of our graduates to stand out from the rest of the crowd, and land their first software engineering position.
                </p>
                <h3>Ever wonder what it's actually like to be a software developer? Download our ebook below.</h3>
                <p>By submitting your email, you will receive additional communication from us on learning to code as well as the coding bootcamp industry.</p>
                <form action="/subscribers_career_pdf" method="post" class="halves form-validate" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                    <input type="text" name="email" class="mb0 transparent validate-email validate-required signup-email-field" placeholder="Email Address" />
                    <input type="hidden" name="mousetrap" value="Career Ebook"/>
                    <button class="btn btn-lg btn-filled" type="submit" class="mb0">Download Ebook</button>                    
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #4 -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">Launch your new career</h4>
                <p class="lead mb64">
                    Our grads have landed jobs at top companies.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="logo-carousel">
                <ul class="slides">
                    <li>
                        <a href="https://about.twitter.com/" target="_blank">
                            <img alt="Logo" src="/img/logo9.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://aws.amazon.com/" target="_blank">
                            <img alt="Logo" src="/img/logo8.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://pivotal.io/labs" target="_blank">
                            <img alt="Logo" src="/img/logo2.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.salesforce.com/" target="_blank">
                            <img alt="Logo" src="/img/logo7.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.bcbsil.com/" target="_blank">
                            <img alt="Logo" src="/img/logo4.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.braintreepayments.com/" target="_blank">
                            <img alt="Logo" src="/img/logo5.png" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.bosch-home.com/us/" target="_blank">
                            <img alt="Logo" src="/img/logo6.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.allstate.com/" target="_blank">
                            <img alt="Logo" src="/img/logo3.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.bankofamerica.com/" target="_blank">
                            <img alt="Logo" src="/img/logo1.svg" />
                        </a>
                    </li>
                </ul>
            </div>
            <!--end of logo slider-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Page #5 -->

<section class="image-bg parallax overlay pt120 pb120 pt-xs-80 pb-xs-80">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="/img/cover12.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2 class="">
                    The Apprenticeship: The Ultimate in Career Support
                </h2>
                <p>The Apprenticeship is all about structured career support beyond the actual bootcamp. You'll engage in Job Hacking (our system of making the professional connections that will land you your first job), work on realistic team projects under the auspices of actual professional software developers, and practice for coding interviews. You get to do this for up to four months after graduation as you hunt for your first job.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #5 -->

<!-- Page #6 -->
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="<%= asset_path('conference_room.jpg') %>" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content overflow-hidden">
        <div>
            <h2 class="">In-Person</h2>
            <p>
                Join us in person at our Chicago headquarters in River North. Founded in early 2014, we're the longest-running coding bootcamp founded in Chicago.
            </p>

            <a class="btn btn-lg btn-blue mt32 mb0" href="/in-person">Learn More</a>
        </div>
    </div>
</section>
<section class="image-square right bg-secondary">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="<%= asset_path('online_living_room.jpg') %>" />
        </div>
    </div>
    <div class="col-md-6 content">
        <div class="text-right text-left-xs">
            <h2 class="">Online</h2>
            <p>
                Identical to our in-person program, our online program allows you to get the Actualize experience from anywhere in North America.
            </p>
            <a class="btn btn-lg btn-blue mt32 mb0" href="/online">Learn More</a>
        </div>
    </div>
</section>
<!-- End Page #6 -->


<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="img/webinars.jpeg" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <div class="feature bordered text-center">
                    <h3 class="uppercase">Live coding webinars</h3>
                    <p>
                        Interested in free live online coding classes? Join the thousands who are signed up for our free live webinar series!
                    </p>
                    <form action="/subscribers_webinar" method="post" class="halves form-validate" data-remote="true" data-success="Thanks! We'll notify you about our upcoming webinars." data-error="Please submit a correct email address.">
                    <input type="text" name="email" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" />
                    <input type="hidden" name="mousetrap" value="Webinar"/>
                    <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Notify Me</button>  
                    <span>*We won't share your email with third parties.</span>

                    </form>
                    
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
