       <!-- Content
        ============================================= -->


        <div class="marquee">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="marquee-content">
                            <h2> Become a Web Developer <br> Without Quitting Your Day Job</h2>
                            <p>Learn full-stack web development through in-class instruction <br> on weeknights and Sundays and then work for real clients through a guaranteed apprenticeship.</p><br>
                            <h3>San Francisco - Chicago - New York City</h3>
                            <%= link_to "Apply Now", new_application_path, class: "btn", id: "top-application-button" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container home-section">
            <div class="row">
                <div class="col-md-12 our-program">
                    <div class="section-header">
                        <h2>Our Philosophy</h2>
                        <p>At ACLTC, we believe that education involves much more than simply conveying information — it’s about studying and understanding how people think and learn as well as designing ways to ensure that students truly grasp the material at hand. We understand that every individual has a different way of thinking and that each new concept requires a unique approach. Even the most advanced subject-matter experts must also be well-trained educators, or the result will be a frustrating experience for students.</p>
                        <p>Our program is designed and taught by individuals who are not only highly talented web developers, but also expert educators. Our thoughtful, detailed curriculum was designed using educational best practices and careful consideration of how people learn and retain information. Every point in our methodology has been deliberated and debated upon by our instructors to the point of perfection – from the exact order in which to teach concepts and the analogies used to clarify them, to how exercises should be structured so they pack the maximum educational punch.</p>
                        <p>We also believe that you don't need to quit your job and put your life on hold to learn to code. We're often questioned as to how we cover on a part-time basis what other programs need full-time dedication to accomplish. The answer is that if the curriculum is designed and taught by top-notch educators – like ACLTC’s – you can learn a lot more in a much shorter time. Our graduates have proven this again and again.</p>
                        <h2>Our Program</h2>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase1-img">
                            <span>1</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase One</h2>
                            <h3>Three weeks of at-home exercises</h3>
                            <p>During this phase, you will become acquainted with the fundamentals of the Ruby programming language. Instructors review your work and provide feedback, and answer questions via video conferencing and email.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase2-img">
                            <span>2</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Two</h2>
                            <h3>Twelve weeks of in-class instruction</h3>
                            <p>In ACLTC classrooms, we flip back and forth between instruction and exercises. The instructor clarifies a new concept and demonstrates it visually, then gives an exercise that requires you to use that concept in a different and more challenging context. You will also have time in class to work on your individual Capstone project, which is demonstrated at your cohort’s Showcase and seen by potential employers.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase3-img">
                            <span>3</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Three</h2>
                            <h3>The Apprenticeship</h3>
                            <p>Our unique apprenticeship provides you the chance to put your skills to use! For up to four months, you will develop web applications for actual clients while being supervised and trained by experienced developers. This opportunity will give you the chance to develop the skills, experience, and portfolio that employers are looking for.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-12 skills">
                        <div class="section-header">
                            <h2>Gain the skills you need to land an entry-level web-development position</h2>
                            <p>Anyone Can Learn To Code teaches the in-demand skills to build interactive websites and web applications. In just 15 weeks, you’ll learn the fundamentals of:</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'ror-logo.png'%>">
                                <h3>RUBY ON RAILS</h3>
                                <div class="skill-description">
                                Ruby is an open-source programming language that focuses on simplicity and productivity. Rails is a web framework that allows developers to get a web app up and running very quickly.
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'html-logo.png'%>">
                                <h3>HTML</h3>
                                <div class="skill-description">
                                HTML is a markup language used to outline the form of a webpage. It defines where headlines, paragraphs, images, etc. are located on the page.
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'css3-logo.png'%>">
                                <h3>CSS</h3>
                                <div class="skill-description">
                                CSS is used to style HTML elements. It defines the color of text, a headline's font style, an image's size, etc. 
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'js-logo.png'%>">
                                <h3>JAVASCRIPT</h3>
                                <div class="skill-description">
                                JavaScript is the front-end programming language that allows developers to create dynamic, interactive features on the web.
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'angular-logo.png'%>">
                                <h3>ANGULAR</h3>
                                <div class="skill-description">
                                AngularJS is a front-end JavaScript framework that allows developers to build dynamic web applications more easily. 
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'git-logo.png'%>">
                                <h3>GIT</h3>
                                <div class="skill-description">
                                Git is an open-source version-control system designed for saving code that allows teams to collaborate more effectively.
                                </div>
                            </div>
                        </div>
                        <hr><br>
                        <p>We'll also delve into important concepts such as database design, SQL, Test-Driven Development, creating and consuming APIs, and more. We focus on best practices and the skills that employers are looking for today.</p><br><br>
                        <h5>Want to learn more about our curriculum and program? Check out our <a class="button-simple" href="/faqs">
                                <i class="fa fa-question-circle"></i>
                                FAQs </a>  &#xa0; for more information.
                        </h5>
                        <p>Or start learning today with one of our <a class="button-simple" href="/screencasts">
                            <i class="fa fa-play-circle"></i>
                            Screencasts! </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="showcase" data-parallax="scroll" data-image-src="<%= asset_path('showcase.jpg') %>">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>The Showcase</h2>
                        <div class="showcase-content">
                            <a href="https://youtu.be/KOf3jdFAoqc" class="btn showcase-button" target="_blank">View Showcase Footage</a>
                            <a href="/capstones" class="btn showcase-button" id="capstone-button">View Capstone Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="container homepage-slider home-section">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h2>Alumni</h2>
                    <img class="logo" src="<%= asset_path 'zach_profileimage.png'%>">
                    <div class="carousel-caption">
                        <p>
                            There wasn't a single lesson during this program where I didn't have fun and learn something. The instructors provide a structured environment, clear succinct exercises, and open-ended projects, helping you build your skills one step at a time. I can't rate this experience highly enough. I strongly recommend it to anyone. The connections you make with teachers, TAs, and even your classmates are worth the price of admission alone.
                        </p>
                        <strong>- Zach Bosteel</strong>
                    </div>
                    <!-- <button> View Alumni Projects</button> -->
                </div>
                <div class="item">
                    <h2>Alumni</h2>
                    <img class="logo" src="<%= asset_path 'kimberly_profileimage.png'%>">
                    <div class="carousel-caption">
                        <p>
                        The ACLTC boot camp is a very valuable and worthwhile opportunity to gain the confidence needed to become a full stack web developer. The instructor and assistants are patient, thorough and supportive during the entire process. I've also made a network of friends that I hope to stay in contact with for many years. This boot camp is just what one needs to boost their confidence and really go for it!
                        </p>
                        <strong>- Kimberly Lowe-Williams</strong>
                    </div>
                        <!-- <button> View Alumni Projects</button> -->
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>


        <div class="locations-wrapper">
            <div class="container home-section">
                <div class="row">
                    <h2> Locations </h2>
                    <div class="col-md-4">
                        <div class="location">
                            <a class="pushpin" href="https://www.google.com/maps/place/77+Geary+St,+San+Francisco,+CA+94108/@37.7876653,-122.4047894,17z/data=!3m1!4b1!4m2!3m1!1s0x80858088f19da4a5:0x55997ff84c10b76f" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <img class="logo" src="<%= asset_path 'location1.png'%>"><br>
                            <h3>San Francisco</h3>
                            <p>San Francisco classes are held in Union Square at <strong>TECHSPACE</strong>, a world-class provider of collaborative work spaces and state-of-the-art technology services for startups.</p>
                            <h6>77 Geary St, San Francisco, CA 94108</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="location">
                            <a class="pushpin" href="https://www.google.com/maps/place/222+W+Merchandise+Mart+Plaza,+Chicago,+IL+60654/@41.8885185,-87.6354802,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb6fa650467:0xd94994faa9dd5715" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <img class="logo" src="<%= asset_path 'location2.png'%>"><br>
                            <h3>Chicago</h3>
                            <p>Chicago classes are held at <strong>1871</strong>, the entrepreneurial hub for digital startups in the Windy City. <strong>1871</strong> offers large classrooms, state-of-the-art equipment, and the drive and creativity of startup culture.</p>
                            <h6>222 W Merchandise Mart Plaza, Chicago, IL 60654</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="location">
                            <a class="pushpin" href="https://www.google.com/maps/place/New+York,+NY/@40.7249726,-74.0037199,14.15z/data=!4m2!3m1!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <img class="logo" src="<%= asset_path 'ny-icon.png'%>"><br>
                            <h3>New York City</h3>
                            <p>The exact location of our NYC campus will be determined shortly, but will be centrally located so as to be easily accessible to all.</p><h6>TBD</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="summary-info-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="summary-info">
                            <p>Next available classes begin:</p>
                            <table id="cohort-schedule">
                                <tr>
                                    <td><h3><i class="fa fa-calendar"></i></h3></td>
                                    <td><h3><strong>San Francisco:</strong></h3></td>
                                    <td><h3>Jun. 19, 2016</h3></td>
                                </tr>
                                <tr>
                                    <td><h3><i class="fa fa-calendar"></i></h3></td>
                                    <td><h3><strong>Chicago:</strong></h3></td>
                                    <td><h3>Apr. 10, 2016</h3></td>
                                </tr>
                                <tr>
                                    <td><h3><i class="fa fa-calendar"></i></h3></td>
                                    <td><h3><strong>New York City:</strong></h3></td>
                                    <td><h3>Jun. 19, 2016</h3></td>
                                </tr>
                            </table>
                            <h3><i class="fa fa-graduation-cap"></i> Tuition: $12,500</h3>
                            <a href="http://hello.pave.com/anyone/" target="_blank">View Financing Options</a><br><br>
                            <h3><i class="fa fa-clock-o"></i>  Class times:</h3>
                            <p>Sunday 9am-5pm, M-Th 6pm-9:30pm</p><br>
                        </div>
                        <p>Check out our <a class="button-simple" href="/faqs">
                        <i class="fa fa-question-circle"></i>
                        FAQs </a>  &#xa0; page for more information.
                        </p>
                        <div id="application-button-wrapper">
                            <%= link_to "Apply Now", new_application_path, id: "application-button" %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="events-wrapper">
            <div class="container home-section">
                <!-- <h2> Events </h2> -->
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="event">
                            <h2>Mini Courses</h2>
                            <strong>Aenean lacinia bibendum nulla sed.</strong><br>
                            <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <button class="button-secondary"> I want to Register </button>
                        </div>
                    </div> -->
                    <div class="">
                        <div class="event">
                            <h2>Meetups</h2>
                            <strong>Join our free coding meetups!</strong><br>
                            <p>Meet others and explore the fundamentals of programming, including how to write code as well as how to develop a mindset that will enable you to learn anything technology-related. Each event is led by a tech expert who guides attendees in a new skill or concept and helps you get started with programming, whether as a career or as a hobby.</p>
                            <a href="http://www.meetup.com/Anyone-Can-Learn-To-Code-Chicago/" id="meetups-button" class="btn button-secondary" role="button" target="_blank"> View Upcoming Meetups </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        