       <!-- Content
        ============================================= -->


        <div class="marquee">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="marquee-content">
                            <h2> Become a Web Developer <br> Without Quitting Your Day Job.</h2>
                            <p>Learn full-stack web development through in-class instruction <br> on weeknights and Sundays.</p><br>
                            <h3>Next Cohort: Sep  15th</h3>
                            <h4>Application Deadline: TBD</h4><br>
                            <button class="button-primary"> Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container home-section">
            <div class="row">
                <div class="col-md-12 our-program">
                    <div class="section-header">
                        <h2>Our Program</h2>
                        <p>Our three-phase curriculum is created by experienced developers and educational experts and unlike other programs, Anyone Can Learn to Code combines detailed instruction, challenging exercises, and instructor feedback to teach the development skills companies are looking for.</p>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase1-img">
                            <span>1</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase One</h2>
                            <h3>Three weeks of in-home exercises</h3>
                            <p>That will teach you the fundamentals of the Ruby programming language. Instructors review your work and provide feedback, or answer questions via e-mail.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase2-img">
                            <span>2</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Two</h2>
                            <h3>Twelve weeks of in-class instruction</h3>
                            <p>Instruction, exercises, and projects designed to teach you the technologies you need to build a web application that you'll present at the end of the cohort at our Student Showcase, an event attended by local employers looking to hire software developers.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase3-img">
                            <span>3</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Three</h2>
                            <h3>Six weeks of a paid internship</h3>
                            <p>Where you will develop websites and web applications for actual clients, learn about test-driven and agile development practices, and pair-program with fellow students.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-12 skills">
                        <div class="section-header">
                            <h2>Learn the skills you need to land an entry-level web development position</h2>
                            <p>Anyone Can Learn To Code is a <strong> NON-EXPERIENCE-REQUIRED </strong> program that teaches the in-demand skills to build interactive websites and web applications. In just 12 weeks of weeknight and Sunday classes, you’ll learn the fundamentals of:</p>
                        </div>
                        <hr>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'ror-logo.png'%>">
                            <h3>RUBY ON RAILS</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis.
                            </div>
                        </div>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'html-logo.png'%>">
                            <h3>HTML</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.
                            </div>
                        </div>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'css3-logo.png'%>">
                            <h3>CSS</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo.
                            </div>
                        </div>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'js-logo.png'%>">
                            <h3>JAVASCRIPT</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.
                            </div>
                        </div>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'angular-logo.png'%>">
                            <h3>ANGULAR JS</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.
                            </div>
                        </div>
                        <div class="col-md-2 skill">
                            <img class="logo" src="<%= asset_path 'git-logo.png'%>">
                            <h3>GIT</h3>
                            <div class="skill-description">
                            Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commod.
                            </div>
                        </div>
                        <hr><br>
                        <p>Learn these skills and more with hands-on experience building web applications, knowledge of industry best practices, and ready to land an entry-level position as a software engineer or web developer.</p><br><br>

                        <p>Whatch our <a class="button-simple" href="">
                            <i class="fa fa-play-circle"></i>
                            Screencasts </a>
                            and start learning today.
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="container homepage-slider home-section">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h2> Alumni </h2>
                    <img class="logo" src="<%= asset_path 'alumni.png'%>">
                    <div class="carousel-caption">
                        <p>
                            I'm a graphic designer and my experience has always been in the print design world. As I have been looking for work it was pretty obvious that today's employers were looking for graphic designers that have strengths in both the print and web design world. While web design was something I had experimented in, I did not have enough experience to showcase these skills in my portfolio. ACLTC gave me the opportunity to build on those skills and learn new coding skills. Since the bootcamp I have been able to get a great job where I now use both my print and web design skills.
                        </p>
                        <strong> Trevor Jones </strong>
                    </div>
                    <button> View Alumni Projects</button>
                </div>
                <div class="item">
                    <h2> Partners </h2>
                    <img class="logo" src="<%= asset_path 'alumni.png'%>">
                    <div class="carousel-caption">
                        <p>
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.
                        </p>
                        <strong> - Trevor Jones </strong>
                    </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>


        <div class="locations-wrapper">
            <div class="container home-section">
                <div class="row">
                    <h2> Locations </h2>
                    <div class="col-md-6">
                        <div class="location">
                            <i class="fa fa-map-marker"></i>
                            <img class="logo" src="<%= asset_path 'location1.png'%>"><br>
                            <h3>San Francisco, California</h3>
                            <p>San Francisco classes are held in Union Square at <strong>TECHSPACE</strong>, a world-class provider of collaborative work spaces and state-of-the-art technology services for startups.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location">
                            <i class="fa fa-map-marker"></i>
                            <img class="logo" src="<%= asset_path 'location2.png'%>"><br>
                            <h3>Chicago, Illinois</h3>
                            <p>Chicago classes are held at <strong>1871</strong>, the entrepreneurial hub for digital startups in the Windy City. <strong>1871</strong> offers large classrooms, state-of-the-art equipment, and the drive and creativity of startup culture.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="apply-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                        </div>
                        <div class="apply">
                            <h2>Apply Today!</h2>
                            <p>Classes start:</p>
                            <h3><i class="fa fa-calendar"></i> Sep 15th</h3>
                            <p>Application deadline (TBD)</p><br>
                            <h3><i class="fa fa-graduation-cap"></i> Tuition ($11,500)</h3>
                            <a href="">View Financing Options </a><br><br>
                            <h3><i class="fa fa-clock-o"></i>  Class times:</h3>
                            <p>(M-T 6:30-9pm, Sunday 9-5pm)</p><br>
                            <button href="#">Start Application
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/FR1kkL9ON74?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="cta-faqs">
                            <br>
                            <p>Check out our <a class="button-simple" href="">
                                <i class="fa fa-play-circle"></i>
                                FAQs </a>  &#xa0; page for more information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="events-wrapper">
            <div class="container home-section">
                <h2> Events </h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="event">
                            <h2>Mini Courses</h2>
                            <strong>Aenean lacinia bibendum nulla sed.</strong><br>
                            <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <button class="button-secondary"> I want to Register </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event">
                            <h2>Meetups</h2>
                            <strong>Aenean lacinia bibendum nulla sed.</strong><br>
                            <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <button class="button-secondary"> View Upcoming Meetups </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container footer">
                <div class="col-md-4">
                    <p>Sign Up for news about upcomming courses and updates about ACLTC, events in your area, and many resources.</p>

                    <%= form_tag("/search", method: "get") do %>
                      <%= text_field_tag(:q) %>
                      <%= text_field_tag(:q) %>
                      <%= text_field_tag(:q) %>
                      <%= submit_tag("Sign Up") %>
                    <% end %>
                </div>
                <div class="col-md-4 icons">
                    <a href=""><img src="<%= asset_path 'facebook.png'%>"></a>
                    <a href=""><img src="<%= asset_path 'twitter.png'%>"></a>
                    <a href=""><img src="<%= asset_path 'meetup.png'%>"></a><br><br>
                    <p>ACLTC Inc, 2015. All rights reserved.</p>
                </div>
                <div class="col-md-4 inquiries">
                    <p>For general Inquiries contact us at: <br>
                        <i class="fa fa-envelope"></i><br>
                    info@anyonecanlearntocode.com</p>
                </div>
            </div>
        </footer>












        