       <!-- Content
        ============================================= -->


        <div class="marquee">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="marquee-content">
                            <h2> Become a Web Developer <br> Without Quitting Your Day Job.</h2>
                            <p>Learn full-stack web development through in-class instruction <br> on weeknights and Sundays.</p><br>
                            <h3>Chicago & San Francisco</h3>
                            <a href="/applications/new" class="btn" id="top-application-button"> Start Application</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container home-section">
            <div class="row">
                <div class="col-md-12 our-program">
                    <div class="section-header">
                        <h2>Our Philosophy</h2>
                        <p>We believe that education shouldn't simply be delivered by subject matter experts. A lot more goes into teaching than knowing the material well. Curriculum needs to be designed in a way that it can be digested by the human mind. Instruction needs to be delivered so that the concepts are clear, revealing not just the how but also the why. Hands on exercises need to be constructed in a way that they reinforce the lessons in a way that they become ingrained to the point where the lessons can be used in many different contexts.</p>
                        <p>That's why our program is designed and taught by individuals who are expert educators <em>in addition</em> to being subject matter experts. Our hand-crafted curriculum was painstakingly designed, using educational best practices and careful thought into how people learn and think. Every point in the curriculum has been deliberated and debated upon by our instructors, from the exact order in which to teach concepts, to the analogies used to clarify each concept, to how the exercises should be structured so they pack the maximum educational punch.</p>
                        <p>We also believe that you don't have to quit your job and your life to learn to code. We're often questioned on how we are able to teach on a part-time basis what other programs teach on a full-time basis. The answer is that if the curriculum is designed and taught by top notch educators, you can learn a lot more in a lot less time.</p>
                        <h2>Our Program</h2>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase1-img">
                            <span>1</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase One</h2>
                            <h3>Three weeks of at-home exercises</h3>
                            <p>During this phase, you will get acquainted the fundamentals of the Ruby programming language. Instructors review your work and provide feedback, or answer questions via video conferencing and e-mail.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase2-img">
                            <span>2</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Two</h2>
                            <h3>Twelve weeks of in-class instruction</h3>
                            <p>We flip back and forth between instruction and exercises. The instructor clarifies a new concept and demonstrates it visually, and then gives an exercise that requires you to use that concept in a different and more challenging context. Students also have time in class to work on their individual Capstone projects, which are shown at our Showcase attended by potential employers.</p>
                        </div>
                    </div>
                    <div class="phase">
                        <div class="phase-block block-image phase3-img">
                            <span>3</span >
                        </div>
                        <div class="phase-block">
                            <h2>Phase Three</h2>
                            <h3>Six weeks of a paid internship</h3>
                            <p>Our unique internship is a hybrid of continued education and doing work on real projects. Most of the time, you will develop web applications for actual clients (both paid and non-profit) while being supervised and trained by experienced developers. Additionally, you will receive additional curriculum and exercises focusing on more advanced topics helping you develop your skills even further.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-12 skills">
                        <div class="section-header">
                            <h2>Learn the skills you need to land an entry-level web development position</h2>
                            <p>Anyone Can Learn To Code teaches the in-demand skills to build interactive websites and web applications. In just 15 weeks, you’ll learn the fundamentals of:</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'ror-logo.png'%>">
                                <h3>RUBY ON RAILS</h3>
                                <div class="skill-description">
                                Ruby is an open source programming language focusing on simplicity and productivity. Rails is a web framework that allows one to get a web app up and running very quickly.
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'html-logo.png'%>">
                                <h3>HTML</h3>
                                <div class="skill-description">
                                HTML is a markup language used to define the form of a webpage. It defines where headlines, paragraphs, images, etc. are located on a webpage. 
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'css3-logo.png'%>">
                                <h3>CSS</h3>
                                <div class="skill-description">
                                CSS is used to style HTML elements. It defines the color of text, a headline's font style, an image's size, etc. 
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'js-logo.png'%>">
                                <h3>JAVASCRIPT</h3>
                                <div class="skill-description">
                                JavaScript is the front-end programming language. It allows developers to create dynamic, interactive features on the web.
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'angular-logo.png'%>">
                                <h3>ANGULAR</h3>
                                <div class="skill-description">
                                AngularJS is a front-end JavaScript framework that allows one to build dynamic web applications more easily. 
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 skill">
                                <img class="logo" src="<%= asset_path 'git-logo.png'%>">
                                <h3>GIT</h3>
                                <div class="skill-description">
                                Git is an open source version control system designed for saving code. It also allows teams to collaborate more effectively.
                                </div>
                            </div>
                        </div>
                        <hr><br>
                        <p>We'll also delve into important concepts such as database design, SQL, Test Driven Development, creating and consuming APIs, and more. We focus on best practices and the in-demand skills that employers are looking for.</p><br><br>
                        <h5>Want to learn even more about our curriculum? Check out our <a class="button-simple" href="/faqs">
                                <i class="fa fa-play-circle"></i>
                                FAQs </a>  &#xa0; for more information.
                        </h5>
                        <!-- <p>Watch our <a class="button-simple" href="">
                            <i class="fa fa-play-circle"></i>
                            Screencasts </a>
                            and start learning today.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>



        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="container homepage-slider home-section">
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h2>Alumni </h2>
                    <img class="logo" src="<%= asset_path 'alumni.png'%>">
                    <div class="carousel-caption">
                        <p>
                            I'm a graphic designer and my experience has always been in the print design world. As I have been looking for work it was pretty obvious that today's employers were looking for graphic designers that have strengths in both the print and web design world. While web design was something I had experimented in, I did not have enough experience to showcase these skills in my portfolio. ACLTC gave me the opportunity to build on those skills and learn new coding skills. Since the bootcamp I have been able to get a great job where I now use both my print and web design skills.
                        </p>
                        <strong> Trevor Jones </strong>
                    </div>
                    <!-- <button> View Alumni Projects</button> -->
                </div>
                <div class="item">
                    <h2>Partners</h2>
                    <img class="logo" src="<%= asset_path 'alumni.png'%>">
                    <div class="carousel-caption">
                        <p>
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.
                        </p>
                        <strong> - Trevor Jones </strong>
                    </div>
                        <!-- <button> View Alumni Projects</button> -->
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>


        <div class="locations-wrapper">
            <div class="container home-section">
                <div class="row">
                    <h2> Locations </h2>
                    <div class="col-md-6">
                        <div class="location">
                            <a class="pushpin" href="https://www.google.com/maps/place/77+Geary+St,+San+Francisco,+CA+94108/@37.7876653,-122.4047894,17z/data=!3m1!4b1!4m2!3m1!1s0x80858088f19da4a5:0x55997ff84c10b76f" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <img class="logo" src="<%= asset_path 'location1.png'%>"><br>
                            <h3>San Francisco, California</h3>
                            <p>San Francisco classes are held in Union Square at <strong>TECHSPACE</strong>, a world-class provider of collaborative work spaces and state-of-the-art technology services for startups.</p>
                            <h6>77 Geary St, San Francisco, CA 94108</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="location">
                            <a class="pushpin" href="https://www.google.com/maps/place/222+W+Merchandise+Mart+Plaza,+Chicago,+IL+60654/@41.8885185,-87.6354802,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb6fa650467:0xd94994faa9dd5715" target="_blank"><i class="fa fa-map-marker"></i></a>
                            <img class="logo" src="<%= asset_path 'location2.png'%>"><br>
                            <h3>Chicago, Illinois</h3>
                            <p>Chicago classes are held at <strong>1871</strong>, the entrepreneurial hub for digital startups in the Windy City. <strong>1871</strong> offers large classrooms, state-of-the-art equipment, and the drive and creativity of startup culture.</p>
                            <h6>222 W Merchandise Mart Plaza, Chicago, IL 60654</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="apply-wrapper">
            <div class="container home-section">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                        </div>
                        <div class="apply">
                            <h2>Apply Today!</h2>
                            <p>Classes begin:</p>
                            <table id="cohort-schedule">
                                <tr>
                                    <td></td>
                                    <td><h3><strong>San Francisco</strong></h3></td>
                                    <td><h3><strong>Chicago</strong></h3></td>
                                </tr>
                                <tr>
                                    <td><h3><i class="fa fa-calendar"></i></h3></td>
                                    <td><h3>Oct. 11, 2015</h3></td>
                                    <td><h3>Dec. 13, 2015</h3></td>
                                </tr>
                            </table>
                            
                            <h3><i class="fa fa-graduation-cap"></i> Tuition: $11,500</h3>
                            <a href="http://hello.pave.com/anyone/" target="_blank">View Financing Options</a><br><br>
                            <h3><i class="fa fa-clock-o"></i>  Class times:</h3>
                            <p>Sunday 9am-5pm, M-Th 6pm-9:30pm</p><br>
                            <a href="http://localhost:3000/applications/new" id="application-button" role="button">Start Application
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video">
                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/FR1kkL9ON74?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="cta-faqs">
                            <br>
                            <p>Check out our <a class="button-simple" href="/faqs">
                                <i class="fa fa-play-circle"></i>
                                FAQs </a>  &#xa0; page for more information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="events-wrapper">
            <div class="container home-section">
                <!-- <h2> Events </h2> -->
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="event">
                            <h2>Mini Courses</h2>
                            <strong>Aenean lacinia bibendum nulla sed.</strong><br>
                            <p>Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                            <button class="button-secondary"> I want to Register </button>
                        </div>
                    </div> -->
                    <div class="">
                        <div class="event">
                            <h2>Meetups</h2>
                            <strong>Join our free coding meetups!</strong><br>
                            <p>Meet and explore the fundamentals of programming, including how to write code as well as how to develop a mindset that will enable us to learn anything technology related. Each event will be led by a tech expert who will guide us in a new skill or concept, and help us get started with programming, whether as a career or as a hobby.</p>
                            <a href="http://www.meetup.com/Anyone-Can-Learn-To-Code-Chicago/" id="meetups-button" class="btn button-secondary" role="button" target="_blank"> View Upcoming Meetups </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        