<!-- Page #1 -->
<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('conference_room.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="logo" class="mb48 mb-xs-16 fade-1-4" src="img/actualize-logo.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="large bold big-bold">
                    Actualize In-Person
                </h1>
                <h2>
                    The original part-time coding bootcamp
                </h2>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/apply">Apply Now</a>
            </div>
        </div>
    </div>
</section>

<!-- End Page #1 -->

<!-- Page #2 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb80 mb-sm-40">Our Program</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#section-prework"><h4 class="uppercase mb0 mb-xs-24">Prework</h4></a>
                <h6 class="uppercase mb32">4 weeks of at-home exercises</h6>
                <p>To help you get ramped up for the main course, you’ll be watching our videos that introduce you to fundamentals of computer programming. You’ll also submit exercises to our teaching assistants, who will leave constructive feedback on your work, and answer questions via video conferencing and email.</p>
            </div>
            <div class="col-sm-4">
                <a href="#section-live-training"><h4 class="uppercase mb0 mb-xs-24">Live Training</h4></a>
                <h6 class="uppercase mb32">12 weeks of in-class instruction</h6>
                <p>The Live Training is the main course, led by your Lead Instructor. Every concept is taught and immediately followed by exercises that allow you to truly grasp what you’ve just learned. You'll also work on an individual Capstone Project, which is demonstrated at your cohort's graduate Showcase. Check out some examples of our graduates' Capstone projects!</p>
            </div>
            <div class="col-sm-4">
                <a href="#section-apprenticeship"><h4 class="uppercase mb0 mb-xs-24">Apprenticeship</h4></a>
                <h6 class="uppercase mb32">4 months of structured job support</h6>
                <p>After graduation, the Actualize apprenticeship provides you the opportunity to work on your job hunt in a structured environment with expert career guidance and accountability. You'll engage in our proven system of professional networking and personal branding, work on real coding interview challenges, and work on realistic team projects under the auspices of professional software engineers.</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #2 -->

<!-- Page #3 -->

<section id="section-prework" class="image-bg overlay pt120 pb120 pt-xs-80 pb-xs-80">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="<%= asset_path('prework1.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2 class="">
                    Prework
                </h2>
                <p>During Prework, you’ll be ramping up for class by watching videos of our CEO, Jay Wengrow, teaching the fundamentals of coding. Due to Jay’s quirky sense of humor, these videos may arguably be the most entertaining coding videos you’ll have ever seen. More importantly, though, Jay’s experience as both an educator and developer come to the fore as he breaks down each concept into a digestible chunk before moving onto the next. 
                </p>
                <p>
                Each video is also accompanied by a series of exercises, which you’ll submit via a specialized application called the Student Portal. Each exercise is reviewed by a Teaching Assistant, and you’ll receive constructive feedback where necessary.
                </p>
                <p>
                You can complete prework on your own schedule, although you should block off at least 20 hours to dedicate towards it.
                </p>
                <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<!-- End Page #3 -->

<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">4 Week Prework Schedule</h4>
                <p>The 4 weeks of prework are done remotely on your own schedule. Exercises are due at the end of each week.</p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-5 text-right text-center-xs">
                <h1 class=" mb8">Open Schedule</h1>
                <h4 class="">Up to 20 hours / week</h4>
            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs">
                <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
            </div>
            <div class="col-sm-6 col-md-5 text-center-xs">
                <h1 class=" mb8">Weekly Due Dates</h1>
                <h4 class="">Exercises due each Saturday</h4>
            </div>
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>

<!-- Page #4 -->

<section id="section-live-training" class="cover image-bg parallax overlay fullscreen">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="<%= asset_path('josh_teaching.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="">
                    Live Training
                </h2>
                <p>
                During the Live Training, the Lead Instructor flips back and forth between instruction and exercises. Instruction is more than lecture; the Lead Instructor demos a new concept by sharing the screen with the class on a large projector, and leads an interactive discussion on the subject.
                </p>
                <p>Immediately after the new concept is taught, students are presented with exercises that give them the chance to utilize the new concept in various scenarios, allowing them to truly grasp it. During the exercise, the Lead Instructor and Teaching Assistants are available to help out when any student gets stuck. And right after the exercises, the class goes back into Instruction mode and moves onto the next concept.</p>
                <p>This model of an instruction-driven class is very different than the typical coding bootcamp, which are exercise-driven. That is, in other bootcamps, students are taught new concepts by being given exercises, and the staff is on site to help students when they need help. There may be some ad-hoc lectures, but the students are essentially teaching themselves most of the material through exercises. The Actualize approach is to teach every concept through expert instruction, and follow the instruction with exercises on that concept. This approach allows us to cover the same amount of material as other bootcamp in a fraction of the time.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #4 -->

<!-- Page #5 -->


<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Screenshot" class="mb-xs-24" src="<%= asset_path('theo_and_bona.jpg') %>" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h2 class="mb40 mb-xs-16">Curriculum</h2>
            <p>
                During the Live Training, we teach software engineering using full stack web development. While we teach with specific technologies, what you’ll really learn is how to think like a developer, and be able to pick up anything software-related on your own.
            </p>
            <p>
                While the particular languages and frameworks we use to teach are those that we feel are best suited towards teaching, they also happen to be very popular in the industry today. They include Ruby, Rails, JavaScript, VueJS, HTML, CSS, SQL, and Git. You’ll learn back end development by utilizing and creating APIs, delving into database design, and working with Ruby on Rails. You’ll learn front-end development using JavaScript and VueJS, a powerful JavaScript framework.
            </p>
            
            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<!-- End Page #5 -->

<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">12 Week Live Training Schedule</h4>
                <p>The 12 weeks of live training takes place on Monday through Thursday evenings and all-day Sunday, which means you'll be able to keep a full time job while attending the program.</p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-5 text-right text-center-xs">
                <h1 class=" mb8">Sundays</h1>
                <h4 class="">9:00 am - 5:00 pm</h4>
            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs">
                <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
            </div>
            <div class="col-sm-6 col-md-5 text-center-xs">
                <h1 class=" mb8">Mon - Thu</h1>
                <h4 class="">6:00 pm - 9:30 pm</h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Page #6 -->

<section id="section-apprenticeship" class="cover image-bg parallax overlay fullscreen">
    <div class="background-image-holder darken-image">
        <img alt="image" class="background-image" src="<%= asset_path('apprenticeship.jpg') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="">
                    Apprenticeship
                </h2>
                <p>Even after you’ve graduated the bootcamp, we don’t just let you go - we’re committed to your success! After the Live Training, Actualize graduates have the option to join our Apprenticeship program for up to 4 months while seeking their first software engineering job. This program contains three components:
                </p>
                <p><strong>Apprenticeship:</strong> Build realistic applications in a structured team environment under the auspices of experienced professional developers. This is a great way to continue to hone your coding skills, build up your portfolio, and learn what it’s really like to work in a professional software development environment.
                </p>
                <p><strong>Job Hacking:</strong> During the bootcamp, we train you regarding the necessary professional networking and personal branding skills that you need to land your first job. During the apprenticeship, we run a structured support group that offers accountability and continued advice and support for the job hacking process.
                </p>
                <p><strong>Interview Prep:</strong> Prepare for interviews by working with your fellow apprentices on real coding interview problems.
                </p>
                <p>Apprentices and their Tech Leads meet two nights a week.</p>
            <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #6 -->

<!-- Page #7 -->


<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">4 Month Apprenticeship Schedule</h4>
                <p>The apprenticeship meets in the evenings twice a week in-person on Mondays and Thursdays. Each apprentice can work up to 4 months.</p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-5 text-right text-center-xs">
                <h1 class="mb8">Mondays</h1>
                <h4 class="">6:00 pm - 9:00 pm</h4>
            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs">
                <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
            </div>
            <div class="col-sm-6 col-md-5 text-center-xs">
                <h1 class="mb8">Thursdays</h1>
                <h4 class="">6:00 pm - 9:00 pm</h4>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #7 -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="mb16">Actualize HQ</h2>
                <p>
                    We've made our Chicago campus at 215 W. Ohio St. a fun and exciting environment, conducive for learning and creating a family-like atmosphere.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12">
                <div class="image-slider slider-all-controls controls-inside">
                    <ul class="slides">
                        <li>
                            <img alt="Image" src="<%= asset_path('chicago_space3.jpg') %>" />
                        </li>
                        <li>
                            <img alt="Image" src="<%= asset_path('chicago_space2.jpg') %>" />
                        </li>
                        <li>
                            <img alt="Image" src="<%= asset_path('chicago_space1.jpg') %>" />
                        </li>
                        <li>
                            <img alt="Image" src="<%= asset_path('chicago_space4.jpg') %>" />
                        </li>
                        <li>
                            <img alt="Image" src="<%= asset_path('chicago_space5.JPG') %>" />
                        </li>
                    </ul>
                </div>
                <!--end of image slider-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Page #8 -->
<section class="image-bg overlay parallax pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="img/app2.jpg" />
    </div>
    <div class="container">
        <div class="row mb40 mb-xs-24">
            <div class="col-sm-12 text-center spread-children">
                <img class="image-xs circle-image" alt="Pic" src="img/testimonial1.jpg" />
                <img class="image-xs circle-image" alt="Pic" src="img/testimonial2.jpg" />
                <img class="image-xs circle-image" alt="Pic" src="img/testimonial3.jpg" />
                <img class="image-xs circle-image" alt="Pic" src="img/testimonial4.jpg" />
                <img class="image-xs circle-image" alt="Pic" src="img/testimonial5.jpg" />
            </div>
        </div>
        <!--end of row-->
        <div class="row mb16 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h3>What Actualize grads have to say</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="text-slider slider-arrow-controls text-center relative">
                    <ul class="slides">
                        <li>
                            <p class="lead">Attending Actualize literally changed my life. I had been stuck in a dead end job for years and was just going through the motions. Not only did I have a great experience learning, I also made some life long friends along the way. I now have a great job at a startup and the opportunities to continue learning and growing are endless.</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Jason</h6>
                                <span>Support Engineer</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">Not only was it perfect for me as I was not in a position to leave my job, but the support and teachers there were undeniably the best I could have asked for. All the teachers are former educators who also have a deep breadth of coding knowledge. I can't rave about this enough!</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Caroline</h6>
                                <span>API Specialist</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">I've gone from student to teachers assistant to software engineer to tech lead and I'm currently in control of my own destiny in a way that I've never been able to brag about before. This was completely life-changing.</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Jamie</h6>
                                <span>Associate Software Engineer</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #8 -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="uppercase mb40">Tuition and financing</h3>
                <div class="row">
                    <div class="col-md-8">
                        <% @cohorts.each do |cohort| %>
                            <h5 class="uppercase pull-left"><strong>Next <%= cohort[:name] %> start date:</strong> <%= cohort[:start_date].strftime("%B %e, %Y") %></h5>
                            <div class="clearfix"></div>
                            <% if cohort[:early_bird_deadline] %>
                                <h5 class="text-success"><strong>Early Bird Special!</strong> Enroll by <%= cohort[:early_bird_deadline].strftime("%B %e") %> and recieve $1000 off tuition.</h5>
                            <% end %>
                            <br>
                        <% end %>
                    </div>
                    <div class="col-md-4">
                        <h5 class="uppercase pull-right"><strong>Tuition:</strong> $13,900</h5>
                    </div>
                </div>
                <hr>
                <p class="lead mb40">
                    The tuition covers the complete program - 4 weeks of prework, 12 weeks of live training, and 4 months of apprenticeship. Scholarships and financing options may be available upon request.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
    </div>
</section>
