<section class="page-title page-title-3 bg-dark">
    <div class="background-image-holder very-darken-image">
      <img alt="Background Image" class="background-image" src="<%= asset_path('josh.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
              <% if @referral == "wwcode" %>
                <h3 class="uppercase mb0">Actualize <> Women Who Code</h3>
              <% else %>
                
              <% end %>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <ol class="breadcrumb breadcrumb-2 hide-on-mobile">
        <li>
          <% if @referral == "wwcode" %>
            <span>
              Actualize has partnered with Women Who Code to offer<br>scholarships for its members! Begin your application here.
            </span>
          <% else %>
            <span style="font-size: 18px">
              
            </span>
          <% end %>
        </li>
    </ol>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <%= form_tag '/josh/appreciation', method: :post, class: "form-validate", data: {success: "Thanks for your submission.", error: "Please fill all fields correctly."} do %>
                  <div class="input-with-label text-left">
                    <%= label_tag :name, "Name" %>
                    <%= text_field_tag :name, @appreciation.name, class: "validate-required" %>
                  </div>
                  <div class="input-with-label text-left">
                    <%= label_tag :post, "What do you have to say about Josh?" %>
                    <%= text_area :post, @appreciation.post, class: "validate-required", :size=>'30x15' %>
                  </div>
                    <%= hidden_field_tag :mousetrap, nil, :value => "Started Application" %>
                    <% if @referral %>
                      <%= hidden_field_tag :referral, nil, :value => @referral %>
                    <% end %>
                    <input type="checkbox" name="contact_me_by_fax_only" value="1" style="display:none !important" tabindex="-1" autocomplete="off">
                  <div class="form-group">
                    <%= submit_tag "Say a nice thing!", class: "button button-3d nomargin nopadding primary-color" %>
                  </div>
                <% end %>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>