<% content_for :head do %>
  <title>Online Coding Bootcamp | Actualize</title>
  <meta name="description" content="Acutalize Online Live is the world's only real-time, online coding bootcamp. Our part-time course is conducted over seamless video conferencing, offering the feel of an in-person bootcamp, while taken from your own home. We are featured in both Course Report and Switchup as one of the world's best online coding bootcamps.">
<% end %>


<!-- Page #1 -->
<section class="image-bg overlay fullscreen cover parallax">
    <div class="background-image-holder darken-image">
        <img alt="Become a software developer" class="background-image" src="<%= asset_path('online_live_shot.png') %>">
    </div>
    <div class="fs-vid-background">
        <video autoplay muted loop>
            <!-- <source src="video/video.webm" type="video/webm"> -->
            <source src="video/online_live_hero.mp4" type="video/mp4">
            <!-- <source src="video/video.ogv" type="video/ogg"> -->
        </video>
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <img alt="Actualize Coding Bootcamp" class="mb48 mb-xs-16 fade-1-4" src="img/actualize-logo.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 id="h1" class="large bold big-bold">
                    Actualize Online Live
                </h2>
                <h1 id="h2" class="">
                    The online coding bootcamp that's just like in person
                </h1>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-lg" href="/apply">Apply Now</a>
            </div>
        </div>
    </div>
</section>

<!-- End Page #1 -->

<!-- Page #2 -->
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h4 class="uppercase mb16">What does Online Live mean?</h4>
                <p class="lead">
                    Watch this short video to see how Actualize Online Live is like no other online learning experience you've ever seen before. 
                </p>
                <div class="embed-video-container embed-responsive embed-responsive-16by9 mb64">
                    <!-- <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/257145462?badge=0&title=0&byline=0&title=0&portrait=0" allowfullscreen="allowfullscreen"></iframe> -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hBLbuwZuv2I?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <!--end of embed video container-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="mb80 mb-sm-40">Our Program</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="#section-prework"><h4 class="uppercase mb0 mb-xs-24">Prework</h4></a>
                <h6 class="uppercase mb32">4 weeks of at-home exercises</h6>
                <p>To help you get ramped up for the main course, you’ll be watching our videos that introduce you to fundamentals of computer programming. You’ll also submit exercises to our teaching assistants, who will leave constructive feedback on your work, and answer questions via video conferencing and email.</p>
            </div>
            <div class="col-sm-4">
                <a href="#section-live-training"><h4 class="uppercase mb0 mb-xs-24">Live Training</h4></a>
                <h6 class="uppercase mb32">12 weeks of in-class instruction</h6>
                <p>The Live Training is the main course, led by your Lead Instructor. Every concept is taught and immediately followed by exercises that allow you to truly grasp what you’ve just learned. You'll also work on an individual Capstone Project, which is demonstrated at your cohort's graduate Showcase. Check out some examples of our graduates' Capstone projects!</p>
            </div>
            <div class="col-sm-4">
                <a href="#section-apprenticeship"><h4 class="uppercase mb0 mb-xs-24">Career Support</h4></a>
                <h6 class="uppercase mb32">Post-bootcamp structured job support</h6>
                <p>After graduation Actualize provides you the opportunity to work on your job hunt in a structured environment with expert career guidance and accountability. You'll engage in our proven Job Hacking system, which includes professional networking and personal branding, and working on real coding interview challenges.</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #2 -->

<!-- Page #3 -->

<section id="section-prework" class="image-bg overlay pt120 pb120 pt-xs-80 pb-xs-80 shaded">
    <div class="background-image-holder">
        <img alt="Learn to code" class="background-image" src="<%= asset_path('prework1.jpg') %>" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <h2 class="">
                    Prework
                </h2>
                <p>During Prework, you’ll be ramping up for class by watching videos of our CEO, Jay Wengrow, teaching the fundamentals of coding. Due to Jay’s quirky sense of humor, these videos may arguably be the most entertaining coding videos you’ll have ever seen. More importantly, though, Jay’s experience as both an educator and developer come to the fore as he breaks down each concept into a digestible chunk before moving onto the next. 
                </p>
                <p>
                Each video is also accompanied by a series of exercises, which you’ll submit via a specialized application called the Student Portal. Each exercise is reviewed by a Teaching Assistant, and you’ll receive constructive feedback where necessary.
                </p>
                <p>
                You can complete prework on your own schedule, although you should block off at least 20 hours to dedicate towards it.
                </p>
                <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<!-- End Page #3 -->

<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">4 Week Prework Schedule</h4>
                <p>The 4 weeks of prework are done remotely on your own schedule. Exercises are due at the end of each week.</p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-5 text-right text-center-xs">
                <h1 class=" mb8">Open Schedule</h1>
                <h4 class="">Up to 20 hours / week</h4>
            </div>
            <div class="col-md-2 text-center hidden-sm hidden-xs">
                <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
            </div>
            <div class="col-sm-6 col-md-5 text-center-xs">
                <h1 class=" mb8">Weekly Due Dates</h1>
                <h4 class="">Exercises due each Saturday</h4>
            </div>
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>

<!-- Page #4 -->

<section id="section-live-training" class="cover image-bg parallax overlay fullscreen shaded">
    <div class="background-image-holder darken-image">
        <img alt="Online coding bootcamp" class="background-image" src="<%= asset_path('online_live_shot.png') %>" />
    </div>
    <div class="container v-align-transform">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="">
                    Live Training
                </h2>
                <p>
                The Live Training is the main act, and in just 12 weeks your Lead Instructor will help you transform from a coding newbie to an entry-level software developer capable of teaching yourself any new technology.
                </p>
                <p>
                The online Live Training is completely different than other online offerings – this isn’t a set of exercises that students log into and complete on their own time. Our program is an “in-person online” experience and there are set class times (Monday through Thursday evenings and all day Sunday) where the Lead Instructor is teaching and providing exercises throughout. Nothing is pre-recorded – students are able to communicate with other students and ask questions during each live class session. Everyone can see the Lead Instructor and all their classmates at all times - even during the exercises.
                </p>
                <p>The student learning experience centers around video conferencing into each class session. Each student uses both their laptop as well as an external monitor attached to it. The student does their actual work on their laptop, and the video conferencing platform remains on the external monitor, where the students can see both their lead instructor and classmates.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- End Page #4 -->

<!-- Page #5 -->


<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Online code school" class="mb-xs-24" src="<%= asset_path('online.png') %>" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h3 class="mb40 mb-xs-16">Live Instruction</h3>
            <p>
                The class format constantly flips back and forth between instruction and exercises. During both instruction and exercises, the Lead Instructor can see each student, and all students can see each other.
            </p>
            <p>
                During instruction, the Lead Instructor’s face is the main focus on the external monitor while introducing the new lesson, with the classmates off to the side.
            </p>
            <p>
                While demoing code, the Lead Instructor shares their screen while the classmates’ faces are off to the side.
            </p>
            
            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Online coding instructor" class="cast-shadow mb-xs-24" src="img/brian_smile.png" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
            <h3 class="mb40 mb-xs-16">Live Exercises</h3>          
            <p>
            The Lead Instructor and all the students remain in the virtual classroom as they tackle the exercises. When students need help, they can send a chat message to the Lead Instructor and the Lead Instructor jumps into a one-on-one video conference to privately answer student questions. At this time, students can share their own screen with the Lead instructor, and can even grant access to the Lead Instructor to remotely type into the student’s computer. This means students can ask instructors or each other for help and get the immediate feedback that is critical to learning.
            </p>
        </div>
    </div>
    <!--end of container-->
</section>

<section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
    <div class="col-md-6 col-sm-4 p0">
        <img alt="Online coding student" class="mb-xs-24" src="<%= asset_path('karol.jpg') %>" />
    </div>
    <div class="container">
        <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
            <h3 class="mb40 mb-xs-16">Learn how to learn</h3>
            <p>
                During the Live Training, we teach software engineering using full stack web development. While we teach with specific technologies, what you’ll really learn is how to think like a developer, and be able to pick up anything software-related on your own.
            </p>
            <p>
                While the particular languages and frameworks we use to teach are those that we feel are best suited towards teaching, they also happen to be very popular in the industry today. They include Ruby, Rails, JavaScript, VueJS, HTML, CSS, SQL, and Git. You’ll learn back end development by utilizing and creating APIs, delving into database design, and working with Ruby on Rails. You’ll learn front-end development using JavaScript and VueJS, a powerful JavaScript framework.
            </p>
            
            <!--end of feature-->
        </div>
    </div>
    <!--end of container-->
</section>

<!-- End Page #5 -->

<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">Daytime Course</h4>
                <p>The 12 weeks of live training for Online Live Daytime takes place on <strong>Monday through Friday</strong> for 5 hours each day. The course consists of students throughout North America, so the hours of the course depend on your time zone.</p>
            </div>
        </div>
        <!--end of row-->
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                <div class="tabbed-content text-tabs">
                    <ul class="tabs">
                        <li class="time-zone time-zone-pacific active">
                            <div class="tab-title">
                                <span>Pacific</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mon - Fri</h1>
                                    <h4 class="">9:00 am - 2:00 pm PST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Sat - Sun</h1>
                                    <h4 class="">No class</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-mountain">
                            <div class="tab-title">
                                <span>Mountain</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mon - Fri</h1>
                                    <h4 class="">10:00 am - 3:00 pm MST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Sat - Sun</h1>
                                    <h4 class="">No class</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-central">
                            <div class="tab-title">
                                <span>Central</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mon - Fri</h1>
                                    <h4 class="">11:00 am - 4:00 pm CST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Sat - Sun</h1>
                                    <h4 class="">No class</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-eastern">
                            <div class="tab-title">
                                <span>Eastern</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mon - Fri</h1>
                                    <h4 class="">12:00 pm - 5:00 pm EST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Sat - Sun</h1>
                                    <h4 class="">No class</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of text tabs-->
            </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">Nights-and-Weekends Course</h4>
                <p>The 12 weeks of live training for Online Live Nights-and-Weekends takes place <strong>all-day Sunday</strong> and <strong>Monday through Thursday evenings</strong>. The course consists of students throughout North America, so the hours of the course depend on your time zone.</p>
            </div>
        </div>
        <!--end of row-->

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                <div class="tabbed-content text-tabs">
                    <ul class="tabs">
                        <li class="time-zone time-zone-pacific active">
                            <div class="tab-title">
                                <span>Pacific</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Sundays</h1>
                                    <h4 class="">7:00 am - 3:00 pm PST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Mon - Thu</h1>
                                    <h4 class="">4:00 pm - 7:30 pm PST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-mountain">
                            <div class="tab-title">
                                <span>Mountain</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Sundays</h1>
                                    <h4 class="">8:00 am - 4:00 pm MST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Mon - Thu</h1>
                                    <h4 class="">5:00 pm - 8:30 pm MST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-central">
                            <div class="tab-title">
                                <span>Central</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Sundays</h1>
                                    <h4 class="">9:00 am - 5:00 pm CST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Mon - Thu</h1>
                                    <h4 class="">6:00 pm - 9:30 pm CST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-eastern">
                            <div class="tab-title">
                                <span>Eastern</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Sundays</h1>
                                    <h4 class="">10:00 am - 6:00 pm EST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Mon - Thu</h1>
                                    <h4 class="">7:00 pm - 10:30 pm EST</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of text tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Page #6 -->
<section id="section-apprenticeship" class="cover image-bg parallax overlay fullscreen shaded">
    <div class="background-image-holder">
        <img alt="Coding apprenticeship" class="background-image" src="img/dani_coaching.png" />
    </div>
    <div class="container v-align-transform">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
            <h2>Structured Job Support Even After You Graduate</h2>
            <p>The Actualize Career Support program meets two nights a week following graduation for structured career support. You'll engage in Job Hacking, which is our proven system of personal branding and networking that will help you land your first job. In addition, you'll practice for behavioral and technical job interviews and build additional projects for your professional portfolio.
            </p>
            <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="bg-secondary">
    <div class="container">
        <div class="row mb40 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase">Career Support Schedule</h4>
                <p>The Actualize Career Support program meets in the evenings twice a week on Mondays and Thursdays. The course consists of students throughout North America, so the hours of the course depend on your time zone</p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                <div class="tabbed-content text-tabs">
                    <ul class="tabs">
                        <li class="time-zone time-zone-pacific active">
                            <div class="tab-title">
                                <span>Pacific</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mondays</h1>
                                    <h4 class="">4:00 pm - 7:00 pm PST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Thursdays</h1>
                                    <h4 class="">4:00 pm - 7:00 pm PST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-mountain">
                            <div class="tab-title">
                                <span>Mountain</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mondays</h1>
                                    <h4 class="">5:00 pm - 8:00 pm MST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Thursdays</h1>
                                    <h4 class="">5:00 pm - 8:00 pm MST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-central">
                            <div class="tab-title">
                                <span>Central</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mondays</h1>
                                    <h4 class="">6:00 pm - 9:00 pm CST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Thursdays</h1>
                                    <h4 class="">6:00 pm - 9:00 pm CST</h4>
                                </div>
                            </div>
                        </li>
                        <li class="time-zone time-zone-eastern">
                            <div class="tab-title">
                                <span>Eastern</span>
                            </div>
                            <div class="tab-content">
                                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                                    <h1 class=" mb8">Mondays</h1>
                                    <h4 class="">7:00 pm - 10:00 pm EST</h4>
                                </div>
                                <div class="col-md-2 text-center hidden-sm hidden-xs">
                                    <i class="ti-time icon icon-lg mt8 mt-xs-0"></i>
                                </div>
                                <div class="col-sm-6 col-md-5 text-center-xs">
                                    <h1 class=" mb8">Thursdays</h1>
                                    <h4 class="">7:00 pm - 10:00 pm EST</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of text tabs-->
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
<!-- End Page #7 -->

<!-- Page #8 -->
<section class="image-bg overlay parallax pt120 pb120 pt-xs-40 pb-xs-40 shaded">
    <div class="background-image-holder darken-image">
        <img alt="Laptop" class="background-image" src="img/grads.jpg" />
    </div>
    <div class="container">
        <!-- <div class="row mb40 mb-xs-24">
            <div class="col-sm-12 text-center spread-children">
                <img class="image-xs circle-image" alt="Alumni Headshot" src="img/testimonial1.jpg" />
                <img class="image-xs circle-image" alt="Alumni Headshot" src="img/testimonial2.jpg" />
                <img class="image-xs circle-image" alt="Alumni Headshot" src="img/testimonial3.jpg" />
                <img class="image-xs circle-image" alt="Alumni Headshot" src="img/testimonial4.jpg" />
                <img class="image-xs circle-image" alt="Alumni Headshot" src="img/testimonial5.jpg" />
            </div>
        </div> -->
        <!--end of row-->
        <div class="row mb16 mb-xs-0">
            <div class="col-sm-12 text-center">
                <h3>What Actualize grads have to say</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="text-slider slider-arrow-controls text-center relative">
                    <ul class="slides">
                        <li>
                            <p class="lead">Attending Actualize literally changed my life. I had been stuck in a dead end job for years and was just going through the motions. Not only did I have a great experience learning, I also made some life long friends along the way. I now have a great job at a startup and the opportunities to continue learning and growing are endless.</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Jason</h6>
                                <span>Support Engineer</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">Not only was it perfect for me as I was not in a position to leave my job, but the support and teachers there were undeniably the best I could have asked for. All the teachers are former educators who also have a deep breadth of coding knowledge. I can't rave about this enough!</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Caroline</h6>
                                <span>API Specialist</span>
                            </div>
                        </li>
                        <li>
                            <p class="lead">I've gone from student to teachers assistant to software engineer to tech lead and I'm currently in control of my own destiny in a way that I've never been able to brag about before. This was completely life-changing.</p>
                            <div class="quote-author">
                                <h6 class="uppercase mb0">Jamie</h6>
                                <span>Associate Software Engineer</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- End Page #8 -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="uppercase mb40">Tuition and financing</h3>
                <div class="row">
                    <div class="col-md-8">
                    <!-- <h5 class="text-warning"><strong>Application Deadline Soon!</strong> You must apply by December 1, 2017 to enroll in our upcoming cohorts.</h5> -->
                        <% @cohorts.each do |cohort| %>
                            <h5 class="uppercase pull-left"><strong>Next <%= cohort[:name] %> start date:</strong> <%= cohort[:start_date].strftime("%B %e, %Y") %></h5>
                            <div class="clearfix"></div>
                            <% if cohort[:early_bird_deadline] %>
                                <h5 class="text-success"><strong>Early Bird Special!</strong> Enroll by <%= cohort[:early_bird_deadline].strftime("%B %e") %> and recieve $500 off tuition.</h5>
                            <% end %>
                            <br>
                        <% end %>
                    </div>
                    <div class="col-md-4">
                        <h5 class="uppercase pull-right"><strong>Tuition:</strong> $9,500</h5>
                    </div>
                </div>
                <hr>
                <p class="lead mb40">
                    The tuition covers the complete program - 4 weeks of prework, 12 weeks of live training, and career support. Scholarships and financing options may be available upon request.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a class="btn btn-lg btn-filled" href="/apply">Apply Now</a>
            </div>
        </div>
    </div>
</section>

<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder darken-image">
        <img alt="Learn to code webinars" class="background-image" src="img/cowardly_lion.png" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                <div class="feature bordered text-center">
                    <h3 class="uppercase">Live coding webinars</h3>
                    <p>
                        Interested in free live online coding classes? Join the thousands who are signed up for our free live webinar series!
                    </p>
                    <form action="/subscribers_webinar" method="post" class="halves form-validate" data-remote="true" data-success="Thanks! We'll notify you about our upcoming webinars." data-error="Please submit a correct email address.">
                    <input type="text" name="email" class="mb16 validate-required validate-email signup-email-field" placeholder="Email Address" />
                    <input type="hidden" name="mousetrap" value="Webinar"/>
                    <button class="btn btn-lg btn-blue mb16" type="submit" class="mb0">Notify Me</button>  
                    <span>*We won't share your email with third parties.</span>

                    </form>
                    
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
