<div class="divider divider-left divider-rounded"><i class="icon-pencil"></i></div>
  
<%= form_tag "/tutorial_submissions", method: :post do %>
  <%= hidden_field_tag :lesson_title, @lesson_title %>
  <div class="form-group">
    <%= label_tag :gist_url, "Solutions Gist URL" %>
    <%= text_field_tag :gist_url, nil, class: "form-control", placeholder: "https://gist.github.com/your-user-name/..." %>
    <%= submit_tag "Submit Solutions" %>
  </div>
<% end %>
