<!-- Page Title
============================================= -->
<section id="page-title">
	<div class="container clearfix">
		<h1>Online Tutorial</h1>
		<span>The tutorial will be designed for people who have zero programming experience and will aim to have a very shallow learning curve - much shallower than the relatively steep learning curve of our bootcamp.</span>
	</div>
</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
			<% @categories.each do |category| %>
				<div class="fancy-title title-bottom-border">
					<h3><%= category[:title] %></h3>
				</div>
				<div class="list-group">
					<% category[:lessons].each do |lesson| %>
						<a href="/tutorial/lessons/<%= lesson[:title].parameterize %>" class="list-group-item">
							<h4 class="list-group-item-heading">
								<i class="<%= category[:icon] %>"></i>&emsp;<%= lesson[:title] %>
								<span style="float:right" class="lesson-time hidden-xs"><i class="icon-time"></i> <%= lesson[:time] %></span>
							</h4>
						</a>
					<% end %>
				</div>
				<% if category[:lessons].length == 0 %>
					<p>&emsp;<i class="icon-cog"></i> Coming soon!</p>
				<% end %>
			<% end %>
    </div>
  </div>
</section><!-- #content end -->