<div class="marquee corporate-training-background-image">
  <div id = "marquee" class="container">
    <div class="row">
      <div class="marquee-content clearfix">
        <div class="col-md-4">
          <img class="logo" src="<%= asset_path 'acltc-logo-180.png'%>">
        </div>
        <div class="col-md-8">
          <h3>Streamline and accelerate the prototype-creation process to meet organizational and revenue goals</h3>
        </div>
        <p>ACLTC's Corporate Training Program is designed to augment your team's technical knowledge base and provide them with the tools, skills, and mindset needed to develop outcomes that meet and exceed clients' expectations.</p><br />
        <div class="row">
          <div class="col-md-12">
            <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
          </div>
        </div>
      </div> <!-- Ends row for Corporate Training Intro" -->
    </div>
  </div>
</div>

<div class="our-program-wrapper page-wrapper">
  <div class="home-section">
    <div class="row">
      <div class="col-md-12 our-program">
        <div class="section-header">
          <h2 class = "actualize-logo">Corporate Training Program</h2>
        </div>
        <div class="phase">
          <div class="phase-block col-6-xs phase-border">
            <div class="phase-point-right"></div>
              <h2>Training and Coaching</h2>
              <h3>In Class Instruction</h3>
              <p>ACLTC Corporate Training focuses on the client's production and revenue goals by providing a rich curriculum and thoughtful instruction developed with best education practices.</p>
              <p>Training is the foundation that produces independent full-stack developers and prepares them for professional work.</p>
          </div>
          <div class="phase-block col-6-md">
            <img class="philosophy-icon" src="<%= asset_path 'corporate_training_ny_trevor.png'%>">
          </div>
        </div>
        <div class="phase">
          <div class="phase-block col-6-md phase-border">
            <div class="phase-point-right"></div>
              <h2>Learning Outcomes</h2>
              <h3>Functional Prototypes</h3>
              <p>ACLTC services ensure that independent developers function as reflective practitioners and continue to refine their skills and appitude. Developers will be able to build prototypes independently and deploy applications to a working environment.</p>
          </div>
          <div class="phase-block col-6-md">
            <img class="philosophy-icon" src="<%= asset_path 'corporate_training_terry.png'%>">
          </div>
        </div>
      </div> <!-- col-12 -->
    </div> <!-- /row -->
    <div class="row">
      <div class="col-12-md centered">
        <div class="col-md-12 centered">
          <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
        </div>
      </div>
    </div>
  </div> <!-- home-section -->
</div> <!-- our-program-wrapper close corporate training description-->

<div class="curriculum-wrapper page-wrapper">
  <div class="home-section">
    <div class="row">
      <div class="col-md-12 skills">
        <div class="section-header">
          <h2 class = "actualize-logo-circular"> Corporate Training Curriculum</h2>
          <p>Learn the fundamentals and gain proficiency with:</p>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'ruby_icon.png'%>">
              <h3>Ruby</h3>
            </div> 
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'rails_icon.png'%>">
              <h3>Rails</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'node_js_icon.png'%>">
              <h3>NodeJS <br />&nbsp; </h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'python_icon.png'%>">
              <h3>Python</h3>
            </div>
          </div>
        </div> <!-- ends 1st row -->
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'angular_icon.png'%>">
              <h3>AngularJS</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'express_icon.png'%>">
              <h3>Express.JS</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'javascript_icon.png'%>">
              <h3>JavaScript</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <%= image_tag "jquery_icon.png", class: "curriculum-icon" %>
              <h3>jQuery</h3>
            </div>
          </div>
        </div> <!--- ends 2nd row -->
        <br>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'html_icon.png'%>">
              <h3>HTML</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'css_icon.png'%>">
              <h3>CSS</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'mongodb_icon.png'%>"><br />
              <h3>MongoDB</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="skill gray-skill-wrapper border-bottom-yellow">
              <img class="curriculum-icon" src="<%= asset_path 'git_icon.png'%>">
              <h3>Git</h3>
            </div>
          </div>
        </div>
        <br />          
      </div> <!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- home section -->
</div><!-- curriculum wrapper close -->
<div class="locations-wrapper page-wrapper">
  <div class="home-section">
    <div class="section-header">
      <h2 class = "actualize-logo-circular"> Corporate Training Locations</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="location">
          <img class="logo" src="<%= asset_path 'chicago.png'%>"><br />
          <h3>Chicago</h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="location">
          <img class="logo" src="<%= asset_path 'nyc.png'%>"><br />
          <h3>New York City</h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="location">
          <img class="logo" src="<%= asset_path 'san-francisco.png'%>"><br />
          <h3>San Francisco</h3>
        </div>
      </div>
    </div>
  </div>
</div>
