<div id="corporate-training-home-page">
  <div class="marquee corporate-training-background-image">
    <div id = "marquee" class="container">
      <div class="row">
        <div class="marquee-content clearfix">
          <div class="col-md-12">
            <img class="logo corporate-logo" src="<%= asset_path 'corporate_training_logo.png'%>">
          </div>
          <div class="col-md-12">
            <h3>Top-notch training for teams in full-stack web development</h3><br>
          </div>
          <p>Our corporate training program certifies your team as full-stack software developers. With a customized curriculum, our experienced educators coach trainees at any level of technical expertise in the skills that apply to your organization’s technology and software, driving efficiency and increasing revenue.</p><br />
          <div class="row">
            <div class="col-md-12">
              <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
            </div>
          </div>
        </div> <!-- Ends row for Corporate Training Intro" -->
      </div>
    </div>
  </div>

  <div class="our-program-wrapper page-wrapper">
    <div class="home-section">
      <div class="row">
        <div class="col-md-12 our-program">
          <div class="section-header">
            <h2 class = "actualize-logo">Program</h2>
          </div>
          <div class="phase">
            <div class="phase-block col-6-xs phase-border">
              <div class="phase-point-right"></div>
                <h2>Training Philosophy</h2><br>
                <p>At Anyone Can Learn To Code, we are educators who understand how people learn. We bring our classroom to your company, bridging the gap between traditional education and your company’s organizational and revenue goals. Our training produces developers who not only have a full stack of skills, but who can apply their knowledge to your technology and software as well as your clients’.</p>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_karen.png'%>">
            </div>
          </div>
          <div class="phase">
            <div class="phase-block col-6-md phase-border">
              <div class="phase-point-right"></div>
                <h2>Customizable Program</h2><br>
                <p>The ACLTC Corporate Training program is fully customizable based on your team’s needs and goals. We collaborate with you to design an ideal curriculum focused on your organization’s production and revenue goals. We’ll work together to choose the technologies and frameworks raught, a program schedule (including length in weeks and hours in class per day), and deliverables.</p>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_ny_trevor.png'%>">
            </div>
          </div>
          <div class="phase">
            <div class="phase-block col-6-md phase-border">
              <div class="phase-point-right"></div>
                <h2>Outcomes</h2><br>
                <p>After completing our training program, your team of developers will be certified as full-stack developers. They will be proficient in all technologies and frameworks taught throughout the course, familiar with industry best practices, strategies, and methodologies, and able to work efficiently and effectively together to develop excellent products for your organization and for your clients.</p>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_terry.png'%>">
            </div>
          </div>
        </div> <!-- col-12 -->
      </div> <!-- /row -->
      <div class="row">
        <div class="col-12-md centered">
          <div class="col-md-12 centered">
            <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
          </div>
        </div>
      </div>
    </div> <!-- home-section -->
  </div> <!-- our-program-wrapper close corporate training description-->

  <div class="curriculum-wrapper page-wrapper">
    <div class="home-section">
      <div class="row">
        <div class="col-md-12 skills">
          <div class="section-header">
            <h2 class = "acltc-new-logo-circular">Curriculum</h2>
            <p>Learn the fundamentals and gain proficiency with:</p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'ruby_icon.png'%>">
                <h3>Ruby</h3>
              </div> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'rails_icon.png'%>">
                <h3>Rails</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'node_js_icon.png'%>">
                <h3>NodeJS <br />&nbsp; </h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'python_icon.png'%>">
                <h3>Python</h3>
              </div>
            </div>
          </div> <!-- ends 1st row -->
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'angular_icon.png'%>">
                <h3>AngularJS</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'express_icon.png'%>">
                <h3>Express</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'javascript_icon.png'%>">
                <h3>JavaScript</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <%= image_tag "jquery_icon.png", class: "curriculum-icon" %>
                <h3>jQuery</h3>
              </div>
            </div>
          </div> <!--- ends 2nd row -->
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'html_icon.png'%>">
                <h3>HTML</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'css_icon.png'%>">
                <h3>CSS</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'mongodb_icon.png'%>"><br />
                <h3>MongoDB</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'git_icon.png'%>">
                <h3>Git</h3>
              </div>
            </div>
          </div>
          <br /><br>
          <p class ="after-word">Our training includes more than instruction. Best practices implemented throughout all modules include Understanding by Design (UbD), Guided Practice, Peer Review, Analysis & Evaluation, Collaboration, and Group & Independent Work.</p><br />
          <br />          
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- home section -->
  </div><!-- curriculum wrapper close -->
<!--   <div class="locations-wrapper page-wrapper">
    <div class="home-section">
      <div class="section-header">
        <h2 class = "acltc-new-logo-circular">Curriculum Stats</h2>
      </div>
      <div class="row">
        <div class="corporate-charts">
          <h3 class="text-center">Programming Language Popularity on GitHub</h3><br>
          <div id="github-stats" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="testimonial-wrapper page-wrapper">
    <div class="home-section centered">
      <div class="row">
        <h2 class = "actualize-logo">Trainers</h2>
        <div class="col-md-6 border-right">
          <img class="logo" src="<#%= asset_path 'alumni-colleen-mcguckin.png'%>">
          <div class="testimonial">
            <strong>Colleen McGuckin</strong>
            <p>
              “I attended ACLTC in to make a career pivot and become a Junior Developer. The course was well-structured, covered a TON of different stuff with just enough depth to be dangerous, and the teaching staff is clearly passionate about the success of their students. Deciding to attend ACLTC was the best career decision I have made."

            </p>
          </div>
        </div>
        <div class="col-md-6 border-right">
          <img class="logo" src="<#%= asset_path 'alumni-trent-childers.png'%>">
          <div class="testimonial">
            <strong>Trent Childers</strong>
            <p>
              "Attending Anyone Can Learn to Code has been one of the best decisions I've ever made. The staff has developed an excellent curriculum... [and] the coursework is intensive and challenging but never overwhelming. As a result of ACLTC, I have now begun a new and exciting career in web development. If you are looking to make a career change into the world of development, you can do no better than Anyone Can Learn to Code. Highly recommended."
            </p>
          </div>
        </div>
        <div class="col-md-6 border-right">
          <img class="logo" src="<#%= asset_path 'alumni-colleen-mcguckin.png'%>">
          <div class="testimonial">
            <strong>Colleen McGuckin</strong>
            <p>
              “I attended ACLTC in to make a career pivot and become a Junior Developer. The course was well-structured, covered a TON of different stuff with just enough depth to be dangerous, and the teaching staff is clearly passionate about the success of their students. Deciding to attend ACLTC was the best career decision I have made."

            </p>
          </div>
        </div>
        <div class="col-md-6">
          <img class="logo" src="<#%= asset_path 'alumni-mark-bouslog.png'%>">
          <div class="testimonial">
            <strong>Mark Bouslog</strong>
            <p>
                "With the technical skills, job placement assistance and infectious passion for programming from ACLTC, I was able to successfully shift careers from accounting to a dream job in web development. Looking back on the experience, the people (instructor, TAs, job-placement staff, etc.) and learning the mindset to become a programmer were the most valuable aspects of the experience. It was difficult, but also so much fun. I would highly recommend ACLTC.”

            </p>
          </div>
        </div>
        <div class="col-md-12 centered">
          <#%= link_to "Schedule Consultation", new_application_path, class: "btn", id: "top-application-button" %>
        </div>
      </div>
    </div>
  </div> -->
  <div class="apprenticeship-wrapper page-wrapper">
    <div class="home-section">
      <div class="section-header">
        <h2 class = "acltc-new-logo-circular">Training Locations</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="location text-center">
            <img class="logo" src="<%= asset_path 'chicago.png'%>"><br />
            <h3>Chicagoland</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="location text-center">
            <img class="logo" src="<%= asset_path 'nyc.png'%>"><br />
            <h3>NYC Metropolitan Area</h3>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="location text-center">
            <img class="logo" src="<%= asset_path 'san-francisco.png'%>"><br />
            <h3>San Francisco Bay Area</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="more-corp-locations">
          <h3 class="text-center">Interested in another location? Contact us to learn more</h3>
        </div>
        <div class="col-md-12 centered">
          <%= link_to "Schedule Consultation", new_application_path, class: "btn", id: "top-application-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
