<div id="corporate-training-home-page">
  <div class="marquee corporate-training-background-image">
    <div id = "marquee" class="container">
      <div class="row">
        <div class="marquee-content clearfix">
          <div class="col-md-12">
            <img class="logo corporate-logo" src="<%= asset_path 'corporate_training_logo_header.png'%>">
          </div>
          <div class="col-md-12">
            <h3>Top-notch training for teams in full-stack web development</h3><br>
          </div>
          <p>Our corporate training program certifies your team as full-stack software developers. With a customized curriculum, our experienced educators coach trainees at any level of technical expertise in the skills that apply to your organization’s technology and software, driving efficiency and increasing revenue.</p><br />
          <div class="row">
            <div class="col-md-12">
              <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
            </div>
            <br>
          </div>
        </div> <!-- Ends row for Corporate Training Intro" -->
      </div>
    </div>
  </div>

  <div class="our-program-wrapper page-wrapper">
    <div class="home-section">
      <div class="row">
        <div class="col-md-12 our-program">
        <!--   <div class="section-header">
            <h2 class = "acltc-penguin-logo-small">Program</h2>
          </div> -->
          <div class="phase">
            <div class="phase-block col-6-xs phase-border">
              <div class="phase-point-right"></div>
                <h2>Training Philosophy</h2><br>
                <p class="text-left">At Anyone Can Learn To Code, we are educators who understand how people learn. We bring our classroom to your company, bridging the gap between traditional education and your company’s organizational and revenue goals. Our training produces full-stack developers not only with a broad set of coding skills, but who can apply their knowledge to your technology as well as your clients’ own.</p>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_karen.png'%>">
            </div>
          </div>
          <div class="phase">
            <div class="phase-block col-6-md phase-border">
              <div class="phase-point-right"></div>
                <h2>Customizable Program</h2><br>
                <p class="text-left">The ACLTC Corporate Training program is fully customizable based on your team’s needs and goals. We collaborate with you to design an ideal curriculum focused on your organization’s production and revenue goals. We’ll work together to choose the technologies and frameworks taught, a program schedule (including length in weeks and hours in class per day), and deliverables.</p>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_ny_trevor.png'%>">
            </div>
          </div>
          <div class="phase">
            <div class="phase-block col-6-md phase-border">
              <div class="phase-point-right"></div>
                <h2>Outcomes</h2><br>
                <p class="text-left">After completing our training program, your team of developers will be certified as full-stack developers. They will be:</p>
                <ul>
                  <li class="text-left outcome-text">Proficient in all technologies and frameworks taught throughout the course</li>
                  <li class="text-left outcome-text">Familiar with industry best practices, strategies, and methodologies</li>
                  <li class="text-left outcome-text">Able to work efficiently and effectively together to develop excellent products for your organization and for your clients</li>
                </ul>
            </div>
            <div class="phase-block col-6-md">
              <img class="philosophy-icon" src="<%= asset_path 'corporate_training_terry.png'%>">
            </div>
          </div>
        </div> <!-- col-12 -->
      </div> <!-- /row -->
      <div class="row">
        <div class="col-12-md centered">
          <div class="col-md-12 centered">
            <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
          </div>
        </div>
      </div>
    </div> <!-- home-section -->
  </div> <!-- our-program-wrapper close corporate training description-->

  <div class="curriculum-wrapper page-wrapper">
    <div class="home-section">
      <div class="row">
        <div class="col-md-12 skills">
          <div class="section-header">
            <h2 class = "acltc-new-logo-circular">Curriculum & Instruction</h2>
            <p>Below are the technologies, frameworks, and skills in which Anyone Can Learn To Code trains web developers. Your team’s curriculum is fully customizable, leaving your programmers proficient in any of the following:</p>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'ruby_icon.png'%>">
                <h3>Ruby</h3>
              </div> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'rails_icon.png'%>">
                <h3>Rails</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'node_js_icon.png'%>">
                <h3>NodeJS <br />&nbsp; </h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'python_icon.png'%>">
                <h3>Python</h3>
              </div>
            </div>
          </div> <!-- ends 1st row -->
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'angular_icon.png'%>">
                <h3>AngularJS</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'express_icon.png'%>">
                <h3>Express</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'javascript_icon.png'%>">
                <h3>JavaScript</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <%= image_tag "jquery_icon.png", class: "curriculum-icon" %>
                <h3>jQuery</h3>
              </div>
            </div>
          </div> <!--- ends 2nd row -->
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'html_icon.png'%>">
                <h3>HTML</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'css_icon.png'%>">
                <h3>CSS</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'mongodb_icon.png'%>"><br />
                <h3>MongoDB</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="skill gray-skill-wrapper border-bottom-yellow">
                <img class="curriculum-icon" src="<%= asset_path 'git_icon.png'%>">
                <h3>Git</h3>
              </div>
            </div>
          </div>
          <br /><br>
          <p class ="after-word">Educational best practices and pedagogy remain a strong focus throughout the ACLTC Corporate Training program. Throughout all training modules, our educator-instructors implement a philosophy that includes Understanding by Design (UbD), Guided Practice, Peer Review, Analysis & Evaluation, Collaboration, and Group & Independent Work.</p><br />
          <br />          
        </div> <!-- col-12 -->
      </div> <!-- row -->
    </div> <!-- home section -->
  </div><!-- curriculum wrapper close -->
<!--   <div class="locations-wrapper page-wrapper">
    <div class="home-section">
      <div class="section-header">
        <h2 class = "acltc-new-logo-circular">Curriculum Stats</h2>
      </div>
      <div class="row">
        <div class="corporate-charts">
          <h3 class="text-center">Programming Language Popularity on GitHub</h3><br>
          <div id="github-stats" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="testimonial-wrapper page-wrapper">
    <div class="home-section centered">
      <div class="row">
        <h2 class = "acltc-penguin-logo-small corporate-trainers">Trainers</h2>
        <div class="col-md-4 border-right">
          <img class="logo" src="<%= asset_path 'corporate_trainer_peter.png'%>">
          <div class="testimonial">
            <h3>Peter Jang</h3>
            <h4>Dean of Instruction & Chicago Lead Instructor</h4>
            <p>
              Peter Jang is the Dean of Instruction and a lead instructor at the Chicago location of Actualize, ACLTC’s coding school & apprenticeship program. He has worked at several startups, taught high school for six years, authored and maintained AvsP (an open-source video editor), and worked as a mechanical engineering consultant for a Fortune 500 company. He is also well-known in the Chicago Pilsen neighborhood karaoke circuit for his performances in both English and Spanish.
            </p>
          </div>
        </div>
        <div class="col-md-4 border-right">
          <img class="logo" src="<%= asset_path 'corporate_trainer_mark.png'%>">
          <div class="testimonial">
            <h3>Mark Richardson</h3>
            <h4>San Francisco Lead Instructor</h4>
            <p>
              For more than half a decade, Mark taught English as a Second Language to adults in Japan, Spain, Russia, Korea, and Chile. After returning to the States, he began his career as a full-stack developer, working for a startup in Chicago. It wasn’t long before he got the itch to combine his two loves: teaching and web development. Mark is currently the Lead Instructor in San Francisco for Actualize, ACLTC’s coding school & apprenticeship program.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <img class="logo" src="<%= asset_path 'corporate_trainer_josh.png'%>">
          <div class="testimonial">
            <h3>Josh Nixon</h3>
            <h4>Chicago Lead Instructor</h4>
            <p>
              Before making the switch to a serious coding career in 2013, Josh spent a little over a decade working as an entertainer in Los Angeles, starting with a BA in Theatre Arts. During that time he facilitated creativity workshops, taught improv classes, and coached privately for public speaking. After many years of playing with code Josh made it a career, working as a private consultant for phone and web applications. Before joining the Actualize program as a Lead Instructor, Josh was the Lead Rails Instructor at Code Chicago. He also has an affinity for robots.
            </p>
          </div>
        </div>
        <div class="col-md-12 centered">
          <%= link_to "Schedule Consultation", new_corporate_training_message_path, class: "btn", id: "top-application-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
