<%= render "/layouts/page_title", page_title: "Corporate Training Messages", page_subtitle: "" %>
<section id="content">
  <div class="content-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= link_to "Download Corporate Messages CSV", corporate_training_messages_path(format: "csv"), :class => 'button btn-secondary csv-button'  %>
        <table class="table table-striped">
          <tr>
            <th>Company Name</th>
            <th>Message Sent</th> 
            <th>Email</th>
            <th>Start Date</th>
            <th>Training Location</th>
          </tr>
          <% @corporate_training_messages.each do |corporate_training_message| %>
          <tr>
            <td><%= link_to corporate_training_message.company_name, corporate_training_message_path(corporate_training_message) %></td>
            <td><%= corporate_training_message.friendly_updated_at %></td> 
            <td><%= corporate_training_message.email %></td>
            <td><%= corporate_training_message.friendly_start_date %></td>
            <td><%= corporate_training_message.training_location %></td>
          </tr>
          <% end %>
        </table>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>