<%= render "/layouts/page_title", page_title: "Corporate Training Message", page_subtitle: "" %>
<section id="content">
  <div class="content-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <%= link_to "Back to Index", corporate_training_messages_path %>
        <table class="table table-striped">
          <tr>
            <th>Company Name:</th>
            <th><%= @corporate_training_message.company_name %></th> 
          </tr>
          <tr>
            <th>Address One:</th>
            <th><%= @corporate_training_message.address_1 %></th> 
          </tr>
          <tr>
            <th>Address Two:</th>
            <th><%= @corporate_training_message.address_2 %></th> 
          </tr>
          <tr>
            <th>City:</th>
            <th><%= @corporate_training_message.company_city %></th> 
          </tr>
          <tr>
            <th>State:</th>
            <th><%= @corporate_training_message.state %></th> 
          </tr>
          <tr>
            <th>Company Contact:</th>
            <th><%= @corporate_training_message.company_contact%></th> 
          </tr>
          <tr>
            <th>Company Contact Title:</th>
            <th><%= @corporate_training_message.company_contact_title %></th> 
          </tr>
          <tr>
            <th>Email:</th>
            <th><%= @corporate_training_message.email %></th> 
          </tr>
          <tr>
            <th>Phone:</th>
            <th><%= @corporate_training_message.phone %></th> 
          </tr>
          <tr>
            <th>Team Size:</th>
            <th><%= @corporate_training_message.team_size %></th> 
          </tr>
          <tr>
            <th>Start Date:</th>
            <th><%= @corporate_training_message.friendly_start_date %></th> 
          </tr>
          <tr>
            <th>Training Location:</th>
            <th><%= @corporate_training_message.training_location %></th> 
          </tr>
          <tr>
            <th>Languages and Frameworks:</th>
            <% interests = "" %>
            <% @corporate_training_message.field_of_interests.each do |interest| %>
              <% interests = interests + interest.name + " " %>
            <% end %>
            <td><%= interests %></td>
          </tr>
          <tr>
            <th>Message:</th>
            <th><%= @corporate_training_message.message %></th> 
          </tr>          
          <tr>
            <th>Message Sent:</th>
            <th><%= @corporate_training_message.friendly_updated_at %></th> 
          </tr>
        </table>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>