<% content_for :head do %>
  <title>Apply for Actualize part-time coding bootcamp</title>
  <meta name="description" content='Application for Actualize coding school and apprenticeship program.'>
<% end %>

<section class="page-title page-title-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Apply to Actualize</h3>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <ol class="breadcrumb breadcrumb-2">
        <li>
          <% if @referral == "wwcode" %>
            <span>
              Actualize has partnered with Women Who Code to offer three 50%-off <br>scholarships for our upcoming Online Live Cohort!
            </span>
          <% else %>
            <span>
              Thank you for your interest in applying to Actualize.<br>
              Please enter the following information so we can get started!
            </span>
          <% end %>
        </li>
    </ol>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <%= form_tag '/subscribers_application', method: :post, class: "form-validate", data: {success: "Thanks for your submission.", error: "Please fill all fields correctly."} do %>
                  <div class="input-with-label text-left">
                    <%= label_tag :first_name, "First Name" %>
                    <%= text_field_tag :first_name, @subscriber.first_name, class: "validate-required" %>
                  </div>
                  <div class="input-with-label text-left">
                    <%= label_tag :email, "Email Address" %>
                    <%= text_field_tag :email, @subscriber.email, class: "validate-required validate-email" %>
                  </div>
                  <div class="input-with-label text-left">
                    <%= label_tag :phone, "Phone Number" %>
                    <%= text_field_tag :phone, @subscriber.phone, class: "validate-required" %>
                  </div>
                    <%= hidden_field_tag :mousetrap, nil, :value => "Started Application" %>
                    <% if @referral %>
                      <%= hidden_field_tag :referral, nil, :value => @referral %>
                    <% end %>
                  <div class="form-group">
                    <%= submit_tag "Get Started!", class: "button button-3d nomargin nopadding" %>
                  </div>
                <% end %>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!-- Google Code for Page One of Application Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 926873760;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "WZmVCI3owmgQoPH7uQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/926873760/?label=WZmVCI3owmgQoPH7uQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
