<%= render "/layouts/page_title", page_title: "Subscribers", page_subtitle: "" %>
<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="chart">
  <h4>Total Subscribers Per Month</h4>
  <%= line_chart Subscriber.group_by_month(:created_at, format: "%b %Y", last: 11).count, colors: ["#18A497"], discrete: true, xtitle: "Month", ytitle: "Number of Subscribers" %>
</div>

<div class="chart">
  <h4>Subscribers Per Month by Location (not working)</h4>
  <%= line_chart Subscriber.group(:mousetrap).group_by_month(:created_at, format: "%b %Y", last: 11).count, discrete: true, xtitle: "Month", ytitle: "Number of Subscribers" %>
</div>

<div class="chart">
  <h4>Mousetraps Triggered</h4>
  <%= pie_chart Subscriber.group(:mousetrap).where.not(:mousetrap => nil).count %>
</div>

<section id="content">
  <div class="content-wrap dash-wrap">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= link_to "Download Subscribers CSV", subscribers_path(format: "csv"), :class => 'button btn-secondary csv-button'  %>
        <%= form_tag subscribers_path, method: :get, :id => "subscribers-index-search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
        <% end %>
        <div id="subscribers-index-table">

          <%= render 'subscribers' %>
        </div>
        
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>