<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="postcontent nobottommargin clearfix">
        <div class="single-post nobottommargin">
          <div class="entry clearfix">
            <div class="col_full portfolio-single-image">
              <!-- VIDEO CONTENT -->
              <iframe width="500" height="315" src="https://www.youtube.com/embed/R092R-1sG2Y" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="tutorial-content" class="entry-content notopmargin">
              <div class="fancy-title title-dotted-border title-center">
                <h2><%= @lesson_title %></h2>
              </div>
              <!-- BODY START -->
              <h3>Exercises</h3>
              <ol>
                <li>Recreate the dog class and add the name method will all of the random side effects we put in. What happens if you switch the order of the lines, and put return “Fido” first, and all the other side effects afterwards? Why do you think this is?</li>
              </ol>
              <%= render 'form_solutions.html.erb' %>
              <!-- BODY END -->
              <div class="clear"></div>
              <br>
              <%= render 'share_buttons.html.erb' %>
            </div>
          </div>
          <%= render 'post_navigation.html.erb' %>
          <div class="line"></div>
        </div>
      </div>
      <div class="sidebar nobottommargin col_last clearfix">
        <div class="sidebar-widgets-wrap">
          <%= render 'next_lessons.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</section>
