<table style="max-width: 800px;">
  <th><H2>Hello! We received an application for <%= @application.location %>! </h2></th>
  <tr>
    <td><strong>First Name:</strong> <%= @application.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name:</strong> <%= @application.last_name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong> <%= @application.email %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong> <%= @application.phone %></td>
  </tr>
  <tr>
    <td><strong>Google Hangouts Email:</strong> <%= @application.hangouts_email %></td>
  </tr>
  <tr>
    <td><strong>Interview Scheduled For:</strong> <%= @application.interview.interview_date_human %></td>
  </tr>
  <tr>
    <td><strong>Location Applying To:</strong> <%= @application.location %></td>
  </tr>
  <tr>
    <td><h3>How they learned about ACLTC:</h3> <%= @application.learn_about_acltc %> <%= @application.learn_about_acltc_specify %></td>
  </tr>
  <tr>
    <td><h3>What they are currently doing (job, school, etc.):</h3> <%= @application.current_occupation %></td>
  </tr>
  <tr>
    <td><h3>Applying for Scholarship?</h3> <%= @application.scholarship_applicant %></td>
  </tr>
  <% if @application.scholarship_applicant == true %>
    <tr>
      <td><h3>How they learned about the scholarship:</h3> <%= @application.learn_about_scholarship %></td>
    </tr>
    <tr>
      <td><h3>Scholarship category:</h3> Woman: <%= @application.woman %> <br /> Minority: <%= @application.minority %> </td>
    </tr>
    <tr>
      <td><h3>Why they deserve the scholarship:</h3> <%= @application.why_scholarship %></td>
    </tr>
    <tr>
      <th>What are their dreams and goals?:</th>
      <td><%= @application.dreams_and_goals %></td>
    </tr>
    <tr>
      <th>How they plan to achieve those goals to change their life for them, and for those around them?:</th>
      <td><%= @application.how_will_you_achieve_goals %></td>
    </tr>
    <tr>
      <th>What is their target date for achieving their goals and reaching your dreams?:</th>
      <td><%= @application.target_date %></td>
    </tr>
    <tr>
      <th>Why are they the perfect candidate for ACLTC?:</th>
      <td><%= @application.why_are_you_the_perfect_candidate %></td>
    </tr>
  <% end %>
  <tr>
    <td><h3>Primary Goals:</h3> <%= @application.primary_goals %></td>
  </tr>
  <tr>
    <td><h3>Previous Coding Experience:</h3> <%= @application.programming_experience %></td>
  </tr>
  <tr>
    <td><h3>City where they will seek employment:</h3> <%= @application.preferred_work_location %></td>
  </tr>
  <tr>
    <td><h3>How they will manage work and the bootcamp:</h3> <%= @application.work_concurrently %></td>
  </tr>
  <tr>
    <td><h3>Analytical/Tinkering Examples:</h3><%= @application.tinker_example %></td>
  </tr>
  <tr>
    <td><h3>What sets them apart:</h3><%= @application.why_better %></td>
  </tr>

</table>