<h1>You've received a message via the ACLTC corporate training form:</h1>
<table>
  <tr>
    <td>Company Name:</td>
    <td><%= @corporate_training_message.company_name %></td>
  </tr>
  <tr>
    <td>Address One:</td>
    <td><%= @corporate_training_message.address_1 %></td>
  </tr>
  <tr>
    <td>Address Two:</td>
    <td><%= @corporate_training_message.address_2 %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @corporate_training_message.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @corporate_training_message.state %></td>
  </tr>
  <tr>
    <td>Contact First Name:</td>
    <td><%= @corporate_training_message.contact_first_name %></td>
  </tr>
  <tr>
    <td>Contact Last Name:</td>
    <td><%= @corporate_training_message.contact_last_name %></td>
  </tr>
  <tr>
    <td>Company Contact Title:</td>
    <td><%= @corporate_training_message.contact_title %></td>
  </tr>
  <tr>
    <td>Contact Email:</td>
    <td><%= @corporate_training_message.contact_email %></td>
  </tr>
  <tr>
    <td>Contact Phone:</td>
    <td><%= @corporate_training_message.contact_phone %></td>
  </tr>
  <tr>
    <td>Team Size:</td>
    <td><%= @corporate_training_message.team_size %></td>
  </tr>
  <tr>
    <td>Start Date:</td>
    <td><%= @corporate_training_message.friendly_start_date %></td>
  </tr>
  <tr>
    <td>Training City:</td>
    <td><%= @corporate_training_message.training_city %></td>
  </tr>
  <tr>
    <td>Training State:</td>
    <td><%= @corporate_training_message.training_state %></td>
  </tr>
  <tr>
    <td>Fields of Interest:</td>
    <% interests = "" %>
    <% @corporate_training_message.field_of_interests.each do |interest| %>
      <% interests = interests + interest.name + " " %>
    <% end %>
    <td><%= interests %></td>
  </tr>
  <tr>
    <td>Message:</td>
    <td><%= @corporate_training_message.message %></td>
  </tr>
</table>