<h1>You've received a message via the ACLTC corporate training form:</h1>
<table>
  <tr>
    <td>Company Name:</td>
    <td><%= @corporate_training_message.company_name %></td>
  </tr>
  <tr>
    <td>Address One:</td>
    <td><%= @corporate_training_message.address_1 %></td>
  </tr>
  <tr>
    <td>Address Two:</td>
    <td><%= @corporate_training_message.address_2 %></td>
  </tr>
  <tr>
    <td>Company City:</td>
    <td><%= @corporate_training_message.company_city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @corporate_training_message.state %></td>
  </tr>
  <tr>
    <td>Company Contact:</td>
    <td><%= @corporate_training_message.company_contact %></td>
  </tr>
  <tr>
    <td>Company Contact Title:</td>
    <td><%= @corporate_training_message.company_contact_title %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @corporate_training_message.email %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= @corporate_training_message.phone %></td>
  </tr>
  <tr>
    <td>Team Size:</td>
    <td><%= @corporate_training_message.team_size %></td>
  </tr>
  <tr>
    <td>Start Date:</td>
    <td><%= @corporate_training_message.friendly_start_date %></td>
  </tr>
  <tr>
    <td>Training Location:</td>
    <td><%= @corporate_training_message.training_location %></td>
  </tr>
  <tr>
    <td>Fields of Interest:</td>
    <% interests = "" %>
    <% @corporate_training_message.field_of_interests.each do |interest| %>
      <% interests = interests + interest.name + " " %>
    <% end %>
    <td><%= interests %></td>
  </tr>
  <tr>
    <td>Message:</td>
    <td><%= @corporate_training_message.message %></td>
  </tr>
</table>