<table style="max-width: 800px;">
  <th><H2>Hello! We received an application from Lakewood! </h2></th>
  <tr>
    <td><strong>First Name:</strong> <%= @lakewood_application.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name:</strong> <%= @lakewood_application.last_name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong> <%= @lakewood_application.email %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong> <%= @lakewood_application.phone %></td>
  </tr>
  <tr>
    <td><strong>Location Applying To:</strong> <%= @lakewood_application.location %></td>
  </tr>
  <tr>
    <td><h3>How they learned about Actualize:</h3> <%= @lakewood_application.learn_about_acltc %> <%= @lakewood_application.learn_about_acltc_specify %></td>
  </tr>
  <tr>
    <td><h3>Are they currently a student? </h3> <%= @lakewood_application.currently_a_student %></td>
  </tr>
  <% if @lakewood_application.currently_a_student == "Yes" %>
    <tr>
      <td><h3>Student part-time or full-time: </h3> <%= @lakewood_application.student_part_or_full_time %></td>
    </tr>
    <tr>
      <td><h3>Institution Name: </h3> <%= @lakewood_application.institution_name %></td>
    </tr>
    <tr>
      <td><h3>Institution Location: </h3> <%= @lakewood_application.institution_location %></td>
    </tr>
    <tr>
      <td><h3>Will they continue to be a student during the bootcamp: </h3> <%= @lakewood_application.student_concurrently %></td>
    </tr>
  <% end %>
  <tr>
    <td><h3>Are they currently employed? </h3> <%= @lakewood_application.currently_employed %></td>
  </tr>
  <% if @lakewood_application.currently_employed == "Yes" %>
    <tr>
      <td><h3>Employed part-time or full-time: </h3> <%= @lakewood_application.employed_part_or_full_time %></td>
    </tr>
    <tr>
      <td><h3>Employer Name: </h3> <%= @lakewood_application.employer_name %></td>
    </tr>
    <tr>
      <td><h3>Employer Location: </h3> <%= @lakewood_application.employer_location %></td>
    </tr>
    <tr>
      <td><h3>Will they continue to work during the bootcamp: </h3> <%= @lakewood_application.employed_concurrently %></td>
    </tr>
  <% end %>
  <tr>
    <td><h3>Primary Goals:</h3> <%= @lakewood_application.primary_goals %></td>
  </tr>
  <tr>
    <td><h3>Proficiency With Computers and Technology:</h3> <%= @lakewood_application.proficiency_with_computers_and_technology %></td>
  </tr>
  <tr>
    <td><h3>Previous Coding Experience:</h3> <%= @lakewood_application.programming_experience %></td>
  </tr>
  <tr>
    <td><h3>Analytical/Tinkering Examples:</h3><%= @lakewood_application.tinker_example %></td>
  </tr>
  <tr>
    <td><h3>What sets them apart:</h3><%= @lakewood_application.why_better %></td>
  </tr>
</table>