<table style="max-width: 800px;">
  <th><h2>Hello! We received an scholarship application.</h2></th>
  <tr>
    <td><strong>Name:</strong> <%= @scholarship.full_name %></td>
  </tr>
  <tr>
    <td><strong>Email Address:</strong> <%= @scholarship.email %></td>
  </tr>
  <tr>
    <td><strong>What are your dreams and goals?:</strong> <%= @scholarship.dreams_and_goals %></td>
  </tr>
  <tr>
    <td><strong>How will achieving these goals change your life for you and the people around you?</strong> <%= @scholarship.change_your_life %></td>
  </tr>
  <tr>
    <td><strong>Why are you the perfect candidate for Actualize?</strong> <%= @scholarship.perfect_candidate %></td>
  </tr>
</table>