<h1>You've received a message via the ACLTC Subscriber Mousetrap</h1>
<table>
  <tr>
    <td><strong>First Name:</strong> <%= @subscriber.first_name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong> <%= @subscriber.email %></td>
  </tr>
  <tr>
    <td><strong>Mousetrap:</strong> <%= @subscriber.mousetrap %></td>
  </tr>
  <tr>
    <td><strong>City:</strong> <%= @subscriber.city %></td>
  </tr>
  <tr>
    <td><strong>State:</strong> <%= @subscriber.state %></td>
  </tr>
  <tr>
    <td><strong>Postal Code:</strong> <%= @subscriber.postal_code %></td>
  </tr>
</table>