<table style="max-width: 800px;">
  <th><H2>Hello! We received a tour request for <%= @tour.city %>! </h2></th>
  <tr>
    <td><strong>First Name:</strong> <%= @tour.first_name %></td>
  </tr>
  <% if @tour.last_name %>
    <tr>
      <td><strong>Last Name:</strong> <%= @tour.last_name %></td>
    </tr>
  <% end %>  
  <tr>
    <td><strong>Email:</strong> <%= @tour.email %></td>
  </tr>
  <tr>
    <td><strong>Phone:</strong> <%= @tour.phone %></td>
  </tr>
  <% if @tour_city %>
    <tr>
      <td><strong>City:</strong> <%= @tour_city %></td>
    </tr>
  <% end %>
  <% if @tour_state %>
    <tr>
      <td><strong>State:</strong> <%= @tour_state %></td>
    </tr>
  <% end %>
  <% if @tour_postal_code %>
    <tr>
      <td><strong>Zip:</strong> <%= @tour_postal_code %></td>
    </tr>
  <% end %>
  <% if @tour_ip_address %>
    <tr>
      <td><strong>IP Address:</strong> <%= @tour_ip_address %></td>
    </tr>
  <% end %>
  <% if @tour.interview %>
    <tr>
      <td><strong>Tour Scheduled For:</strong> <%= @tour.interview.interview_date_human %></td>
    </tr>
  <% end %>
</table>