<%= render "/layouts/page_title", page_title: "Job Opening", page_subtitle: "To apply for this position email: careers@anyonecanlearntocode.com" %>
<div id="job-openings-show">
  <section id="content">
    <div class="content-wrap dash-wrap">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="application-links">
            <%= link_to "Back to Careers", careers_path, class: "btn btn-success left-link" %>
            <% if current_admin %>
              <%= link_to "Edit", edit_job_opening_path(@job_opening), class: "btn btn-warning right-link" %>
              <%= link_to 'Delete', job_opening_path(@job_opening), method: :delete, data: { confirm: 'Are you sure you want to delete this job listing?' }, class: "btn btn-danger right-link" %>
            <% end %>
          </div>
          <br>

          <div class="job-opening-description">
            <h2 class="text-center" id="job-opening-yellow"><%= @job_opening.title %></h2>
            <br>
            <h3>Location: <span class="job-details"><%= @job_opening.location %></span></h3>
            <h3>Salary: <span class="job-details"><%= @job_opening.salary %></span></h3>
            <h3>Description</h3>
            <%= @job_opening.description.html_safe %>
            <h2 class="text-center" id="job-opening-yellow">To apply for this position email: careers@anyonecanlearntocode.com</h2>
          </div>
        </div>
        <br>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>
</div>
