<!DOCTYPE html>
<html>
<head>
  <title>Anyone Can Learn To Code</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
</head>
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">


    <header id="header" class="transparent-header no-sticky">

      <div id="header-wrap">

        <div class="container clearfix">

          <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

          <!-- Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo" data-dark-logo="assets/theme/acltc_logo.png"><%= image_tag "acltc_logo.png", height: 25 %></a>
            <a href="/" class="retina-logo" data-dark-logo="assets/theme/acltc-logo-180"><%= image_tag "acltc-logo-180.png" %></a>
          </div><!-- #logo end -->


          <!-- Primary Navigation
          ============================================= -->
          <%= render 'shared/navbar' %>

        </div>

      </div>

    </header><!-- #header end -->

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>


    <%= render 'shared/inspectlet' %>
    <%= render 'shared/ga' %>
    <%= render 'shared/footer' %>

  </div><!-- #wrapper end -->


  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>
  <script src="<%= asset_path 'theme/functions.js'%>"></script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5755f5519dc2d76c10669eac/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <!-- Drip -->
  <script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '7528430';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/7528430.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
  </script>
  <!-- End Drip -->
</body>
</html>
