<!DOCTYPE html>
<html>
<head>
   <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% else %>
    <title> Actualize | Anyone Can Learn To Code </title>
    <meta name="description" content='Actualize is a code school and apprenticeship that mentors you from start to finish in transforming yourself into a software developer. With our guidance and your drive, you will gain the skills and real world experience to launch a career that will change your life.'>
  <% end %>
 <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= favicon_link_tag %>
   <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PSGDCB4');</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSGDCB4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</head>
<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="container" class="clearfix">


    <header id="header" class="transparent-header no-sticky">

      <div id="header-wrap">

                   <!-- Primary Navigation
             ============================================= -->
             <nav class="navbar navbar-default navigation">
               <div class="container">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
                       <a class="navbar-brand" href="/">
                         <img class="logo" src="<%= asset_path 'acltc-logo-180.png'%>">
                       </a>
                       <!-- <a href="/" class="retina-logo" data-dark-logo="assets/theme/logo-dark@2x.png"><img src="assets/theme/logo@2x.png" alt="Canvas Logo"></a> -->
                 </div>

                 <!-- Collect the nav links, forms, and other content for toggling -->
       <%= render 'shared/navbar' %>
                 
               </div><!-- /.container-fluid -->
             </nav>

      </div>

    </header><!-- #header end -->

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>


    <%= render 'shared/inspectlet' %>
    <%= render 'shared/ga' %>
    <%= render 'shared/footer' %>

  </div><!-- #wrapper end -->


  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>
  <script src="<%= asset_path 'theme/functions.js'%>"></script>
  <!--Start of Tawk.to Script
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5755f5519dc2d76c10669eac/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  End of Tawk.to Script-->
  <!-- Drip -->
  <script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {};
  _dcs.account = '7528430';

  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true;
    dc.src = '//tag.getdrip.com/7528430.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
  </script>
  <!-- End Drip -->
<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
</body>
</html>
