<!--Theme places elements that can't easily abstracted into specific view, hence the specific layout -->

<!DOCTYPE html>
<html>
<head>
  <title>Anyone Can Learn To Code</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'home', media: 'all' %>
  <%= favicon_link_tag %>
  
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body class="stretched">
<div class="container">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
      <%= message %>  
    </div>
  <% end %>
</div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

      <% %>
  <!--     <section id="slider" class="slider-parallax full-screen with-header force-full-screen clearfix">

        <div class="full-screen force-full-screen" style="background: url('assets/class.jpg') center center no-repeat; background-size: 100% 100%;">

          <div class="container clearfix">
            <div class="emphasis-title vertical-middle center">
              
            </div>
          </div>

        </div>

      </section> -->

        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header">

          <div id="header-wrap">

            <!-- <div class="container clearfix"> -->
                    <!-- Logo
                    ============================================= -->

                    <!-- Primary Navigation
              ============================================= -->
              <nav class="navbar navbar-default navigation">
                <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="/">
                          <img class="logo" src="<%= asset_path 'acltc_logo.png'%>">
                        </a>
                        <!-- <a href="/" class="retina-logo" data-dark-logo="assets/theme/logo-dark@2x.png"><img src="assets/theme/logo@2x.png" alt="Canvas Logo"></a> -->
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><%= link_to "Home", root_path %></li>
                      <li><%= link_to "Apply", "http://goo.gl/forms/zrdY395j8w" %></li>
                      <li><%= link_to "Contact Us", new_contact_path %></li>
                      <li><%= link_to "FAQ", faqs_path %></li>
                      <li><%= link_to "Blog", blog_posts_path %></li>
                      <% if admin_signed_in? %>
                      <li><%= link_to "Admin", admins_dashboard_path %></li>
                      <li><%= link_to('Logout Admin', destroy_admin_session_path, method: :delete) %></li>
                      <% end %>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
          </div>

        </header><!-- #header end -->


        <%= yield %>

        <%= render 'shared/footer' %>

        </div><!-- #wrapper end -->

        <%= javascript_include_tag 'application' %>
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <script>
    $('.carousel').carousel({
        interval: 6000
    }) 
    </script>


  </body>
  </html>