<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <%= favicon_link_tag 'favicon.png' %>
        <% if content_for?(:head) %>
            <%= yield(:head) %>
        <% else %>
            <title>Actualize Coding Bootcamp</title>
            <meta name="description" content="Actualize is a coding bootcamp in the US that mentors you from start to finish in transforming yourself into a software developer. With our guidance and your drive, you will gain the skills and real world experience to launch a career that will change your life.">
        <% end %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag 'application-main', media: 'all'  %>
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <%= javascript_include_tag 'application-main', defer: true %>

        <% if content_for?(:ld_json) %>
            <%= yield(:ld_json) %>
        <% else %>
            <!-- For JSON-LD Schema -->
            <script type='application/ld+json'>
            {
                "@context": "https://www.schema.org",
                "@type": "School",
                "name": "Actualize Coding Bootcamp",
                "brand": "Actualize",
                "url": "http://anyonecanlearntocode.com",
                "description": "A top coding bootcamp in the US that mentors you from start to finish in transforming yourself into a software developer."
            }
            </script>
        <% end %>

        <% if content_for?(:social_media) %>
            <%= yield(:social_media) %>
        <% else %>
            
        <% end %>

    </head>
    <body class="scroll-assist">
        <div class="nav-container">
            <a id="top"></a>
            <nav class="absolute transparent">
                <div class="nav-bar">
                    <div class="module left">
                        <a class="logo" href="/">
                            ACTUALIZE
                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li class="">
                                    <a href="/apply">
                                        Apply Now
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/online-coding-bootcamp">
                                        Online Live Coding Bootcamp
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/chicago-coding-bootcamp">
                                        Chicago Coding Bootcamp
                                    </a>
                                </li>
                                <li>
                                    <a href="/contacts/new">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of menu module-->

                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>

        <div class="main-container">

            <%= yield %>
            <%= render 'shared/ga' %>

            <!-- Footer -->
            <footer class="footer-2 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            <a href="/">
                                <img alt="Actualize Coding Bootcamp" class="image-xs mb32 fade-on-hover" src="<%= asset_path('actualize-logo.png') %>" />
                            </a>
                            <h5 class="footer-logo fade-1-4">Actualize &copy; <%= Time.now.year %></h5>
                            <ul class="list-inline social-list mb0">
                                <li>
                                    <a href="/apply">
                                        Apply
                                    </a>
                                </li>
                                <li>
                                    <a href="/tutorial/lessons">
                                        Learn To Code Tutorials
                                    </a>
                                </li>
                                <li>
                                    <a href="/coding-bootcamps/community-info">
                                        Local Tech Community Finder
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog_posts">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="/contacts/new">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
            <!-- End of footer -->
        </div>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5755f5519dc2d76c10669eac/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '259824624775137');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=259824624775137&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
    </body>
</html>
